@charset "utf-8";

*{
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	box-sizing:border-box;
	border-collapse:collapse;
}

body {
	color:#000000;
	font-size:10px;
	line-height:1.75em;
	font-family: "メイリオ", "MS Pゴシック", sans-serif;
	-webkit-text-size-adjust:none;
	width:100%;
}

.none_padding 		{	padding-bottom:0 !important;		}

#container			{	position:relative;	width:100%;			z-index:1;		margin:0 auto;		background-color:#e1e1e1;	}
#item_title			{	position:relative;	padding:15px 12px;	font-size:1.6em;		font-weight:bold;	}

/* ------------------------------- */

.blockarea							{	position:relative;		padding:0 0 15px 0;	clear:both;		}
.blockarea_wrapper					{	position:relative;		}
.blockarea_header					{	display:table;			width:100%;			background-color:#f7f7f7;	border-bottom:1px solid #d9d9d9;	}
.blockarea_title					{	display:table-cell;		width:auto;			padding:10px;	text-align:left;	vertical-align:middle;		font-size:1.6em;	font-weight:normal;	 }
.blockarea_list						{	display:table-cell;		width:auto;			padding:10px;	text-align:right;	vertical-align:middle;		font-size:1.3em;	}
.blockarea_list	a					{	color:#0b3764;	}
.blockarea_list	a:after				{	content:" >"	}
.blockarea_contents					{	position:relative;		width:100%;			background-color:#ffffff;	height:0;	overflow:hidden;	}
.blockarea_contents_slider			{	position:absolute;		top:0;	left:0;		}
.blockarea_readmore					{	position:relative;		top:0;	left:0;		background-color:#ffffff;	border-bottom:1px solid #d9d9d9;	}
.blockarea_readmore	a				{	display:block;			text-align:center;	color:#0b3764;	font-size:1.3em;	padding:10px 0;	}
.blockarea_readmore	img				{	vertical-align:middle;	margin:0 5px 0 0;	width:16px;		height:16px;		}
/*
<section>
	<div class="blockarea" id="special_area">
		<div class="blockarea_wrapper">
			<div class="blockarea_header">
				<h1 class="blockarea_title">特集</h1>
				<div class="blockarea_list"><a href="">一覧を見る</a></div>
			</div>
			<div class="blockarea_contents">
				<div class="blockarea_contents_slider">
				</div>
			</div>
			<div class="blockarea_readmore">
				<a href="javascript:void(0);"><img src="/sp/common/img/block/icon_readmore.gif" />さらに表示</a>
			</div>
		</div>
	</div>
</section>
*/

/* ------------------------------- */

.blockarea_contents_cell_part					{	display:block;			position:relative;		float:left;		}
/*
<div class="blockarea_contents_cell_part"><!--#include virtual="/sp/common/template/_item/special_01.html" --></div>
*/

.blockarea_contents_cell_block					{	display:block;			position:relative;		border-bottom:1px solid #d9d9d9;	background:url(/sp/common/img/block/icon_arrow.gif) no-repeat 95% center;	background-size:8px 13px;	}
/*
<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/ticket_image_01.html" --></div>
*/

.blockarea_contents_block						{	position:absolute;		width:100%;		top:0;	left:0;		overflow:visible;	}
.blockarea_contents_table_recommend				{	display:table;			width:100%;		}
.blockarea_contents_cell_recommend				{	display:table-cell;		width:33%;		border-right:1px solid #d9d9d9;	}
.blockarea_contents_cell_recommend:last-child	{	border-right:none;		}
.blockarea_contents_table_pickup				{	display:table;			width:100%;		}
.blockarea_contents_cell_pickup					{	display:table-cell;		width:33%;		border-right:1px solid #d9d9d9;	}
.blockarea_contents_cell_pickup:last-child		{	border-right:none;		}

/*
<div class="blockarea_contents_cell_recommend"><!--#include virtual="/sp/common/template/_item/item_01.html" --></div>
*/

/* ------------------------------- */

.item_panel									{	position:relative;		}
.item_panel_pattern							{	display:table;			width:100%;				text-align:left;	}
.item_panel_pattern_img						{	display:table-cell;		vertical-align:top;		line-height:1.0em;	}
.item_panel_pattern_info					{	display:table-cell;		vertical-align:top;		}

.item_panel_main_title						{	padding:0 0 2px 0;		font-weight:bold;		font-size:1.3em;	line-height:1.25em;	color:#194d7d;	}
.item_panel_sub_title						{	padding:0 0 5px 0;		font-weight:normal;		font-size:1.0em;	line-height:1.25em;	color:#000000;	}
.item_panel_icon							{	list-style:none;		padding:0 0 5px 0;		}
.item_panel_icon li							{	display:inline-block;	padding:3px 5px;		font-size:0.9em;	line-height:1.00em;	}
.item_panel_icon_place						{	border:1px solid #cccccc;	color:#666666;		}
.item_panel_icon_category					{	border:1px solid #003458;	color:#ffffff;		background-color:#003458;	}
.item_panel_icon_subcategory				{	border:1px solid #cccccc;	color:#666666;		}
.item_panel_info							{	padding:0 0 5px 0;		font-weight:normal;		font-size:0.9em;	line-height:1.25em;	color:#000000;	}
.item_panel_icon_new						{	position:absolute;		top:0;	left:0;			}
.item_panel_icon_new img					{	width:33px;				height:33px;			}
.item_panel_link							{	position:absolute;		top:0;	left:0;			width:100%;	height:100%;	}

/* ------------------------------- */

.special .item_panel_pattern_img			{	padding:10px 5px;	}
.special .item_panel_pattern_img img		{	width:240px;			height:85px;			border-radius:5px;			}
.special .item_panel_icon_new				{	position:absolute;		top:10px;				left:5px;		}


/*
<article>
	<div class="item_panel special">
		<h1 class="item_panel_pattern_img"><img src="/img/feature/banner_1.jpg" /></h1>
		<a class="item_panel_link" href="/sp/feature/item-[0000].shtml"></a>
	</div>
</article>
*/

/* ------------------------------- */

.ticket_artist .item_panel_pattern_img		{	width:73px;		padding:10px 10px 10px 10px;	text-align:left;	}
.ticket_artist .item_panel_pattern_img img	{	width:73px;		height:73px;	}
.ticket_artist .item_panel_pattern_info		{	width:auto;		padding:10px 10px 10px 0;		text-align:left;	}
/*
<article>
	<div class="item_panel ticket_artist">
		<div class="item_panel_pattern_img"><img src="/img/item/000004/img.jpg" /></div>
		<div class="item_panel_pattern_info">
			<h1 class="item_panel_main_title">JUJU</h1>
			<h2 class="item_panel_sub_title">JUJU JAZZ LIVE 2014</h2>
			<ul class="item_panel_icon">
				<li class="item_panel_icon_place">東京・神奈川・愛知</li>
			</ul>
			<p class="item_panel_info">2014 00.00(月)〜2014 00.00(月)</p>
		</div>
	</div>
	<div class="item_panel_icon_new">NEW</div>
	<a class="item_panel_link" href="/ticket/item-[0000].shtml"></a>
</article>
*/

/* ------------------------------- */

.ticket_image .item_panel_pattern_info		{	width:auto;		padding:10px;		text-align:left;	}
/*
<article>
	<div class="item_panel ticket_image">
		<div class="item_panel_pattern_info">
			<h1 class="item_panel_main_title">JUJU</h1>
			<h2 class="item_panel_sub_title">JUJU JAZZ LIVE 2014</h2>
			<ul class="item_panel_icon">
				<li class="item_panel_icon_place">東京・神奈川・愛知</li>
			</ul>
			<p class="item_panel_info">2014 00.00(月)〜2014 00.00(月)</p>
		</div>
	</div>
	<a class="item_panel_link" href="/sp/ticket/item-[0000].shtml"></a>
</article>
*/

/* ------------------------------- */

.cddvd .item_panel_pattern_img		{	width:73px;		padding:10px 10px 10px 10px;	text-align:left;	}
.cddvd .item_panel_pattern_img img	{	width:73px;		height:73px;	}
.cddvd .item_panel_pattern_info		{	width:auto;		padding:10px 10px 10px 0;		text-align:left;	}
/*
<article>
	<div class="item_panel cddvd">
		<div class="item_panel_pattern_img"><img src="/img/item/000004/img.jpg" /></div>
		<div class="item_panel_pattern_info">
			<ul class="item_panel_icon">
				<li class="item_panel_icon_category">CD</li>
				<li class="item_panel_icon_subcategory">シングル</li>
			</ul>
			<h1 class="item_panel_main_title">今でもあなた</h1>
			<h2 class="item_panel_sub_title">和田アキ子</h2>
		</div>
	</div>
	<div class="item_panel_icon_new"><img src="/sp/common/img/block/icon_new.png" /></div>
	<a class="item_panel_link" href="/sp/cddvd/item-[0000].shtml"></a>
</article>
*/

/* ------------------------------- */

.giftcard .item_panel_pattern_img		{	width:73px;		padding:10px 10px 10px 10px;	text-align:left;	vertical-align:middle !important;	}
.giftcard .item_panel_pattern_img img	{	width:73px;		height:73px;	}
.giftcard .item_panel_pattern_info		{	width:auto;		padding:10px 10px 10px 0;		text-align:left;	vertical-align:middle !important;	}
/*
<article>
	<div class="item_panel giftcard">
		<div class="item_panel_pattern_img"><img src="/img/item/000008/img.jpg" /></div>
		<div class="item_panel_pattern_info">
			<h1 class="item_panel_main_title">ギフトカード（&yen;10,000）</h1>
			<h2 class="item_panel_sub_title">ブルーノート東京</h2>
		</div>
	</div>
	<a class="item_panel_link" href="/sp/giftcard/index.shtml"></a>
</article>
*/

/* ------------------------------- */

.goods .item_panel_pattern_img		{	width:73px;		padding:10px 10px 10px 10px;	text-align:left;	vertical-align:middle !important;	}
.goods .item_panel_pattern_img img	{	width:73px;		height:73px;	}
.goods .item_panel_pattern_info		{	width:auto;		padding:10px 10px 10px 0;		text-align:left;	vertical-align:middle !important;	}

/*
<article>
	<div class="item_panel goods">
		<div class="item_panel_pattern_img"><img src="/img/item/000006/img.jpg" /></div>
		<div class="item_panel_pattern_info">
			<h1 class="item_panel_main_title">オリジナルタオル</h1>
			<h2 class="item_panel_sub_title">ブルーノート東京</h2>
		</div>
	</div>
	<a class="item_panel_link" href="/sp/goods/item-[0000].shtml"></a>
</article>
*/

/* ------------------------------- */

.recommend .item_panel_pattern				{	display:block;		position:relative;	}
.recommend .item_panel_pattern_img			{	display:block;		padding:10px;	}
.recommend .item_panel_pattern_img img		{	width:100%;			}
.recommend .item_panel_pattern_info			{	display:block;		padding:0 10px 10px 10px;	}
.recommend .item_panel_icon					{	padding:0 0 10px 0;	}
.recommend .item_panel_icon li				{	display:block;		padding:3px 0px;	font-size:0.9em;	line-height:1.0em;	text-align:center;	}
.recommend .item_panel_main_title			{	padding:0 0 5px 0;	font-size:1.0em;	}
.recommend .item_panel_sub_title			{	padding:0;			font-size:0.9em;	}

/*
<article>
	<div class="item_panel recommend">
		<div class="item_panel_pattern_img"><img src="/img/item/000008/img.jpg" /></div>
		<div class="item_panel_pattern_info">
			<ul class="item_panel_icon">
				<li class="item_panel_icon_category">CD</li>
			</ul>
			<h1 class="item_panel_main_title">JUJU</h1>
			<h2 class="item_panel_sub_title">JUJU JAZZ LIVE 2014</h2>
		</div>
	</div>
	<div class="item_panel_icon_new"><img src="/sp/common/img/block/icon_new.png" /></div>
	<a class="item_panel_link" href="/sp/ticket/item-[0000].shtml"></a>
</article>
*/

/* ------------------------------- */

.blockarea_navi							{	position:relative;		width:100%;		height:auto;		background-color:#ffffff;	border-top:1px solid #d9d9d9;	border-bottom:1px solid #d9d9d9;	}
.blockarea_navi_item					{	display:table;			width:100%;		}
.blockarea_navi_item_arrow_left			{	display:table-cell;		width:70px;		text-align:center;	vertical-align:middle;	}
.blockarea_navi_item_arrow_left	a		{	display:block;			width:70px;		padding:8px 0;		}
.blockarea_navi_item_arrow_left	a img	{	display:inline-block;	width:9px;		height:14px;		vertical-align:middle;	}
.blockarea_navi_item_arrow_right		{	display:table-cell;		width:70px;		text-align:center;	vertical-align:middle;	}
.blockarea_navi_item_arrow_right a		{	display:block;			width:70px;		padding:8px 0;		}
.blockarea_navi_item_arrow_right a img	{	display:inline-block;	width:9px;		height:14px;		vertical-align:middle;	}
.blockarea_navi_item_circle				{	display:table-cell;		width:auto;		text-align:center;	vertical-align:middle;	background-color:#ffffff;	border-left:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
.blockarea_navi_item_circle	a			{	display:inline-block;	width:10px;		height:10px;		vertical-align:middle;	background-color:#cccccc;	margin:0 2px;	border-radius:5px;		}
.blockarea_navi_item_circle	a.now		{	background-color:#999999;	}

/*
<div class="blockarea_navi">
	<div class="blockarea_navi_item">
		<div class="blockarea_navi_item_arrow_left">
			<a href="javascript:void(0);"><img src="/sp/common/img/recommend/panel_arrow_left.gif" /></a>
		</div>
		<div class="blockarea_navi_item_circle">
			<span><a href="javascript:void(0);">&nbsp;</a></span>
			<span><a href="javascript:void(0);">&nbsp;</a></span>
			<span><a href="javascript:void(0);">&nbsp;</a></span>
			<span><a href="javascript:void(0);">&nbsp;</a></span>
			<span><a href="javascript:void(0);">&nbsp;</a></span>
		</div>
		<div class="blockarea_navi_item_arrow_right">
			<a href="javascript:void(0);"><img src="/sp/common/img/recommend/panel_arrow_right.gif" /></a>
		</div>
	</div>
</div>
*/

#banner_area						{	position:relative;	padding:0 10px;		}
.banner_area_block					{	padding:0 0 5px 0;	text-align:center;	}
.banner_area_block img				{	width:300px;		height:80px;		}
/*
<div id="banner_area">
	<div class="banner_area_block"><img src="" /></div>
	<div class="banner_area_block"><img src="" /></div>
</div>
*/


#error_inner			{	background-color:#ffffff;	padding:40px 0;		text-align:center;	}
#error_inner_title		{	font-size:1.4em;			padding:0 0 15px 0;	font-weight:bold;	}
#error_inner_link		{	font-size:1.3em;			color:#003458;		}


/* ------------------------------- */
/* ------------------------------- */

#wrapper					{	padding:20px 15px;		background-color:#ffffff;					}
#contents_title				{	padding:0 0 10px 0;		border-bottom:1px solid #d9d9d9;			font-weight:bold;	font-size:1.7em;	}
.contents_block				{	padding:20px 0 5px 0;	font-size:1.2em;		line-height:150%;						}
.contents_block_title		{	padding:0 0 10px 0;		font-size:1.2em;		line-height:150%;	font-weight:bold;	}
.contents_block_text_01		{	padding:0 0 10px 0;		}

.contents_block_list_01		{	padding:0 0 0 0;		list-style:none;				}
.contents_block_list_02		{	padding:0 0 0 20px;		list-style:decimal outside;		}
.contents_block_list_03		{	padding:0 0 0 0;		list-style:none;				}


.contents_block_list_01 dt	{	padding:0 0 2px 0;		display:table;			width:100%;		}
.contents_block_list_01 dd	{	padding:0 0 5px 20px;	}
.contents_block_list_02 li	{	padding:0 0 5px 0;		}
.contents_block_list_03 dt	{	padding:0 0 2px 0;		display:table;			width:100%;		}
.contents_block_list_03 dd	{	padding:0 0 2px 0;		}

.contents_block_list_01_01	{	padding:0 0 2px 0;		display:table-cell;		width:20px;		}
.contents_block_list_01_02	{	padding:0 0 2px 0;		display:table-cell;		width:auto;		}
.contents_block_list_02_01	{	padding:0 0 5px 0;		}
.contents_block_list_02_02	{	padding:0 0 0 5px;		color:#0b3764;			display:inline-block;	}
.contents_block_list_03_01	{	padding:0 0 2px 0;		display:table-cell;		width:20px;		}
.contents_block_list_03_02	{	padding:0 0 2px 0;		display:table-cell;		width:auto;		}



#error						{	padding:10px 0;			}
#error_wrapper				{	padding:20px 15px;		background-color:#ffffff;	}
#error_title				{	padding:0 0 10px 0;		font-size:1.5em;		line-height:150%;	font-weight:bold;	}
#error_text					{	padding:0 0 10px 0;		font-size:1.3em;		line-height:150%;	}
#error_link					{	padding:0 0 0 15px;		font-size:1.2em;		background:url(/sp/common/img/form/icon_return.gif) left center no-repeat;	background-size:9px 14px;	color:#1a4d80;	}

#special_contents			{	padding:0 0 20px 0;				}
#special_inner				{	background-color:#292722;		}
#special_inner img			{	width:100%;						display:inline-block;	}
#special_text				{	padding:10px 15px 15px 15px;	font-size:1.4em;		line-height:150%;	color:#ffffff;	}
