@charset "utf-8";

#footer							{	position:relative;	z-index:2;		background-color:#e1e1e1;	}
#footer_mini					{	position:relative;	z-index:2;		background-color:#ffffff;	}

#footer_attention				{	text-align:right;	color:#666666;	padding:5px 10px;	}
#footer_wrapper					{	border-top:2px solid #bfbfbf;		padding:1px 0;		}
#footer_inner					{	border-top:1px solid #bfbfbf;		}

#footer_menu					{	display:table;		width:100%;		}
.footer_menu_row				{	display:table-row;	}
.footer_menu_cell				{	display:table-cell;	width:50%;	}
.footer_menu_cell a				{	border-bottom:1px solid #bfbfbf;	color:#000000;	display:block;		padding:10px 10px 10px 20px;	background:url(/sp/common/img/footer/icon_footer_menu.gif) no-repeat 10px center;	background-size:6px 10px;	}

#footer_menu_cell_tw			{	background:url(/sp/common/img/footer/icon_footer_tw.gif) no-repeat 95% center;	background-size:18px 18px;	}
#footer_menu_cell_fb			{	background:url(/sp/common/img/footer/icon_footer_fb.gif) no-repeat 95% center;	background-size:18px 18px;	}
#footer_menu_cell_rss			{	background:url(/sp/common/img/footer/icon_footer_rss.gif) no-repeat 95% center;	background-size:18px 18px;	}
/*
<footer>
	<div id="footer_main">
		<div id="footer_attention">※表示価格はすべて税込</div>
		<div id="footer_wrapper">
			<div id="footer_inner">
				<nav>
					<div id="footer_menu">
						<div class="footer_menu_row">
							<div class="footer_menu_cell"><a href="/sp/">ホーム</a></div>
							<div class="footer_menu_cell"><a href="/sp/shoplaw/">特定商取引法</a></div>
						</div>
						<div class="footer_menu_row">
							<div class="footer_menu_cell"><a href="/sp/ticket/">おすすめチケット</a></div>
							<div class="footer_menu_cell"><a href="/sp/note/">免責事項</a></div>
						</div>
						<div class="footer_menu_row">
							<div class="footer_menu_cell"><a href="/sp/cddvd/">CD・DVD</a></div>
							<div class="footer_menu_cell" id="footer_menu_cell_tw"><a href="https://twitter.com/BlueNoteTokyo" target="_blank">Twitter</a></div>
						</div>
						<div class="footer_menu_row">
							<div class="footer_menu_cell"><a href="/sp/giftcard/">ギフトカード</a></div>
							<div class="footer_menu_cell" id="footer_menu_cell_fb"><a href="https://www.facebook.com/BLUE.NOTE.TOKYO.official" target="_blank">Facebook</a></div>
						</div>
						<div class="footer_menu_row">
							<div class="footer_menu_cell"><a href="/sp/goods/">オリジナルグッズ</a></div>
							<div class="footer_menu_cell" id="footer_menu_cell_rss"><a href="http://www.bluenote.co.jp/jp/atom.xml" target="_blank">RSS</a></div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</footer>
*/


#footer_banner						{	position:relative;		padding:15px 10px;	}
#footer_banner_table				{	display:table;			width:100%;			}
.footer_banner_row					{	display:table-row;		}
.footer_banner_cell					{	display:table-cell;		width:33%;			text-align:center;			padding:0 0 5px 0;	}
.footer_banner_cell	img				{	width:81px;				height:27px;		}
.footer_banner_cell:nth-child(2)	{	width:34%;				}
/*
<aside>
	<div id="footer_banner">
		<div id="footer_banner_table">
			<div class="footer_banner_row">
				<div class="footer_banner_cell"><a href=""><img src="/sp/common/img/footer/footer_banner_bnj.gif" /></a></div>
				<div class="footer_banner_cell"><a href="http://www.bluenote.co.jp/jp/" target="_brank"><img src="/sp/common/img/footer/footer_banner_bnt.gif" /></a></div>
				<div class="footer_banner_cell"><a href="http://www.bar-backyard.com/" target="_brank"><img src="/sp/common/img/footer/footer_banner_backyard.gif" /></a></div>
			</div>
			<div class="footer_banner_row">
				<div class="footer_banner_cell"><a href="http://www.motionblue.co.jp/" target="_brank"><img src="/sp/common/img/footer/footer_banner_mby.gif" /></a></div>
				<div class="footer_banner_cell"><a href="http://tune-yokohama.com/" target="_brank"><img src="/sp/common/img/footer/footer_banner_tune.gif" /></a></div>
				<div class="footer_banner_cell"><a href="http://www.cottonclubjapan.co.jp/" target="_brank"><img src="/sp/common/img/footer/footer_banner_cc.gif" /></a></div>
			</div>
			<div class="footer_banner_row">
				<div class="footer_banner_cell"><a href="http://www.resonance.ne.jp/index.html" target="_brank"><img src="/sp/common/img/footer/footer_banner_resonance.gif" /></a></div>
				<div class="footer_banner_cell"><a href="http://www.nagoya-bluenote.com/" target="_brank"><img src="/sp/common/img/footer/footer_banner_bnn.gif" /></a></div>
				<div class="footer_banner_cell"><a href="http://www.brooklynparlor.co.jp/" target="_brank"><img src="/sp/common/img/footer/footer_banner_parlor.gif" /></a></div>
			</div>
			<div class="footer_banner_row">
				<div class="footer_banner_cell"><a href="http://www.cafe1045.com/" target="_brank"><img src="/sp/common/img/footer/footer_banner_cafe.gif" /></a></div>
				<div class="footer_banner_cell"><a href="http://www.bluebookscafe.jp/" target="_brank"><img src="/sp/common/img/footer/footer_banner_bbc.gif" /></a></div>
				<div class="footer_banner_cell"></div>
			</div>
		</div>
	</div>
</aside>
*/


#footer_copyright					{	padding:0 0 10px 0;		text-align:center;	color:#999999;	}

#footer_copyright_mini				{	padding:10px 0;			text-align:center;	color:#999999;	}

/*
<div id="footer_copyright">COPYRIGHT &copy; BLUE NOTE JAPAN, INC</div>
*/

#pagetop							{	position:fixed;		z-index:4;		bottom:0;	right:0;	width:40px;		height:40px;	}
#pagetop img						{	width:40px;			height:40px;	}
/*
<div id="pagetop"><a href="javascript:void(0);"><img src="/sp/common/img/footer/pagetop.gif" /></a></div>
*/