@charset "utf-8";

#header									{	position:relative;	z-index:4;	}

#header_inner							{	position:relative;	height:58px;background-color:#003458;		z-index:41;		}
#header_inner_logo						{	position:absolute;	top:9px;	left:12px;		width:100px;	height:41px; 	}
#header_inner_logo img					{	position:relative;	width:100%;	height:100%;	}
#header_inner_navi						{	position:absolute;	top:0;		left:0;			width:100%;		list-style:none;				z-index:42;	}
#header_inner_navi_cart					{	position:absolute;	top:0;		right:60px;		width:60px;		height:58px;	border-left:1px solid #041526;	}
#header_inner_navi_cart span			{	position:absolute;	top:12px;	left:21px;		width:20px;		height:20px;	text-align:center;	color:#ffffff;	font-size:1.0em;	}
#header_inner_navi_cart img				{	position:absolute;	top:0;		left:0;			width:100%;		height:100%;	}
#header_inner_navi_open					{	position:absolute;	top:0;		right:0;		width:60px;		height:58px;	border-left:1px solid #041526;	}
#header_inner_navi_open img				{	position:absolute;	top:0;		left:0;			width:100%;		height:100%;	}
/*
<div id="header_inner">
	<h1 id="header_inner_logo"><a href="/sp/"><img src="/common/img/header/logo.gif" /></a></h1>
	<ul id="header_inner_navi">
		<li id="header_inner_navi_cart"><span>4</span><a href="/sp/cart/"><img src="/common/img/header/bt_cart.png" /></a></li>
		<li id="header_inner_navi_open"><a href="javascript:void(0);"><img src="/common/img/header/bt_menu_open.png" /></a></li>
	</ul>
</div>
*/

#header_menu							{	position:absolute;	top:0;		left:0;			width:100%;		height:auto;		z-index:43;		}
#header_menu_bg							{	position:absolute;	top:0;		left:0;			width:100%;		height:100%;		z-index:431;	opacity:0.5;	background-color:#000000;	}
#header_menu_close						{	position:absolute;	top:0;		right:0;		width:60px;		height:58px;		z-index:434;	border-left:1px solid #041526;	}
#header_menu_close img					{	position:absolute;	top:0;		left:0;			width:100%;		height:100%;		}

#header_menu_main						{	position:relative;	top:0;		left:0;				background-color:transparent;			z-index:432;	padding:58px 0 0 0;		}
#header_menu_main_list					{	background-color:#ffffff;		list-style:none;	}
#header_menu_main_list li				{	background-color:transparent;	padding:15px 10px;	border-bottom:1px solid #d9d9d9;		}
#header_menu_main_list li:last-child	{	border-bottom:none;		}

#header_menu_main_list li a				{	display:table;		width:100%;	font-size:1.5em;	font-weight:bold;		color:#0b3764;	}
.header_menu_main_list_label			{	display:table-cell;	width:auto;	height:auto;		vertical-align:middle;	}
.header_menu_main_list_icon				{	display:table-cell;	width:8px;	height:13px;		vertical-align:middle;	}
.header_menu_main_list_icon	img			{	width:100%;			height:100%;	}

#header_menu							{	display:none;	}
/*
<div id="header_menu_main">
	<ul id="header_menu_main_list">
		<li>
			<a href="/sp/">
				<span class="header_menu_main_list_label">ホーム</span>
				<span class="header_menu_main_list_icon"><img src="/sp/common/img/header/icon_main_list.gif" /></span>
			</a>
		</li>
		<li>
			<a href="/sp/ticket/">
				<span class="header_menu_main_list_label">おすすめチケット</span>
				<span class="header_menu_main_list_icon"><img src="/sp/common/img/header/icon_main_list.gif" /></span>
			</a>
		</li>
		<li>
			<a href="/sp/cddvd/">
				<span class="header_menu_main_list_label">CD・DVD</span>
				<span class="header_menu_main_list_icon"><img src="/sp/common/img/header/icon_main_list.gif" /></span>
			</a>
		</li>
		<li>
			<a href="/sp/giftcard/">
				<span class="header_menu_main_list_label">ギフトカード</span>
				<span class="header_menu_main_list_icon"><img src="/sp/common/img/header/icon_main_list.gif" /></span>
			</a>
		</li>
		<li>
			<a href="/sp/goods/">
				<span class="header_menu_main_list_label">オリジナルグッズ</span>
				<span class="header_menu_main_list_icon"><img src="/sp/common/img/header/icon_main_list.gif" /></span>
			</a>
		</li>
	</ul>
</div>
*/

#header_menu_sub						{	position:relative;	top:0;		left:0;				background-color:#e1e1e1;		padding:10px;	z-index:433;		}
#header_menu_sub_list					{	background-color:#ffffff;		list-style:none;	border-radius:10px;				}
#header_menu_sub_list li				{	background-color:transparent;	padding:10px;		border-bottom:1px solid #d9d9d9;}
#header_menu_sub_list li:last-child		{	border-bottom:none;		}
#header_menu_sub_list li a				{	display:table;			width:100%;	color:#0b3764;	font-size:1.3em;	}
.header_menu_sub_list_icon				{	display:table-cell;		width:10px;	height:10px;	vertical-align:middle;	text-align:left;	}
.header_menu_sub_list_icon img			{	vertical-align:middle;	width:6px;	height:10px;	}
.header_menu_sub_list_label				{	display:table-cell;		width:auto;	height:auto;	vertical-align:middle;	text-align:left;	}
.header_menu_sub_list_label img			{	vertical-align:middle;	width:11px;	height:10px;	margin:0 0 0 2px;	}
.header_menu_sub_list_label b			{	font-weight:normal;		color:#e46262;	}
/*
<div id="header_menu_sub">
	<ul id="header_menu_sub_list">
		<li>
			<a href="/sp/login/">
				<span class="header_menu_sub_list_icon"><img src="/sp/common/img/header/icon_sub_list.gif" /></span>
				<span class="header_menu_sub_list_label">ログイン</span>
			</a>
		</li>
		<li>
			<a href="/sp/entry/">
				<span class="header_menu_sub_list_icon"><img src="/sp/common/img/header/icon_sub_list.gif" /></span>
				<span class="header_menu_sub_list_label">新規会員登録</span>
			</a>
		</li>
		<li>
			<a href="/sp/cart/">
				<span class="header_menu_sub_list_icon"><img src="/sp/common/img/header/icon_sub_list.gif" /></span>
				<span class="header_menu_sub_list_label">カート(<b>4</b>)</span>
			</a>
		</li>
		<li>
			<a href="/sp/guide/">
				<span class="header_menu_sub_list_icon"><img src="/sp/common/img/header/icon_sub_list.gif" /></span>
				<span class="header_menu_sub_list_label">ご利用ガイド</span>
			</a>
		</li>
		<li>
			<a href="/sp/shoplaw/">
				<span class="header_menu_sub_list_icon"><img src="/sp/common/img/header/icon_sub_list.gif" /></span>
				<span class="header_menu_sub_list_label">特定商取引法</span>
			</a>
		</li>
		<li>
			<a href="/sp/note/">
				<span class="header_menu_sub_list_icon"><img src="/sp/common/img/header/icon_sub_list.gif" /></span>
				<span class="header_menu_sub_list_label">免責事項</span>
			</a>
		</li>
		<li>
			<a href="http://www.bluenote.co.jp/jp/" target="_brank">
				<span class="header_menu_sub_list_icon"><img src="/sp/common/img/header/icon_sub_list.gif" /></span>
				<span class="header_menu_sub_list_label">ブルーノート東京オフィシャルサイト<img src="/sp/common/img/header/icon_sub_blank.gif" /></span>
			</a>
		</li>
	</ul>
</div>
*/

#header_status							{	background-color:#041526;			list-style:none;		position:relative;	top:0;	left:0;		width:100%;		height:35px;	z-index:42;		}
#header_status_list						{	display:table;		width:100%;		vertical-align:middle;	}
#header_status_user						{	display:table-cell;	width:auto;		vertical-align:middle;	padding:6px 10px;	color:#ffffff;		font-size:1.1em;	}
#header_status_user	span				{	font-weight:bold;	}
#header_status_login					{	display:table-cell;	width:95px;		vertical-align:middle;	padding:6px 10px;	}
#header_status_login img				{	width:95px;			height:23px;	}

#header_status_info						{	display:table-cell;	width:95px;		vertical-align:middle;	padding:6px 10px;	}
#header_status_info img					{	width:95px;			height:23px;	}
/*
<div id="header_status">
	<ul id="header_status_list">
		<li id="header_status_user"><span>ゲスト</span>さん、こんにちは。</div>
		<li id="header_status_login"><a href="/sp/"><img src="/common/img/header/bt_login.gif" /></a></div>
	</ul>
</div>
*/



#header_status_info_menu					{	position:absolute;	top:29px;		right:10px;	width:160px;	background-color:#486a8c;	border-radius:5px 0 5px 5px;	}
#header_status_info_menu li					{	list-style:none;	}
#header_status_info_menu li	a				{	display:block;		color:#ffffff;	padding:8px 0 8px 10px;		border-bottom:1px solid #3b5773;	}
#header_status_info_menu li:last-child a	{	border-bottom:none;	}

#header_status_info_menu					{	display:none;		}




#header_mini_inner							{	background-color:#003458;	height:40px;	padding:0 10px;		z-index:41;		}
#header_mini_inner_logo_1					{	display:inline-block;		vertical-align:middle;		padding:7px 20px 0 0;	}
#header_mini_inner_logo_2					{	display:inline-block;		vertical-align:middle;		padding:13px 20px 0 0;	}
#header_mini_inner_logo_1 img				{	width:101px;	height:27px;	}
#header_mini_inner_logo_2 img				{	width:88px;		height:12px;	}

/*
<div id="header">
	<div id="header_mini_inner">
		<h1 id="header_mini_inner_logo_1">
			<a href="/sp/"><img src="/sp/common/img/header/logo_mini_1.gif" /></a>
		</h1>
		<h2 id="header_mini_inner_logo_2">
			<a href="/sp/"><img src="/sp/common/img/header/logo_mini_2.gif" /></a>
		</h2>
	</div>
</div>
*/