@charset "utf-8";

#global_navi						{	position:relative;		z-index:3;		border-bottom:1px solid #d9d9d9;	}
#global_navi_list					{	display:table;			width:100%;		background:linear-gradient(#ffffff, #e5e5e5);	}
#global_navi_list li				{	display:table-cell;		width:25%;		vertical-align:middle;	text-align:center;	border-right:1px solid #d9d9d9;	}
#global_navi_list li:last-child		{	border-right:none;		}
#global_navi_list li a				{	display:block;			padding:15px 0;	line-height:1.25em;		font-size:1.1em;	font-weight:bold;	color:#0b3764;	}


/*
	<div id="global_navi">
		<ul id="global_navi_list">
			<li><a href="/sp/ticket/">チケット</a></li>
			<li><a href="/sp/cddvd/">CD・DVD</a></li>
			<li><a href="/sp/giftcard/">ギフトカード</a></li>
			<li><a href="/sp/goods/">オリジナルグッズ</a></li>
		</ul>
	</div>
*/