<!-- 000001 ////////////////////////////////////////////////// -->
<div class="item_panel ticket_artist">
	<div class="item_panel_pattern_img"><img src="/img/artist/000002/img.jpg" /></div>
	<div class="item_panel_pattern_info">
		<ul class="item_panel_icon">
			<li class="item_panel_icon_category">チケット</li>
			<li class="item_panel_icon_place">東京</li>
		</ul>
		<h3 class="item_panel_main_title">ハービー・ハンコック</h3>
		<h4 class="item_panel_sub_title">One Night Premium Live</h4>
		<ul class="item_panel_price">
			<li class="item_panel_price_mem"><span class="item_panel_price_bold">￥8,700〜</span> (通常価格)</li>
			<li class="item_panel_price_jam"><span class="item_panel_price_bold">￥8,500〜</span> (JAM SESSION会員価格)</li>
		</ul>
	</div>
	<a class="item_panel_link" href="/ticket/item-[0000].shtml"></a>
</div>