<article>
	<div class="item_panel giftcard">
		<div class="item_panel_pattern">
			<div class="item_panel_pattern_img"><img src="/img/item/000008/img.jpg" /></div>
			<div class="item_panel_pattern_info">
				<h1 class="item_panel_main_title">ギフトカード（&yen;30,000）</h1>
			</div>
		</div>
		<a class="item_panel_link" href="/sp/giftcard/item-[0000].shtml"></a>
	</div>
</article>