<article>
	<div class="item_panel cddvd">
		<div class="item_panel_pattern">
			<div class="item_panel_pattern_img"><img src="/common/img/panel/now_printing_cd.jpg" /></div>
			<div class="item_panel_pattern_info">
				<ul class="item_panel_icon">
					<li class="item_panel_icon_category">CD</li>
					<li class="item_panel_icon_subcategory">シングル</li>
				</ul>
				<h1 class="item_panel_main_title">今でもあなた</h1>
				<h2 class="item_panel_sub_title">和田アキ子</h2>
			</div>
		</div>
		<a class="item_panel_link" href="/sp/cddvd/item-[0000].shtml"></a>
	</div>
</article>