<article>
	<div class="item_panel goods">
		<div class="item_panel_pattern">
			<div class="item_panel_pattern_img"><img src="/img/item/000006/img.jpg" /></div>
			<div class="item_panel_pattern_info">
				<h1 class="item_panel_main_title">オリジナルタオル</h1>
				<h2 class="item_panel_sub_title">ブルーノート東京</h2>
			</div>
		</div>	
		<div class="item_panel_icon_new"><img src="/sp/common/img/block/icon_new.png" /></div>
		<a class="item_panel_link" href="/sp/goods/item-[0000].shtml"></a>
	</div>	
</article>