<article>
	<div class="item_panel goods">
		<div class="item_panel_pattern">
			<div class="item_panel_pattern_img"><img src="/common/img/panel/now_printing_cd.jpg" /></div>
			<div class="item_panel_pattern_info">
				<h1 class="item_panel_main_title">オリジナルTシャツ（白）</h1>
				<h2 class="item_panel_sub_title">ブルーノート東京</h2>
			</div>
		</div>
		<a class="item_panel_link" href="/sp/goods/item-[0000].shtml"></a>
	</div>
</article>