<article>
	<div class="item_panel recommend">
		<div class="item_panel_pattern">
			<div class="item_panel_pattern_img"><img src="/img/artist/000001/img.jpg" /></div>
			<div class="item_panel_pattern_info">
				<ul class="item_panel_icon">
					<li class="item_panel_icon_category">チケット</li>
				</ul>
				<h1 class="item_panel_main_title">JUJU</h1>
				<h2 class="item_panel_sub_title">2014 00.00(月)〜2014 00.00(月)</h2>
			</div>
		</div>
		<a class="item_panel_link" href="/sp/ticket/item-[0000].shtml"></a>
	</div>
</article>