<article>
	<div class="item_panel recommend">
		<div class="item_panel_pattern">
			<div class="item_panel_pattern_img"><img src="/img/item/000004/img.jpg" /></div>
			<div class="item_panel_pattern_info">
				<ul class="item_panel_icon">
					<li class="item_panel_icon_category">CD</li>
				</ul>
				<h1 class="item_panel_main_title">JUJU</h1>
				<h2 class="item_panel_sub_title">JUJU JAZZ LIVE 2014</h2>
			</div>
		</div>
		<div class="item_panel_icon_new"><img src="/sp/common/img/block/icon_new.png" /></div>
		<a class="item_panel_link" href="/sp/cddvd/item-[0000].shtml"></a>
	</div>
</article>