<article>
	<div class="item_panel recommend">
		<div class="item_panel_pattern">
			<div class="item_panel_pattern_img"><img src="/img/item/000006/img.jpg" /></div>
			<div class="item_panel_pattern_info">
				<ul class="item_panel_icon">
					<li class="item_panel_icon_category">オリジナルグッズ</li>
				</ul>
				<h1 class="item_panel_main_title">オリジナルタオル</h1>
				<h2 class="item_panel_sub_title">ブルーノート東京</h2>
			</div>
		</div>
		<a class="item_panel_link" href="/sp/goods/item-[0000].shtml"></a>
	</div>
</article>
