<article>
	<div class="item_panel special">
		<h1 class="item_panel_pattern_img"><img src="/img/feature/banner_3.jpg" /></h1>
		<a class="item_panel_link" href="/sp/feature/item-[0000].shtml"></a>
	</div>
</article>