<article>
	<div class="item_panel special">
		<h1 class="item_panel_pattern_img"><img src="/img/feature/banner_1.jpg" /></h1>
		<div class="item_panel_icon_new"><img src="/sp/common/img/block/icon_new.png" /></div>
		<a class="item_panel_link" href="/sp/feature/item-[0000].shtml"></a>
	</div>
</article>
