<article>
	<div class="item_panel ticket_image">
		<div class="item_panel_pattern_info">
			<h1 class="item_panel_main_title">アンディ・アロー</h1>
			<h2 class="item_panel_sub_title">アンディ・アロー スペシャルライブ</h2>
			<ul class="item_panel_icon">
				<li class="item_panel_icon_place">東京・神奈川・愛知</li>
			</ul>
			<p class="item_panel_info">2014 00.00(月)〜2014 00.00(月)</p>
		</div>
	</div>
	<a class="item_panel_link" href="/sp/ticket/item-[0000].shtml"></a>
</article>