@charset "utf-8";

/* ------------------------------------------- */

.none_padding			{	padding-bottom:0 !important;	}
.require				{	background-image:url(/common/img/entry/common/require_icon.gif);	background-position:205px 16px;	background-repeat:no-repeat;	}

#cart_wrapper	{	position:relative;	}

#cart_title		{	padding:0 0 20px 0;	font-size:1.8em;	}
#cart_block		{	padding:0 0 20px 0;	}

	#cart_form		{	padding:20px;	background-color:#ffffff;	}
	/* ---------------------------------------- */

		#cart_block_text		{	font-size:1.2em;	line-height:1.5em;	}
		#cart_block_attention	{	font-size:1.5em;	line-height:1.5em;	color:#cc3333;	padding:0 0 10px 0;	border-bottom:1px solid #CCCCCC;	}
		.cart_block_area		{	padding:0 0 15px 0;	}
		
		.cart_group_title		{	font-size: 1.4em;	line-height: 150%;	padding: 5px;	box-shadow: 0px -1px 1px #cccccc inset;	border-left: 5px solid #003458;	background-color: #ededed;	margin:5px 0 0 0;	}

		.cart_item				{	display:table;		width:100%;	}
		.cart_item_image		{	display:table-cell;	vertical-align:middle;	padding:20px 0 20px 20px;	width:110px;	}
		.cart_item_info			{	display:table-cell;	vertical-align:top;		padding:20px;				width:auto;		}
		.cart_item_price		{	display:table-cell;	vertical-align:middle;	padding:20px;				width:150px;	}
		.cart_item_delete		{	display:table-cell;	vertical-align:middle;	padding:20px;				width:64px;		}
		.cart_item_line			{	height:1px;	margin:0 20px;	border-bottom:1px solid #d9d9d9;	}

			.cart_item_image img				{	width:110px;	}
			.cart_item_info_icon				{	list-style:none;		padding:0 0 5px 0;	}
			.cart_item_info_icon li				{	display:inline-block;	padding:3px 5px 2px 5px;	font-size:0.8em;	}
			.cart_item_info_icon_category		{	background-color:#003459;	color:#ffffff;	}
			.cart_item_info_icon_subcategory	{	border:1px solid #cccccc;	}
			.cart_item_info_maintitle			{	padding:0 0 2px 0;	font-size:1.4em;	line-height:1.25em;	font-weight:normal;	color:#194d7d;	}
			.cart_item_info_subtitle			{	padding:0 0 5px 0;	font-size:1.2em;	line-height:1.50em;	font-weight:normal;	color:#333333;	}
			.cart_item_info_text				{	padding:0 0 5px 0;	font-size:1.2em;	line-height:1.25em;	}
			.cart_item_price_text				{	padding:6px 0;		font-size:1.2em;	line-height:1.25em;	}
			.cart_item_price select				{	display:inline-block;	border:1px solid #cccccc;	height:30px;	width:50px;	font-size:1.0em;	background:none;	}
			.cart_item_delete span				{	position:relative;	display:inline-block;	width:64px;	height:34px;	overflow:hidden;	}
			.cart_item_delete a					{	position:absolute;	top:0;	}
			.cart_item_delete a:hover			{	top:-34px !important;		}

			.cart_ticket_info			{	background-color:#f7f7f7;	border:1px solid #d9d9d9;	}
			.cart_ticket_info_inner		{	display:table;		width:100%;	}
			.cart_ticket_info_left		{	display:table-cell;	vertical-align:middle;	width:auto;		padding:10px 20px;	font-size:1.0em;	}
			.cart_ticket_info_right		{	display:table-cell;	vertical-align:middle;	width:300px;	padding:10px 20px;	font-size:1.5em;	font-weight:bold;	text-align:right;	}

		#cart_sum				{	padding:20px;		font-size:1.5em;	font-weight:bold;	background-color:#fffced;	border:1px solid #f1cf93;	border-radius:5px;	text-align:right;	}
		#cart_sum span			{	padding:0 0 0 20px;	font-size:1.2em;	color:#cc3333;	}

		#cart_banner			{	display:table;		width:100%;		}
		#cart_banner_left		{	display:table-cell;	vertical-align:middle;	width:auto;		padding:20px 0 0 0;	}
		#cart_banner_shopping	{	display:table-cell;	vertical-align:middle;	width:180px;	padding:20px 0 0 0;	}
		#cart_banner_next		{	display:table-cell;	vertical-align:middle;	width:200px;	padding:20px 0 0 0;	}

			#cart_banner_left img			{	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
			#cart_banner_left img:hover		{	opacity:0.75;	filter:alpha(opacity=75);	-ms-filter:"alpha(opacity=75)";		}
			#cart_banner_shopping span		{	position:relative;	display:inline-block;	width:160px;	height:40px;	overflow:hidden;	}
			#cart_banner_shopping a			{	position:absolute;	top:0;	}
			#cart_banner_shopping a:hover	{	top:-40px;	}
			#cart_banner_next span			{	position:relative;	display:inline-block;	width:200px;	height:50px;	overflow:hidden;	}
			#cart_banner_next input			{	position:absolute;	top:0;	width:200px;	height:100px;	background:url(/common/img/cart/bt_next.gif);	cursor:pointer;	}
			#cart_banner_next input:hover	{	top:-50px;	}


		.cart_block_entry_text				{	padding:0 0 15px 0;		text-align:left;	font-size:1.2em;	}
		.cart_block_entry_list				{	padding:0 0 0 0; 		position:relative;	list-style:none;	margin:0 auto;		}
		.cart_block_entry_list li			{	display:inline-block;	position:relative;	width:220px;		text-align:center;	vertical-align:top;	}
		.cart_block_entry_list span			{	display:block;			position:relative;	width:210px;		height:50px;		margin:0 auto;	overflow:hidden;		}
		.cart_block_entry_list span a		{	position:absolute;		top:0;	left:0;	}
		.cart_block_entry_list span a:hover	{	top:-50px;	}
		.cart_block_entry_list p			{	padding:5px 0 0 0;		text-align:center;	font-size:1.1em;	}

/* ---------------------------------- */

#cart_title_block 		{	padding:0 0 20px 0;	}
#cart_title_flow		{	padding:0 0 20px 0;	}
	
	#cart_page_title		{	padding:1px 0;		border-bottom:1px solid #999999;	}
		#cart_page_title_inner	{	display:table;		width:100%;			border-bottom:1px solid #999999;	}
		#cart_page_title_main	{	display:table-cell;	text-align:left;	vertical-align:bottom;	padding:0 0 10px 0;	font-size:2.0em;	color:#000000;	}


	.cart_contents_block	{	padding:0 0 30px 0;	}

		.cart_block_title		{	padding:10px;	background-color:#d9d9d9;	color:#000000;	font-size:1.5em;	text-align:left;	}
		.cart_block_title_sub	{	padding:10px;	background-color:#e1edfa;	color:#000000;	font-size:1.5em;	text-align:left;	border-top:2px solid #003458;		}
		.cart_block_wrapper		{	padding:20px;	background-color:#ffffff;	text-align:center;	border:1px solid #d9d9d9;	border-top:none;	}

		.cart_block_text		{	padding:20px 0 0 0;	position:relative;	}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		.cart_login_form		{	display:table;	margin:0 auto;	text-align:left;	}
		.cart_login_form_left	{	display:table-cell;	vertical-align:top;		width:auto;		text-align:left;	font-size:1.2em;	padding:0 0 0 10px;	}
		.cart_login_form_center	{	display:table-cell;	vertical-align:top;		width:280px;	text-align:left;	}
		.cart_login_form_right	{	display:table-cell;	vertical-align:bottom;	width:160px;	text-align:left;	}

			.cart_login_form_area				{	padding:0 10px 20px 10px;		text-align:left;	}
			.cart_login_form_area_title			{	font-size: 1.2em;				float:left;	}
			.cart_login_form_area_small			{	font-size: 1.0em;				}
			#cart_login_form_left_list			{	list-style-position:outside;	list-style:disc;	padding:0 0 5px 0;	}
			#cart_login_form_area_address		{	clear:both;		width:100%;		height:24px;		border:1px solid #CCC;	display:block;	}
			#cart_login_form_area_password		{	clear:both;		width:100%;		height:24px;		border:1px solid #CCC;	display:block;	}
			#cart_login_form_area_forget		{	float:right;	color:#1a4d80;	font-size:1.0em;	display:inline-block;	text-decoration:none;	padding:2px 0 0 0;	}
			#cart_login_form_area_jamnumber		{	clear:both;		width:100%;		height:24px;		border:1px solid #CCC;	display:block;	}
			#cart_login_form_area_check_box		{	display:block;	width:auto;		font-size:1.2em;	padding:10px 0 10px 0;	}
			#cart_login_form_area_check			{	color:#1a4d80;	text-align:left;font-size:1.0em;	text-decoration:none;	padding:2px 0 0 0;	}
			#cart_login_form_area_check:hover	{	text-decoration:underline;	}
			#cart_login_form_submit				{	width:90px;	height:30px;	}
			#cart_login_form_submit span		{	position:relative;	top:0;		left:0;		width:170px;	height:30px;	overflow:hidden;	display:block;	}
			#cart_login_form_submit input		{	position: absolute;	top:0;		left:0;		}
			#cart_login_form_submit input:hover	{	position: absolute;	top:-30px;	left:0;		}
			#cart_login_form_entry				{	width:90px;	height:30px;	}
			#cart_login_form_entry span			{	position:relative;	top:0;		left:20px;	width:170px;	height:30px;	overflow:hidden;	display:block;	}
			#cart_login_form_entry input		{	position: absolute;	top:0;		left:0;		}
			#cart_login_form_entry input:hover	{	position: absolute;	top:-30px;	left:0;		}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */


		#cart_block_entry		{	display:table;	margin:0 auto;	}
		#cart_block_entry_left	{	display:table-cell;	vertical-align:top;	width:230px;	padding:0 10px;	}
		#cart_block_entry_right	{	display:table-cell;	vertical-align:top;	width:230px;	padding:0 10px;	}
			#cart_block_entry_left span 			{	position:relative;	display:block;	width:210px;	height:50px;	overflow:hidden;	}
			#cart_block_entry_left a 				{	position:absolute;	top:0;		left:0;	}
			#cart_block_entry_left a:hover 			{	top:-50px;	}
			#cart_block_entry_right span 			{	position:relative;	display:block;	width:210px;	height:50px;	overflow:hidden;	}
			#cart_block_entry_right span a 			{	position:absolute;	top:0;		left:0;	}
			#cart_block_entry_right span a:hover 	{	top:-50px;	}
			#cart_block_entry_right	p				{	position:relative;	color:#1a4d80;	font-size:1.2em;	display:inline-block;	text-decoration:none;	padding:5px 0 0 0;	text-align:center;	}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		.cart_block_form_table			{	display:table;	width:100%;	border-top:1px solid #d9d9d9;	border-left:1px solid #d9d9d9;	}
		.cart_block_form_table_row		{	display:table-row;	}
		.cart_block_form_table_title	{	display:table-cell;	background-color:#f7f7f7;	width:250px;	padding:15px;	vertical-align:top;	font-size:1.4em;	line-height:150%;	font-weight:bold;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
		.cart_block_form_table_cell		{	display:table-cell;	background-color:#ffffff;	width:auto;		padding:10px;	vertical-align:top;	font-size:1.2em;	line-height:150%;	font-weight:normal;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}

			.cart_block_form_table_cell small	{	font-size:0.75em;	padding:5px;	display:inline-block;	}
			.cart_block_form_table_cell span	{	font-size:1.0em;	padding:5px;	display:inline-block;	}
			.cart_block_form_table_full			{	display:inline-block;	width:400px;	border:1px solid #d9d9d9;	padding:5px;	margin:0 5px;	}
			.cart_block_form_table_normal		{	display:inline-block;	width:180px;	border:1px solid #d9d9d9;	padding:5px;	margin:0 5px;	}
			.cart_block_form_table_quarter		{	display:inline-block;	width:80px;		border:1px solid #d9d9d9;	padding:5px;	margin:0 5px;	}
			.cart_block_form_table_select		{	display:inline-block;	border:1px solid #d9d9d9;	margin:5px;		background-color:#ffffff;	}
			.cart_block_form_table_label		{	display:inline-block;	padding:5px;	}
			.cart_block_form_table_label img	{	vertical-align:middle;	padding:0 5px 0 0;	}
			.cart_block_form_table_label input	{	padding:5px;	margin:0 5px 0 0;	display:inline-block;	}
			.cart_block_form_table_cell_pad		{	padding:0 5px;	}

			#cart_agreement			{	padding:15px;	width:100%;	height:200px;	overflow:auto;	border:1px solid #cccccc;	border-radius: 5px;	}
			#cart_agreement h3		{	padding:0 0 5px 0;	}
			#cart_agreement p		{	padding:0 0 3px 0;	line-height:150%;	}
			#cart_agreement div		{	padding:0 0 10px 0;		}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		.cart_block_bg				{	background-color:#fffced;	border-radius:10px;	border:1px solid #f1cf93;	padding:20px;	text-align:center;	}			

			#cart_form_check_text		{	font-size:1.4em;	font-weight:bold;	padding:0 0 20px 0;	}
			#cart_form_check_inner		{	display:table;		width:400px;	height:50px;	margin:0 auto;	}
			#cart_form_check_box		{	display:table-cell;	width:200px;	height:50px;	text-align:center;	vertical-align:middle;	font-size:1.2em;	}
			#cart_form_check_button		{	display:table-cell;	width:200px;	height:50px;	text-align:center;	vertical-align:middle;	}

			.cart_form_check_button_inner				{	position:relative;	width:200px;	height:50px;	overflow:hidden;	display:block;	}
			.cart_form_check_button_inner a				{	position:absolute;	top:0;		left:0;	}
			.cart_form_check_button_inner a:hover		{	top:-50px;		}
			.cart_form_check_button_inner input			{	position:absolute;	top:0;		left:0;	}
			.cart_form_check_button_inner input:hover	{	top:-50px;		}


#cart_destination_float			{	z-index:7000;		display:none;	}
#cart_card_float				{	z-index:8000;		display:none;	}

	.cart_floating				{	position:absolute;	top:0;	left:0;		width:100%;		height:100%;	opacity:0.0;	filter:alpha(opacity=0);	-ms-filter:"alpha(opacity=0)";		}
	.cart_floating_bg			{	position:absolute;	top:0;	left:0;		width:100%;		height:100%;	opacity:0.5;	filter:alpha(opacity=50);	-ms-filter:"alpha(opacity=50)";		background-color:#000000;	}
	.cart_floating_wrapper		{	position:absolute;	top:0;	left:50%;	width:710px;	height:auto;	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	margin:0 0 0 -355px;		}
	.cart_floating_wrapper_bg	{	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	background-color:#ffffff;	}
	.cart_floating_wrapper_bg *	{	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
	.cart_floating_wrapper_box	{	position:relative;	width:670px;	height:auto;	margin:0 auto;	padding:20px 0 0 0;		}

	.cart_floating_close				{	position:relative;	width:100%;		height:30px;	}
	.cart_floating_close a				{	color:#1a4d80;	font-size:1.2em;	width:60px;	height:20px;	display:block;	position:absolute;	top:0;	right:0;	overflow:hidden;	text-align:left;	padding:2px 0 0 0;	}
	.cart_floating_close a img			{	position:absolute;	top:0;		right:0;	}
	.cart_floating_close a:hover img	{	top:-20px;	}
	.cart_floating_close a:hover 		{	text-decoration:underline;	}



#cart_recommend_text		{	font-size:1.3em;	font-weight:bold;	padding:20px 0;	border-top:1px solid #999999;	}
#cart_recommend_table		{	display:table;		width:100%;	}
.cart_recommend_row			{	display:table-row;	}
.cart_recommend_cell		{	display:table-cell;	width:50%;	padding:15px 10px 0 0;	vertical-align:top;	position:relative;	}

	.cart_recommend_cell .ticket_artist .item_panel_pattern_img			{	display:table-cell;	width:125px;	}
	.cart_recommend_cell .ticket_artist .item_panel_pattern_img img		{	width:110px;	}
	.cart_recommend_cell .ticket_artist .item_panel_pattern_info		{	display:table-cell;	width:auto;		}
	.cart_recommend_cell .goods .item_panel_pattern_img					{	display:table-cell;	width:125px;	}
	.cart_recommend_cell .goods .item_panel_pattern_img img				{	width:110px;	}
	.cart_recommend_cell .goods .item_panel_pattern_info				{	display:table-cell;	width:auto;		}
	.cart_recommend_cell .cddvd .item_panel_pattern_img					{	display:table-cell;	width:125px;	}
	.cart_recommend_cell .cddvd .item_panel_pattern_img img				{	height:110px;	}
	.cart_recommend_cell .cddvd .item_panel_pattern_info				{	display:table-cell;	width:auto;		}
	.cart_recommend_cell .gift .item_panel_pattern_img					{	display:table-cell;	width:125px;	}
	.cart_recommend_cell .gift .item_panel_pattern_img img				{	height:110px;	}
	.cart_recommend_cell .gift .item_panel_pattern_info					{	display:table-cell;	width:auto;		}
