@charset "utf-8";

.none_padding	{	padding-bottom: 0 !important;	}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.item_detail_block	{
	padding: 0 0 20px 0;
}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	.item_detail_inner		{
		padding:20px;
		border-right:#cccccc 1px solid;
		border-bottom:#cccccc 1px solid;
	}
	.item_detail_wrapper	{
		background-color:#ffffff;
		border:#cccccc 1px solid;
		padding:20px;
	}

	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#item_detail_photo					{	display:table-cell;		width:290px;	vertical-align:top;	}
	#item_detail_photo_main				{	display:block;			width:270px;	height:270px;	position:relative;	}
	#item_detail_photo_main	a			{	display:table-cell;		width:270px;	height:270px;	vertical-align:middle;	}
	#item_detail_photo_main	img 		{	vertical-align:middle;	width:100%;		}
	#item_detail_photo_main_zoom		{	position:absolute;		width:28px;		height:28px;	right:0;	bottom:0;	}
	#item_detail_photo_main_zoom img	{	position:absolute;		right:0;		bottom:0;		}

	#item_detail_photo_menu				{	position:relative;	display:block;	width:270px;	padding:5px 0 0 0;	text-align:center;	}
	#item_detail_photo_menu_table		{	display:table;		margin:0 auto;	}
	.item_detail_photo_menu_cell		{	display:table-cell;	padding:4px;	text-align:center;	vertical-align:middle;	position:relative;	}
	.item_detail_photo_menu_cell a		{	display:table-cell;	width:40px;		height:40px;		vertical-align:middle;	}
	.item_detail_photo_menu_cell img	{	width:40px;	}
	.item_detail_photo_menu_cell_focus	{	position:absolute;	width:40px;		height:40px;	top:4px;	left:4px;	opacity:0.0;	filter:alpha(opacity=0);	-ms-filter:"alpha(opacity=0)";	background:url(/common/img/detail/focus_panel.gif) top left no-repeat;	}

	#item_detail_photo_table			{	padding:10px 0;		width:270px;	}
	#item_detail_photo_table_title		{	padding:5px 0;		border-top:1px solid #cccccc;	border-bottom:1px solid #cccccc;	}
	.item_detail_photo_table_box		{	padding:10px 0;		width:100%;						border-bottom:1px solid #cccccc;	}
	.item_detail_photo_table_box th		{	padding:1px 0;		width:100px;	text-align:left;	font-weight:normal;		}
	.item_detail_photo_table_box td		{	padding:1px 0;		width:auto;		}
	.item_detail_photo_table_message	{	padding:5px 0 0 0;	}

	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#item_detail_info					{	display:table-cell;			width:630px;	vertical-align:top;		}
	#item_detail_info_icon				{	list-style:none;			padding:0 0 5px 0;			}
	#item_detail_info_icon li			{	display:inline-block;		padding:3px 5px 2px 5px;	font-size:0.8em;	}	

	#item_detail_icon_category			{	background-color:#003459;	color:#ffffff;				}
	#item_detail_icon_subcategory		{	border:1px solid #cccccc;	}

	#item_detail_info_genru				{	padding:5px 0;				}
	#item_detail_info_small				{	font-size:1.4em;	line-height:150%;	color:#666666;		}
	#item_detail_info_big				{	font-size:2.0em;	line-height:150%;	font-weight:bold;	}
	#item_detail_info_medium			{	font-size:1.2em;	line-height:150%;	}
	.item_detail_info_medium_line		{	padding:10px 0 0 0;	margin:0 0 10px 0;	border-bottom:1px solid #cccccc;	height:1px;	}
	#item_detail_info_price				{	list-style:none;	}
	#item_detail_info_price	li 			{	}
	#item_detail_info_price_web			{	font-size:1.6em;	line-height:125%;	font-weight:bold;	color:#333333;	padding:0 0 5px 0;	}
	#item_detail_info_price_jam			{	font-size:2.2em;	line-height:125%;	font-weight:bold;	color:#d96500;	padding:0 0 5px 0;	}
	.item_detail_info_price_delete		{	text-decoration:line-through;	}
	.item_detail_info_price_update		{	display:block;	color:#cc3333;	font-size:1.0em;	}

	#item_detail_info_price_web .item_detail_info_price_text	{	font-size:0.75em;	font-weight:normal;	padding:0 5px;	}
	#item_detail_info_price_jam .item_detail_info_price_text	{	font-size:0.50em;	font-weight:normal;	padding:0 5px;	}
	#item_detail_info_price_jam .item_detail_info_price_text a	{	padding:0 15px 0 0;	background:url(/common/img/detail/link_blank.gif) top right no-repeat;	}	
	
	#item_detail_gift_info_price_jam 	{	color:#d96500;	font-size: 1.2em;	}
	#item_detail_gift_info_price_jam a 	{	padding:0 15px 0 5px;	background:url(/common/img/detail/link_blank.gif) top right no-repeat;	font-size: 0.9em;	}

	#item_detail_info_text				{	font-size:1.2em;		padding:0 0 10px 0;		color:#666666;	line-height:150%;	}
	.item_detail_info_jump				{	font-size:1.4em;		padding:0 15px 0px 0;	color:#003458;	background:url(/common/img/detail/link_anchor.gif) center right no-repeat;	}
	#item_detail_info_area				{	font-size:1.2em;		padding:10px 0;			line-height:150%;	}
	#item_detail_info_area_large 		{	font-size:1.5em;		padding-bottom:15px;	color:#cc3333;	line-height:150%;	font-weight: bold;	}
	#item_detail_info_sns				{	display:block;			padding:0 0 10px 0;		}
	#item_detail_info_gplus				{	display:inline-block;	width:70px;				}
	#item_detail_info_fb				{	display:inline-block;	width:110px;			}
	#item_detail_info_tw				{	display:inline-block;	width:110px;			}

	/* ------------------------------------------- */
	/* ------------------------------------------- */

	.item_detail_info_box						{	position:relative;		top:0;	left:0;	background-color:#ffffff;	padding:20px 0 5px 0;	}
	#item_detail_info_table						{	display:table;			width:100%;		border:1px solid #CCCCCC;	border-bottom:none;		}
	.item_detail_info_table_title				{	display:table-row;		width:100%;		background-color:#e1edfa;	border-bottom:1px solid #CCCCCC;	font-size:1.0em;	}
	.item_detail_info_table_item				{	display:table-row;		width:100%;		height:60px;				border-bottom:1px solid #CCCCCC;	font-size:1.4em;	}
	.item_detail_info_table_size				{	display:table-cell;		width:auto;		padding:5px 10px;			vertical-align:middle;	}
	.item_detail_info_table_status				{	display:table-cell;		width:100px;	padding:5px 10px;			vertical-align:middle;	}
	.item_detail_info_table_num					{	display:table-cell;		width:300px;	padding:5px 10px;			vertical-align:middle;	}
	.item_detail_info_table_num_form			{	display:inline-block;	}
	.item_detail_info_table_num_form select		{	display:inline-block;	border:1px solid #cccccc;	width:50px;	height:30px;	font-size:1.0em;	background:none;	}
	.item_detail_info_table_num_form dl			{	display:table;			width:100%;		}
	.item_detail_info_table_num_form dt			{	display:table-cell;		width:80px;		vertical-align:middle;	}
	.item_detail_info_table_num_form dd			{	display:table-cell;		vertical-align:middle;	}
	.item_detail_info_table_item_status_soldout	{	color:#cb3234;	padding:0 0 0 18px;		background:url(/common/img/detail/icon_soldout.gif) top left no-repeat;	}
	.item_detail_info_table_item_status_onsale	{	color:#000000;	padding:0 0 0 18px;		background:url(/common/img/detail/icon_onsale.gif) top left no-repeat;	}

	.item_detail_info_table_item_count_form_submit				{	position:relative;	width:210px;	height:50px;	top:0;	left:0;	overflow:hidden;	display:block;		}
	.item_detail_info_table_item_count_form_submit input 		{	position:absolute;	width:210px;	height:100px;	top:0;	left:0;	background:url(/common/img/detail/bt_cart_on.gif) top left no-repeat;	}
	.item_detail_info_table_item_count_form_submit input:hover 	{	top:-50px;	}
	.item_detail_info_table_item_count_form_image				{	display:none;	}

	#item_detail_info_box			{	padding:20px 0;				}
	.item_detail_info_title			{	padding:5px;				font-size:1.4em;	line-height:150%;	border-left:5px solid #003458;	background-color:#ededed;	box-shadow:0px -1px 1px #cccccc inset;	}
	.item_detail_info_text			{	padding:15px 5px 5px 5px;	font-size:1.2em;	line-height:150%;	}

	.item_detail_info_text .stitle 	{	font-weight:bold;			}
	.item_detail_info_text a 		{	text-decoration:underline;	color:#1a4d80;	}
	.item_detail_info_text a:hover 	{	text-decoration:none; 		}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	.item_detail_header			{	padding:12px 15px;		font-size:1.6em;	color:#ffffff;	background-color:#003458;	}
	.item_detail_wrapper_text	{	padding: 0 0 13px 0;	font-size:1.3em;	line-height:150%;	}
	.item_detail_wrapper_banner	{	padding:10px 0 0 0;		}

	.item_detail_ticket 		{	}
	.item_detail_ticket_close	{	padding: 0 0 5px 0;		}
	.item_detail_ticket_open	{	padding: 0 0 20px 0;	}
	.item_detail_ticket_wrap	{	border:1px solid #d9d9d9;	}
	.item_detail_ticket_list	{	padding:5px 0;	background-color:#f7f7f7;	cursor:pointer;	}

	.item_detail_ticket_table						{	display:table;		list-style:none;	width:100%;		color:#000000;	}
	.item_detail_ticket_table_date					{	display:table-cell;	text-align:left;	vertical-align:middle;	width:130px;	padding:0 0 0 20px;	font-size:1.3em;	font-weight:bold;	color:#000000;	}
	.item_detail_ticket_table_venue					{	display:table-cell;	text-align:left;	vertical-align:middle;	width:120px;	padding:0 0 0 20px;	font-size:1.2em;	font-weight:normal;	color:#000000;	}
	.item_detail_ticket_table_place					{	display:table-cell;	text-align:left;	vertical-align:middle;	width:auto;		padding:0 0 0 0;	font-size:1.5em;	font-weight:bold;	color:#244b74;	}
	.item_detail_ticket_table_status				{	display:table-cell;	text-align:center;	vertical-align:middle;	width:140px;	padding:0 0 0 0;	border-left: 1px solid #cccccc;		}
	.item_detail_ticket_table_open					{	padding:0 5px 0 0;	width:180px;	vertical-align:middle;	}
	.item_detail_ticket_table_open  span			{	position:relative;	width:180px;	height:40px;	overflow:hidden;	display:block;	}
	.item_detail_ticket_table_open  span a			{	position:absolute;	top:-40px;		}
	.item_detail_ticket_table_open  span a:hover	{	position:absolute;	top:-80px;		}
	.item_detail_ticket_table_close					{	padding:0 5px 0 0;	width:180px;	vertical-align: middle;	}
	.item_detail_ticket_table_close span			{	position:relative;	width:180px;	height:40px;	overflow:hidden;	display:block;	}
	.item_detail_ticket_table_close span a			{	position:absolute;	top:0px;		}
	.item_detail_ticket_table_close span a:hover	{	position:absolute;	top:-40px;		}

	.item_detail_ticket_status_soldout				{	color:#cb3234;	font-size:1.30em;	}
	.item_detail_ticket_status_onsale				{	color:#4cb330;	font-size:1.30em;	}
	.item_detail_ticket_status_comingsoon			{	color:#666666;	font-size:1.30em;	}
	.item_detail_ticket_status_comingsoon_txt		{	color:#666666;	font-size:0.75em;	}

	.item_detail_ticket_table_title					{	padding:8px 15px;	background-color:#e1edfa;	border-top:1px solid #cccccc;	}
	.item_detail_ticket_table_title ul				{	display:table;		list-style:none;			width:100%;	font-size:1.1em;	color:#333333;	}
	.item_detail_ticket_table_title li				{	display:table-cell;	vertical-align:middle;	}
	.item_detail_ticket_table_title_date			{	width:190px;	}
	.item_detail_ticket_table_title_price			{	width:auto;		}
	.item_detail_ticket_table_title_status			{	width:120px;	}
	.item_detail_ticket_table_title_count			{	width:305px;	}

	.item_detail_ticket_table_item					{	padding:10px 15px;	background-color:#ffffff;	border-top:1px solid #cccccc;	}
	.item_detail_ticket_table_item ul				{	display:table;		list-style:none;			width:100%;	font-size:1.0em;	color:#000000;	}
	.item_detail_ticket_table_item li				{	display:table-cell;	vertical-align:middle;	}
	.item_detail_ticket_table_item_date				{	width:190px;		font-size:1.3em;	}
	.item_detail_ticket_table_item_price			{	width:auto;			font-size:1.6em;	}
	.item_detail_ticket_table_item_status			{	width:120px;		font-size:1.4em;	}
	.item_detail_ticket_table_item_count			{	width:305px;		font-size:1.2em;	}

	.item_detail_ticket_table_item_seat				{	display:block;		}
	.item_detail_ticket_table_item_price_web		{	display:table;		width:100%;		color:#000000;		}
	.item_detail_ticket_table_item_price_web dt		{	display:table-cell;	width:80px;		padding:0 5px 0 0;	text-align:right;	font-weight:bold;	}
	.item_detail_ticket_table_item_price_web dd		{	display:table-cell;	width:auto;		font-size:0.5em;	}
	.item_detail_ticket_table_item_price_jam		{	display:table;		width:100%;		color:#d96500;		}
	.item_detail_ticket_table_item_price_jam dt		{	display:table-cell;	width:80px;		padding:0 5px 0 0;	text-align:right;	font-weight:bold;	}
	.item_detail_ticket_table_item_price_jam dd		{	display:table-cell;	width:auto;		font-size:0.5em;	}	
	.item_detail_ticket_table_item_price_update		{	display:table;		color:#cc3333;	}
	.item_detail_ticket_table_item_price_update dt	{	display:table-cell;	padding:0 5px 0 0;	text-align:left;	font-weight:bold;	}
	.item_detail_ticket_table_item_price_update dd	{	display:table-cell;	font-size:0.5em;	width:auto;		}
	.item_detail_ticket_table_item_price_delete		{	text-decoration:line-through !important;	}
	.item_detail_ticket_table_item_count_form dl 	{	display:table;	}
	.item_detail_ticket_table_item_count_form dt 	{	display:table-cell;	width:100px;	vertical-align:middle;	}
	.item_detail_ticket_table_item_count_form dd 	{	display:table-cell;	width:auto;		vertical-align:middle;	}

	.item_detail_ticket_table_item_count_form select 				{	border:1px solid #cccccc;			width:50px;		height:30px;	font-size:1.1em;	background:none;	}
	.item_detail_ticket_table_item_count_form_submit				{	position:relative;	top:0;	left:0;	width:210px;	height:50px;	display:block;		overflow:hidden;	}
	.item_detail_ticket_table_item_count_form_submit input 			{	position:absolute;	top:0;	left:0;	width:210px;	height:100px;	background:url(/common/img/detail/bt_cart_on.gif) top left no-repeat;	}
	.item_detail_ticket_table_item_count_form_submit input:hover 	{	top:-50px;	}
	.item_detail_ticket_table_item_count_form_image					{	display:none;	}
	.item_detail_ticket_table_item_status_soldout					{	color:#cb3234;	padding:0 0 0 18px;	background:url(/common/img/detail/icon_soldout.gif) top left no-repeat;	}
	.item_detail_ticket_table_item_status_onsale					{	color:#000000;	padding:0 0 0 18px;	background:url(/common/img/detail/icon_onsale.gif) top left no-repeat;	}

	.item_detail_ticket_table_info			{	padding:10px 20px;	background-color:#f7f7f7;			border-top:1px solid #cccccc;	}
	.item_detail_ticket_table_info_title	{	display:table-cell;	vertical-align:top;	width:120px;	font-size:1.4em;	color:#999999;	}
	.item_detail_ticket_table_info_list		{	display:table-cell;	vertical-align:top;	width:520px;	font-size:1.0em;	}
	.item_detail_ticket_table_info_map		{	display:table-cell;	vertical-align:top;	width:230px;	font-size:1.0em;	text-align:right;	padding:0 0 0 20px;	border-left:1px solid #cccccc;	}

	.item_detail_ticket_table_info_list dl 	{	list-style:none;	}
	.item_detail_ticket_table_info_list dt 	{	color:#999999;		padding:0 0 5px 0;	font-size:1.0em;	line-height:100%;	}
	.item_detail_ticket_table_info_list dd 	{	color:#000000;		padding:0 0 15px 0;	font-size:1.2em;	line-height:150%;	}

	.item_detail_ticket_table_info_map_img		{	position:relative;	top:0;		right:0;	width:200px;	height:200px;	}
	.item_detail_ticket_table_info_map_img img	{	vertical-align:middle;		width:100%;	}
	.item_detail_ticket_table_info_map_zoom		{	position:absolute;	bottom:0;	right:0;	width:28px;		}
	.item_detail_ticket_table_info_list_link	{	padding:0 15px 0 0;	background:url(/common/img/detail/link_blank.gif) top right no-repeat;	}


	/* ------------------------------------------- */

	.item_detail_ticket_close .item_detail_ticket_table_open	{	display:table-cell;	}
	.item_detail_ticket_close .item_detail_ticket_table_close	{	display:none;		}
	.item_detail_ticket_close .item_detail_ticket_table_title	{	display:none;		}
	.item_detail_ticket_close .item_detail_ticket_table_item	{	display:none;		}
	.item_detail_ticket_close .item_detail_ticket_table_info	{	display:none;		}

	.item_detail_ticket_open .item_detail_ticket_wrap			{	border:1px solid #003458 !important;	}
	.item_detail_ticket_open .item_detail_ticket_table_open		{	display:none;		}
	.item_detail_ticket_open .item_detail_ticket_table_close	{	display:table-cell;	}
	.item_detail_ticket_open .item_detail_ticket_table_title	{	display:block;		}
	.item_detail_ticket_open .item_detail_ticket_table_item		{	display:block;		}
	.item_detail_ticket_open .item_detail_ticket_table_info		{	display:block;		}

	/* ------------------------------------------- */

	/* ------------------------------------------- */
	/* ------------------------------------------- */

	.item_detail_inner_box				{	padding:0 0 20px 0;	position:relative;	top:0;	left:0;		background-color:#ffffff;	}
	.item_detail_inner_rectangle		{	padding:25px 20px;	border:1px solid #cccccc;				}
	.item_detail_inner_rectangle_title	{	padding:0 0 15px 0;	font-size:1.4em;	line-height:150%;	}
	.item_detail_inner_rectangle_text	{	padding:0 0 0 0;	font-size:1.3em;	line-height:175%;	}

	.item_detail_inner_text		{	padding:15px 5px 5px 5px;	font-size:1.2em;	line-height:150%;	}
	.item_detail_inner_title	{	padding:6px 8px;			font-size:1.2em;	line-height:150%;	box-shadow: 0px -1px 1px #cccccc inset;	border-left:5px solid #003458;	background-color:#ededed;	}

	.item_detail_info_table_size p	{ font-size:0.8em; }


	#item_detail_gift_info_text	{
		margin-top: 35px;
		font-size:1.2em;
		line-height:150%;
	}
	#item_detail_gift_info_text .item_detail_gift_info_box {
		padding: 15px;
		border-radius: 5px;
		background-color: #000000;
	}
	#item_detail_gift_info_text .item_detail_gift_info_box .item_detail_gift_info_box_title {
		margin-bottom: 10px;
		color: #ebd5d6;
		font-weight: bold;
	}
	#item_detail_gift_info_text .item_detail_gift_info_box .item_detail_gift_info_box_list { color: #ffffff; }
	#item_detail_gift_info_text .item_detail_gift_info_box .item_detail_gift_info_box_list li {
		list-style: none;
		padding-left: 1.5em;
		text-indent: -1.5em;
	}
	#item_detail_gift_info_text	.item_detail_gift_info_policy {
		margin-top: 10px;
		text-align: right;
	}
	#item_detail_gift_info_text	.item_detail_gift_info_policy a { color: #1a4d80; }
	#item_detail_gift_info_text	.item_detail_gift_info_policy a:hover { text-decoration: underline; }

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */


	#item_detail_featureimg {
		position:relative;
		width:960px;
	}
	#item_detail_featureimg img {
		width:960px;
		border-top:#cccccc 1px solid;
		border-left:#cccccc 1px solid;
		border-right:#cccccc 1px solid;
	}

	#item_detail_featuretxt	{
		padding:15px 20px;
		background:#000000;
		color:#ffffff;
		font-size:1.3em;
		line-height:1.5em;
		border-right:#cccccc 1px solid;
		border-bottom:#cccccc 1px solid;
	}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#map_floating					{	position:fixed;		top:0;		left:0;		opacity:0.0;	filter:alpha(opacity=0);	-ms-filter:"alpha(opacity=0)";	display:none;	z-index:9500;	}
#map_bg_floating				{	position:absolute;	top:0;		left:0;		opacity:0.3;	filter:alpha(opacity=30);	-ms-filter:"alpha(opacity=30)";	width:100%;		height:100%;	background-color:#000000;	}
#map_wrapper_floating			{	position:absolute;	top:50%;	left:50%;	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
#map_wrapper_floating *			{	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
#map_floating_box				{	position:relative;	background-color:#ffffff;		border-radius:5px;	}
#map_image_floating				{	position:absolute;	}
#map_image_src_floating			{	display:table-cell;		vertical-align:middle;	}
#map_image_src_floating img		{	display:inline-block;	vertical-align:middle;	}
#map_bt_floating				{	position:absolute;	top:10px;	right:10px;	}
#map_bt_floating a				{	position:relative;	color:#1a4d80;	font-size:1.2em;	width:60px;	height:20px;	display:block;	overflow:hidden;	text-align:left;	padding:2px 0 0 0;	}
#map_bt_floating a img			{	position:absolute;	top:0;		right:0;	}
#map_bt_floating a:hover img	{	top:-20px;	}
#map_bt_floating a:hover 		{	text-decoration:underline;	}


		
.zoom100 #map_floating_box				{	margin:-345px 0 0 -330px;	width:660px;	height:690px;	}
.zoom100 #map_image_floating			{	top:40px;		left:10px;		}
.zoom100 #map_image_src_floating		{	width:640px;	height:640px;	}
.zoom100 #map_image_src_floating img	{	width:640px;	}

.zoom75 #map_floating_box				{	margin:-255px 0 0 -267px;	width:480px;	height:510px;	}
.zoom75 #map_image_floating				{	top:40px;		left:10px;		}
.zoom75 #map_image_src_floating			{	width:460px;	height:460px;	}
.zoom75 #map_image_src_floating img		{	width:460px;	}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.policybox {
	padding: 15px 30px 30px;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
}
.policybox .policy-title {
	line-height: 2.5;
	border-bottom: 1px solid #d9d9d9;
	color: #0a2233;
	font-size: 20px;
	font-weight: bold;
}
.policybox .policy-section {
	line-height: 1.7;
	padding-top: 25px;
	font-size: 13px;
}
.policybox .policy-section .policy-section-title { font-weight: bold; }
.policybox .policy-section .policy-section-text { margin-top: 10px; }
.policybox .policy-section .policy-section-list li {
	position: relative;
	padding-left: 2em;
	list-style: none;
}
.policybox .policy-section .policy-section-list li .policy-section-list-num {
	position: absolute;
	top: 0;
	left: 0;
}
.policybox .policy-section .policy-section-list li .policy-section-list-title { margin-bottom: 5px; }
.policybox .policy-section a {
	color: #1a4d80;
	text-decoration: underline;
}
.policybox .policy-section a:hover { text-decoration: none; }
