#gradation			{
	background:url(/common/img/entry/jam/jam_bg_gradation.gif) left top repeat-x;
	background-color:#f0f0f2;
}

#jam_left_block		{
	width:475px;
	float:left;
	padding:20px 0 30px 0;
}
#jam_right_block	{
	width:300px;
	float:right;
	padding:70px 0 30px 0;
}
#jam_center_block	{
	clear:both;
	padding:0 0 10px 0;
}

	#jam_entry_title	{
		padding:0 0 15px 0;
	}
	#jam_entry_copy		{
		padding:0 0 25px 0;
	}
	.jam_entry_text		{
		font-size:1.5em;
		line-height:150%;
		color:#000000;
	}

	#jam_center_block_inner	{	border:1px solid #b3b3b3;	padding:1px;	text-align:center;	}
	#jam_center_block_edge	{	border:1px solid #b3b3b3;	padding:20px 0;	text-align:center;	font-size:1.0em;	line-height:150%;	}
	#jam_center_block_title	{	font-size:1.8em;	font-weight:bold;	line-height:150%;	padding:0 0 5px 0;	}
	#jam_center_block_text	{	font-size:1.4em;	color:#666666;	}


#jam_entry					{
	position:relative;
	background-color:#000000;
}


	#jam_entry_black_title		{
		padding:0 0 30px 0;
	}
	#jam_entry_black_list		{
		width:810px;
		list-style:none;
		display:table;
	}
	#jam_entry_black_list li	{
		width:270px;
		height:200px;
		display:table-cell;
		padding:120px 20px 0 20px;
		font-size:1.3em;
		line-height:150%;
		color:#ffffff;
	}
	#jam_entry_black_list_1	{	background:url(/common/img/entry/jam/jam_black_item_1.gif) left top no-repeat;	}
	#jam_entry_black_list_2	{	background:url(/common/img/entry/jam/jam_black_item_2.gif) left top no-repeat;	}
	#jam_entry_black_list_3	{	background:url(/common/img/entry/jam/jam_black_item_3.gif) left top no-repeat;	}

	#jam_entry_black_copy		{
		padding:30px 0;
	}
	#jam_entry_blue				{
		padding:25px 25px 20px 25px;
		background-color:#003458;
	}
	#jam_entry_blue_list		{
		list-style:none;
		border-bottom:1px solid #335d79; 
		margin:0 0 20px 0;
	}
	#jam_entry_blue_list li		{
		height:100px;
		font-size:1.3em;
		color:#ffffff;
		padding:55px 0 0 105px;
	}
	#jam_entry_blue_list_1		{	background:url(/common/img/entry/jam/jam_blue_item_1.gif) left top no-repeat;	}
	#jam_entry_blue_list_2		{	background:url(/common/img/entry/jam/jam_blue_item_2.gif) left top no-repeat;	}
	#jam_entry_blue_list_3		{	background:url(/common/img/entry/jam/jam_blue_item_3.gif) left top no-repeat;	}

	.jam_entry_blue_comment		{
		list-style:none;
		display:table;
		width:100%;
		font-size:1.0em;
		line-height:150%;
		color:#cccccc;
	}
	.jam_entry_blue_comment	dt	{
		vertical-align:top;
		display:table-cell;
		width:30px;
		padding:0 0 5px 0;
	}
	.jam_entry_blue_comment	dd	{
		vertical-align:top;
		display:table-cell;
		width:auto;
		padding:0 0 5px 0;
	}



.jam_entry_block		{
	padding:0 0 30px 0;
}
	.none_padding			{
		padding:0 !important;
	}
	
.jam_entry_block_title	{
	padding:10px;
}
	#jam_entry_goto_title	{
		background-color:#000000;
		color:#ffffff;
		font-size:1.5em;
		font-weight:normal;
		text-align:center;
	}
	#jam_entry_login_title	{
		background-color:#828b99;
		color:#ffffff;
		font-size:1.5em;
		font-weight:normal;
		text-align:center;
	}
	.jam_entry_about_title	{
		background-color:#e1edfa;
		color:#000000;
		font-size:1.5em;
		border-top:2px solid #003458;
		text-align:left;
	}

.jam_entry_block_wrapper	{
	padding:20px;
	text-align:center;
	background-color:#f5f5f5;
	border:1px solid #d9d9d9;
	border-top:none;
	position:relative;
}
.jam_entry_block_text		{
	padding:20px 0 0 0;
	position:relative;
}

	#jam_entry_goto_text			{	font-size:1.2em;		padding:0 0 10px 0;	}
	#jam_entry_goto_bt				{	text-align:center;		margin:0 auto;		position:relative;	padding:5px 0 0 0;	}
	#jam_entry_goto_bt span			{	position:relative;		display:block;		margin:0 auto;		width:300px;		height:70px;		overflow:hidden;	}
	#jam_entry_goto_bt span a		{	position:absolute;		top:0;	left:5px;	}
	#jam_entry_goto_bt span a:hover	{	top:-70px;	}
	#jam_entry_goto_bt p			{	position:relative;		display:block;		margin:0 auto;		padding:10px 0 0 0;	text-align:center;	}
	#jam_entry_goto_bt p a			{	text-decoration:none;	color:#003458;		font-size:1.2em;	line-height:1.5em;	}
	#jam_entry_goto_bt p a:hover	{	text-decoration:underline;	}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#jam_entry_login_text		{
		padding:0 0 20px 0;
		font-size:1.2em;
		color:#666666;
	}

	#jam_entry_login_form		{
		display:table;
		margin:0 auto;
		width:570px;
	}

	#jam_entry_login_form_left	{
		display:table-cell;
		width:285px;
		vertical-align:top;
	}

	#jam_entry_login_form_right	{
		display:table-cell;
		width:285px;
		vertical-align:top;
	}
		.jam_entry_login_form_area	{
			padding:0 20px 20px 20px;
			text-align:left;
		}
		
		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		.jam_entry_login_form_area_title		{	font-size:1.2em;	font-weight: bold;	float:left;	}
		.jam_entry_login_form_area_small		{	font-size:1.0em;	}
		#jam_entry_login_form_area_address		{	clear:both;	border:1px solid #CCC;	width:100%;	height:24px;	display:block;	}
		#jam_entry_login_form_area_password		{	clear:both;	border:1px solid #CCC;	width:100%;	height:24px;	display:block;	}
		#jam_entry_login_form_area_forget		{	text-decoration:none;		color:#1a4d80;	font-size:1.0em;	display:inline-block;	padding:2px 0 0 0;	float:right;	}
		#jam_entry_login_form_area_forget:hover	{	text-decoration:underline;	}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		#jam_entry_login_form_area_check_box	{
			width:auto;
			padding:10px 0 0 0;
			font-size:1.2em;
			display:block;
		}

		#jam_entry_login_form_submit	{
			width:90px;
			height:30px;
		}
		#jam_entry_login_form_submit span	{
			position:relative;
			top:0;
			left:20px;
			width:250px;
			height:50px;
			overflow:hidden;
			display:block;
		}
		#jam_entry_login_form_submit input	{
			position: absolute;
			top:0;
			left:0;
		}
		#jam_entry_login_form_submit input:hover	{
			position: absolute;
			top:-50px;
			left:0;
		}


		.jam_entry_block_list			{
			list-style: none;
			padding:0 0 10px 0;
		}
		.jam_entry_block_list_title		{
			padding:0 0 5px 15px;
			font-size:1.2em;
			background:url(/common/img/entry/common/list_title_icon.gif) no-repeat 0px 1px;
		}
		.jam_entry_block_list_item_1	{
			padding:0 0 5px 25px;
			font-size:1.2em;
			background:url(/common/img/entry/common/list_item_icon_1.gif) no-repeat 8px 1px;
		}
		.jam_entry_block_list_item_2	{
			padding:0 0 5px 25px;
			font-size:1.2em;
			background:url(/common/img/entry/common/list_item_icon_2.gif) no-repeat 8px 1px;
		}
		.jam_entry_block_list_item_3	{
			padding:0 0 5px 25px;
			font-size:1.0em;
			background:url(/common/img/entry/common/list_item_icon_3.gif) no-repeat 8px 1px;
		}
		.jam_entry_block_list_item_4	{
			padding:0 0 5px 15px;
			font-size:1.2em;
		}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		#jam_entry_title_block			{

		}
		#jam_entry_page_title			{
			padding:1px 0;
			border-bottom:1px solid #999999;
		}
		#jam_entry_page_title_inner		{
			width:100%;
			display:table;
			border-bottom:1px solid #999999;
		}
		#jam_entry_page_title_main		{
			display:table-cell;
			text-align:left;
			vertical-align:bottom;
			padding:0 0 10px 0;
			font-size:2.0em;
			color:#000000;
		}
		#jam_entry_page_title_sub		{
			display:table-cell;
			text-align:right;
			vertical-align:bottom;
			padding:0 0 10px 0;
			font-size:1.4em;
			color:#999999;
			font-weight:normal;
		}
		.jam_entry_page_title_text		{
			padding:20px 0 10px 0;
			font-size:1.6em;
			line-height:150%;
			font-weight:bold;
			color:#000000;
		}
		.jam_entry_page_title_copy		{
			padding:0 0 3px 0;
			font-size:1.2em;
			line-height:150%;
		}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		#jam_entry_close_bt	{
			position:relative;
			width:100px;
			height:40px;
			overflow:hidden;
		}
		#jam_entry_close_bt	a {
			position:absolute;
			top:0;
			left:0;
		}
		#jam_entry_close_bt	a:hover {
			top:-40px;
		}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		.jam_entry_block_form_table			{
			display:table;
			width:100%;
			border-top:1px solid #d9d9d9;
			border-left:1px solid #d9d9d9;
		}
		.jam_entry_block_form_table_row		{
			display:table-row;
		}
			.jam_entry_block_form_table_title	{
				display:table-cell;
				background-color:#f7f7f7;
				width:250px;
				padding:15px;
				vertical-align:top;
				font-size:1.4em;
				line-height:150%;
				font-weight:bold;
				border-bottom:1px solid #d9d9d9;
				border-right:1px solid #d9d9d9;
			}
			.jam_entry_block_form_table_cell	{
				display:table-cell;
				background-color:#ffffff;
				width:auto;
				padding:10px;
				vertical-align:top;
				font-size:1.2em;
				line-height:150%;
				font-weight:normal;
				border-bottom:1px solid #d9d9d9;
				border-right:1px solid #d9d9d9;
			}

			.jam_entry_block_form_table_cell small	{
				font-size:0.75em;
				padding:5px;
				display:inline-block;
			}
			.jam_entry_block_form_table_cell span	{
				font-size:1.0em;
				padding:5px;
				display:inline-block;
			}

			.jam_entry_block_form_table_full	{
				display:inline-block;
				width:400px;
				border:1px solid #d9d9d9;
				padding:5px;
				margin:0 5px;
			}
			.jam_entry_block_form_table_normal	{
				display:inline-block;
				width:180px;
				border:1px solid #d9d9d9;
				padding:5px;
				margin:0 5px;
			}
			.jam_entry_block_form_table_quarter	{
				display:inline-block;
				width:80px;
				border:1px solid #d9d9d9;
				padding:5px;
				margin:0 5px;
			}
			.jam_entry_block_form_table_select	{
				display:inline-block;
				border:1px solid #d9d9d9;
				margin:5px;
				background-color:#ffffff;
			}

			.jam_entry_block_form_table_label	{
				display:inline-block;
				padding:5px;
			}

			.jam_entry_block_form_table_label img	{
				vertical-align:middle;
				padding:0 5px 0 0;
			}

			.jam_entry_block_form_table_label input	{
				padding:5px;
				margin:0 5px 0 0;
				display:inline-block;
			}

			.jam_entry_block_form_table_cell_pad	{
				padding:0 5px;
			}

			.require							{
				background-image:url(/common/img/entry/common/require_icon.gif);
				background-position:205px 16px;
				background-repeat:no-repeat;
			}


		#jam_entry_agreement	{
			padding:15px;
			width:100%;
			height:200px;
			overflow:auto;
			border:1px solid #cccccc;
			border-radius: 5px;
		}

		#jam_entry_agreement h3		{
			padding:0 0 5px 0;
		}
		#jam_entry_agreement p		{
			padding:0 0 3px 0;
			line-height:150%;
		}
		#jam_entry_agreement div	{
			padding:0 0 10px 0;
		}

		.jam_entry_block_bg			{
			background-color:#fffced;
			border-radius:10px;
			border:1px solid #f1cf93;
			padding:20px;
			text-align:center;
		}
			
		#jam_entry_form_check_text	{
			font-size:1.4em;
			font-weight:bold;
			padding:0 0 20px 0;
		}

		#jam_entry_form_check_inner	{
			display:table;
			width:400px;
			height:50px;
			margin:0 auto;
		}
		#jam_entry_form_check_box	{
			display:table-cell;
			width:200px;
			height:50px;
			text-align:center;
			vertical-align:middle;
			font-size:1.2em;
		}
		#jam_entry_form_check_button		{
			display:table-cell;
			width:200px;
			height:50px;
			text-align:center;
			vertical-align:middle;
		}
		#jam_entry_form_check_button_cover 	{
			position:absolute;
		}
		.jam_entry_form_check_button_inner	{
			position:relative;
			width:200px;
			height:50px;
			overflow:hidden;
			display:block;
		}
		
		.jam_entry_form_check_button_inner a	{
			position:absolute;
			top:0;
			left:0;
		}
		.jam_entry_form_check_button_inner a:hover	{
			top:-50px;
		}

		.jam_entry_form_check_button_inner input	{
			position:absolute;
			top:0;
			left:0;
		}
		.jam_entry_form_check_button_inner input:hover	{
			top:-50px;
		}

		#jam_entry_form_check_table		{
			display:table;
			height:50px;
			margin:0 auto;
		}
		.jam_entry_form_check_cell		{
			display:table-cell;
			width:200px;
			height:50px;
			text-align:center;
		}

		.jam_entry_block_border			{
			border-radius:5px;
			border: 1px solid #cccccc;
			padding:20px;
		}
		.jam_entry_block_border_title	{
			padding:0 0 10px 0;
			font-size:1.6em;
			font-weight:bold;
		}
		.jam_entry_block_border_text	{
			font-size:1.2em;
			line-height:150%;
		}


		#jam_entry_form_check_card	{
			display:table;
			width:200px;
			height:50px;
			margin:0 auto;
		}

		#jam_entry_toppage_bt		{
			position:relative;
			width:215px;
			height:34px;
			overflow:hidden;
			display:inline-block;
		}
		#jam_entry_toppage_bt a	{
			position:absolute;
			top:0;
			left:0;
		}
		#jam_entry_toppage_bt a:hover	{
			top:-34px;
		}

		#jam_entry_guide_bt		{
			position:relative;
			width:100px;
			height:34px;
			overflow:hidden;
			display:inline-block;
		}
		#jam_entry_guide_bt a	{
			position:absolute;
			top:0;
			left:0;
		}
		#jam_entry_guide_bt a:hover	{
			top:-34px;
		}


		#jam_entry_complete	{
			opacity:1.0;
			filter:alpha(opacity=100);
			-ms-filter:"alpha(opacity=100)";
		}
		#jam_entry_complete:hover	{
			opacity:0.75;
			filter:alpha(opacity=75);
			-ms-filter:"alpha(opacity=75)";
		}

