input					{	background-color:#ffffff;	}
input.error				{	background-color:#fff0f0;	border:1px solid #ff0000;	}
input:focus				{	background-color:#fffde8;	border:none;	}

.require		{	background-image:url(/common/img/entry/common/require_icon.gif);	background-position:205px 16px;	background-repeat:no-repeat;	}
.require_2		{	background-image:url(/common/img/entry/common/require_icon.gif);	background-position:175px 16px;	background-repeat:no-repeat;	}
.require_3		{	background-image:url(/common/img/entry/common/require_icon.gif);	background-position:100px 10px;	background-repeat:no-repeat;	}


#form_flow						{	padding:0 0 20px 0;		text-align:center;	}

#form_title						{	padding:0 0 20px 0;	}
#form_title_line				{	padding:1px 0;	border-bottom:1px solid #999999;	}
#form_title_inner				{	display:table;	border-bottom:1px solid #999999;	width:100%;		}
#form_title_text_main			{	display:table-cell;	text-align:left;	vertical-align:bottom;	padding:0 0 10px 0;	font-size:2.0em;	color:#000000;	font-weight:bold;	}
#form_title_text_sub			{	display:table-cell;	text-align:right;	vertical-align:bottom;	padding:0 0 10px 0;	font-size:1.4em;	color:#999999;	font-weight:normal;	}
.form_title_text				{	padding:20px 0 10px 0;	font-size:1.6em;	line-height:150%;	font-weight:bold;	color:#000000;	}
.form_title_copy				{	padding:0 0 3px 0;		font-size:1.2em;	line-height:150%;	}
.form_title_caution				{	padding:0 0 3px 0;		font-size:1.6em;	line-height:125%;	font-weight:bold;	color:#cc3333;		}
.form_title_list				{	padding:0 0 10px 0;		list-style: none;	}
.form_title_list_item_1			{	padding:0 0 5px 25px;	font-size:1.2em;	background:url(/common/img/entry/common/list_item_icon_1.gif) no-repeat 8px 1px;	}
.form_title_list_item_2			{	padding:0 0 5px 25px;	font-size:1.2em;	background:url(/common/img/entry/common/list_item_icon_2.gif) no-repeat 8px 1px;	}
.form_title_list_item_3			{	padding:0 0 5px 25px;	font-size:1.0em;	background:url(/common/img/entry/common/list_item_icon_3.gif) no-repeat 8px 1px;	}
.form_title_list_item_4			{	padding:0 0 5px 15px;	font-size:1.2em;	}
#form_title_closebt				{	position:relative;	width:100px;	height:40px;	overflow:hidden;	display:inline-block;	}
#form_title_closebt a 			{	position:absolute;	top:0;			left:0;			}
#form_title_closebt a:hover 	{	top:-40px;	}
#form_title_topbt				{	position:relative;	width:100px;	height:40px;	overflow:hidden;	display:inline-block;	}
#form_title_topbt a 			{	position:absolute;	top:0;			left:0;			}
#form_title_topbt a:hover 		{	top:-40px;	}
#form_title_guidebt				{	position:relative;	width:100px;	height:40px;	overflow:hidden;	display:inline-block;	}
#form_title_guidebt a 			{	position:absolute;	top:0;			left:0;			}
#form_title_guidebt a:hover 	{	top:-40px;	}
#form_title_topbt				{	position:relative;	width:255px;	height:34px;	overflow:hidden;	display:inline-block;	}
#form_title_topbt a				{	position:absolute;	top:0;			left:0;			}
#form_title_topbt a:hover		{	top:-34px;	}
#form_title_guidebt				{	position:relative;	width:100px;	height:34px;	overflow:hidden;	display:inline-block;	}
#form_title_guidebt a			{	position:absolute;	top:0;			left:0;			}
#form_title_guidebt a:hover		{	top:-34px;	}
#form_title_mypage				{	position:relative;	width:255px;	height:34px;	overflow:hidden;	display:inline-block;	}
#form_title_mypage a			{	position:absolute;	top:0;			left:0;			}
#form_title_mypage a:hover		{	top:-34px;	}

.form_error_text				{	padding:0 0 5px 0;	color:#ff0000;		font-size:1.2em; }

#form_entry_complete			{	opacity:1.00;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
#form_entry_complete:hover		{	opacity:0.75;	filter:alpha(opacity=75);	-ms-filter:"alpha(opacity=75)";		}

.form_entry_block				{	padding:0 0 25px 0;	position:relative;	}
.form_entry_block_title			{	padding:10px;	background-color:#e1edfa;	color:#000000;	font-size:1.5em;	border-top:2px solid #003458;	text-align:left;	}
.form_entry_block_title_1		{	padding:10px;	background-color:#000000;	color:#ffffff;	font-size:1.5em;	font-weight:normal;	text-align:center;	}
.form_entry_block_title_2		{	padding:10px;	background-color:#828b99;	color:#ffffff;	font-size:1.5em;	font-weight:normal;	text-align:center;	}
.form_entry_block_text			{	padding:20px 0 0 0;	position:relative;	}
.form_entry_block_table			{	display:table;	width:100%;	border-top:1px solid #d9d9d9;	border-left:1px solid #d9d9d9;	}
.form_entry_block_row			{	display:table-row;	}
.form_entry_block_cell_title	{	display:table-cell;	background-color:#f7f7f7;	width:250px;	padding:15px;	vertical-align:top;	font-size:1.4em;	line-height:150%;	font-weight:bold;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
.form_entry_block_cell			{	display:table-cell;	background-color:#ffffff;	width:auto;		padding:10px;	vertical-align:top;	font-size:1.2em;	line-height:150%;	font-weight:normal;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
.form_entry_block_cell_pad		{	padding:0 5px;		}
.form_entry_block_cell_caution	{	background-color:#fff9db;	padding:10px 10px 5px 10px;	margin:10px 0;}
.form_entry_block_cell_caution p{	color:#cc3333;	padding:0 0 0 30px;	background:url(/common/img/cart/icon_caution.gif) left top no-repeat;	}
.form_entry_block_cell_labels	{	line-height:100% !important;}
.form_entry_block_cell small	{	font-size:0.75em;	padding:5px;	display:inline-block;	}
.form_entry_block_cell span		{	font-size:1.00em;	padding:5px;	display:inline-block;	}
.form_entry_block_border		{	padding:20px;	border-radius:5px;	border: 1px solid #cccccc;	}
.form_entry_block_border_title	{	padding:0 0 10px 0;	font-size:1.6em;	font-weight:bold;	}
.form_entry_block_border_text	{	font-size:1.2em;	line-height:150%;	}
.form_entry_block_normal					{	display:inline-block;	width:180px;	border:1px solid #d9d9d9;	padding:5px;	margin:0 5px;	}
.form_entry_block_quarter					{	display:inline-block;	width:80px;		border:1px solid #d9d9d9;	padding:5px;	margin:0 5px;	}
.form_entry_block_select					{	display:inline-block; 	border:1px solid #d9d9d9;	margin:5px;		background-color:#ffffff;	}
.form_entry_block_full						{	display:inline-block;	width:400px;	border:1px solid #d9d9d9;	padding:5px;	margin:0 5px;	}
.form_entry_block_fill						{	display:inline-block;	width:330px;	border:1px solid #d9d9d9;	padding:5px;	margin:0 5px;	}
.form_entry_block_label						{	display:inline-block;	padding:5px;		}
.form_entry_block_label img					{	display:inline-block;	padding:0 5px 0 0;	vertical-align:middle;	}
.form_entry_block_label input				{	display:inline-block;	padding:5px;		margin:0 5px 0 0;		}

.form_entry_block_text_2					{	padding:10px 0;			position:relative;	}
.form_entry_block_cell_title_2				{	display:table-cell;		background-color:#f7f7f7;	width:220px;		padding:10px 15px;	vertical-align:top;	font-size:1.2em;	line-height:150%;	font-weight:bold;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
.form_entry_block_cell_2					{	display:table-cell;		background-color:#ffffff;	width:auto;			padding:10px 15px;	vertical-align:top;	font-size:1.2em;	line-height:150%;	font-weight:normal;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
.form_entry_block_label_mini				{	display:inline-block;	padding:10px 5px;			font-size:1.4em; 	font-weight:bold;	}
.form_entry_block_label_mini_2				{	display:inline-block;	padding:15px 5px 5px 5px;	font-size:1.4em; 	font-weight:bold;	}
.form_entry_block_label_mini input			{	display:inline-block;	padding:5px;				margin:0 5px 0 0;	}
.form_entry_block_label_mini img			{	display:inline-block;	padding:0 5px 0 0;			vertical-align:middle;	}
.form_entry_block_label_red					{	color:#cc3333;			font-size:1.2em;			font-weight:bold;	}
.form_entry_block_full_2					{	display:inline-block;	border:1px solid #d9d9d9;	width:300px;		padding:5px;	margin:0 5px 0 0;	}
.form_entry_block_quarter_2					{	display:inline-block;	border:1px solid #d9d9d9;	width:80px;			padding:5px;	margin:0 5px 0 0;	}
.form_entry_block_select_2					{	display:inline-block; 	border:1px solid #d9d9d9;	margin:0 5px 0 0;	background-color:#ffffff;	}
.form_entry_block_normal_2					{	display:inline-block;	border:1px solid #d9d9d9;	width:100px;		padding:5px;	margin:0 5px 0 0;	}
.form_entry_block_area						{	display:inline-block;	border:1px solid #d9d9d9;	width:100%;			height:100px;	padding:5px;	}
.form_entry_block_cell_title_label			{	display:inline-block;	}
.form_entry_block_cell_title_label input	{	display:inline-block;	margin:0 5px 0 0;	}
.form_entry_block_cell_text					{	font-size:0.8em;		color:#333333;	}
.form_entry_block_cell_copy					{	font-size:1.0em;		color:#999999;	padding:10px 0 0 0;	}
.form_entry_block_change					{	position:relative;	width:100%;		height:34px;	padding:0;	}
.form_entry_block_change span				{	position:absolute;	width:104px;	height:34px;	right:0;	overflow:hidden;	}
.form_entry_block_change a					{	position:absolute;	top:0;		}
.form_entry_block_change a:hover			{	position:absolute;	top:-34px;	}

.form_entry_block_text_3					{	padding:10px 0;			position:relative;	}
.form_entry_block_cell_title_3				{	display:table-cell;		background-color:#f7f7f7;	width:140px;	padding:10px 50px 10px 15px;	vertical-align:top;	font-size:1.2em;	line-height:150%;	font-weight:bold;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
.form_entry_block_cell_3					{	display:table-cell;		background-color:#ffffff;	width:auto;		padding:10px 15px 10px 15px;	vertical-align:top;	font-size:1.2em;	line-height:150%;	font-weight:normal;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}


#form_entry_agreement			{	padding:15px;	width:100%;	height:200px;	overflow:auto;	border:1px solid #cccccc;	border-radius: 5px;		}
#form_entry_agreement h3		{	padding:0 0 5px 0;	}
#form_entry_agreement p			{	padding:0 0 3px 0;	line-height:150%;	}
#form_entry_agreement div		{	padding:0 0 10px 0;	}
#form_entry_agreement a			{ color: #1a4d80; }
#form_entry_agreement a:hover			{ text-decoration: underline; }

#form_entry_check_bg						{	background-color:#fffced;	border-radius:10px;	border:1px solid #f1cf93;	padding:25px;	text-align:center;	}	
#form_entry_check_text						{	font-size:1.4em;	font-weight:bold;	padding:0 0 20px 0;	}
#form_entry_check_inner						{	display:table;		width:auto;		height:50px;	margin:0 auto;	}
.form_entry_check_cell						{	display:table-cell;	width:200px;	height:50px;	text-align:center;	vertical-align:middle;	font-size:1.2em;	}
.form_entry_check_button_inner				{	position:relative;	width:200px;	height:50px;	overflow:hidden;	display:block;	}
.form_entry_check_button_inner input		{	position:absolute;	top:0;	left:0;	}
.form_entry_check_button_inner input:hover	{	top:-50px;	}
.form_entry_check_button_inner a			{	position:absolute;	top:0;	left:0;	}
.form_entry_check_button_inner a:hover		{	top:-50px;	}

.form_entry_card_button_inner				{	position:relative;	width:280px;	height:50px;	overflow:hidden;	display:block;	}
.form_entry_card_button_inner input			{	position:absolute;	top:0;	left:0;	}
.form_entry_card_button_inner input:hover	{	top:-50px;	}

.form_entry_text							{	font-size:1.2em;	line-height:1.5em;	}

.form_block_button				{	position:relative;	width:100%;		height:54px;	top:0;		left:0;		padding:10px 0; }
.form_block_bt					{	position:relative;	width:100%;		height:34px;	top:0px;	left:0;			}
.form_block_bt1					{	position:absolute;	width:104px;	height:34px;	top:0px;	right:114px;	}
.form_block_bt1 span			{	position:absolute;	width:104px;	height:34px;	top:0;		left:0;		overflow:hidden;	}
.form_block_bt1 a				{	position:absolute;	top:0;			}
.form_block_bt1 a:hover			{	position:absolute;	top:-34px;		}
.form_block_bt1 input			{	position:absolute;	top:0;			}
.form_block_bt1 input:hover		{	position:absolute;	top:-34px;		}
.form_block_bt2					{	position:absolute;	width:104px;	height:34px;	top:0px;	right:0;	}
.form_block_bt2 span			{	position:absolute;	width:104px;	height:34px;	top:0;		left:0;		overflow:hidden;	}
.form_block_bt2 a				{	position:absolute;	top:0;			}
.form_block_bt2 a:hover			{	position:absolute;	top:-34px;		}
.form_block_bt2 input			{	position:absolute;	top:0;			}
.form_block_bt2 input:hover		{	position:absolute;	top:-34px;		}
.form_block_bt3					{	text-align:right;	}
.form_block_bt3 a				{	display:list-item;	list-style-image:url("/common/img/cart/bt_add_df.gif"); list-style-position:inside;	font-size:1.3em;	color:#1a4d80;	text-decoration:none;		}
.form_block_bt3 a:hover			{	display:list-item;	list-style-image:url("/common/img/cart/bt_add_hv.gif"); list-style-position:inside;	font-size:1.3em;	color:#1a4d80;	text-decoration:underline;	}

.form_card_table				{	display:table;		width:100%;		position:relative;	font-size:1.4em;	}
.form_card_table_title			{	display:table-cell;	position:relative;	width:170px;	height:34px;	vertical-align:middle;	padding:10px 0 0 5px;	font-weight:bold;	}
.form_card_table_title label	{	display:inline-block;	}
.form_card_table_title input	{	display:inline-block;	margin:0 5px 0 0;	}
.form_card_table_image			{	display:table-cell;	position:relative;	width:60px;		height:34px;	vertical-align:middle;	padding:10px 0 0 0;	}
.form_card_table_image img		{	display:inline-block;	vertical-align:middle;	}
.form_card_table_password		{	display:table-cell;	position:relative;	width:100px;	height:34px;	vertical-align:middle;	padding:10px 0 0 0;	}
.form_card_table_button			{	display:table-cell;	position:relative;	width:auto;		height:34px;	vertical-align:middle;	padding:10px 0 0 0;	}



