@charset "utf-8";
/* ------------------------------------------- */
/* guide */
/* ------------------------------------------- */

#guide_wrapper	{	position:relative;	padding:10px 0 0 0;	}
#guide_title	{	font-size:1.8em;	font-weight: bold;	padding:0 0 20px 0;	}

#guide_wrapper .blockarea	{	padding-bottom: 0;	}
#guide_wrapper .blockarea .blockarea_header	{	border-right: none;	}
#guide_wrapper .blockarea .blockarea_localnavi	{	border-bottom: solid 1px #ccc;	}
.blockarea_localnavi_list li a	{	font-size: 1.0em\9;	}/* IE8向け */
#guide_wrapper .blockarea .blockarea_localcontent	{	border-right: solid 1px #ccc;	border-bottom: solid 1px #ccc;	}
/* ------------------------------------------- */
/* index */
/* ------------------------------------------- */

.guide_box_area	{	*zoom: 1;	}
.guide_box_area:after	{	content: ".";	display: block;	clear: both;	height: 0;	visibility: hidden;	overflow: hidden;	}

.guide_box_01,
.guide_box_02,
.guide_box_03,
.guide_box_04,
.guide_box_05,
.guide_box_06,
.guide_box_07	{	float: left;	width: 228px;	height: 228px;	margin: 0 16px 14px 0;	padding: 20px 0px 0 15px;	background: #fff;	border: solid 1px #d3d3d3;	}

.guide_box_04,
.guide_box_07	{	margin-right:0;	}

.guide_box_05,
.guide_box_06,
.guide_box_07	{	margin-bottom: 0;	}

.guide_box_h	{	margin-bottom: 20px;	}
.guide_box_h a	{	color: #1a4d80;	font-size: 1.6em;	font-weight: bold;	}
.guide_box_h a:hover	{	opacity: 0.7;	}

.guide_box_link li	{	margin-left: 1.2em;	}
.guide_box_link li 	a {	font-size: 1.2em;	line-height: 1.8;	color: #333;	}
.guide_box_link li a:hover	{	text-decoration: underline;	}

/* ------------------------------------------- */
/* Detail */
/* ------------------------------------------- */

.guide_detail_snav	{	margin: 15px;	padding: 15px 15px 5px 15px;	background: #e1edfa;	}
	.guide_detail_snav p	{	padding-bottom: 10px;		font-size: 1.2em;		line-height: 1.2;	}
	.guide_detail_snav span:after	{	content: "/";	color: #d9d9d9;	padding: 0 10px;	}
	.guide_detail_snav a	{	color: #1a4d80;	font-weight: bold;	}
	.guide_detail_snav  a:hover	{	text-decoration: underline;	}

.guide_detail_area	{	border-top: solid 1px #d9d9d9;	padding: 30px 15px;	}
	.guide_detail_section	{	padding-bottom: 1em;	}
	.guide_detail_h3	{	margin-bottom: 20px;	font-size: 1.6em;	font-weight: bold;	}
	.guide_detail_h4	{	margin-bottom: 1em;	font-size: 1.4em;	font-weight: bold;	}
	.guide_detail_area  p	{	margin-bottom: 1em;	font-size: 1.3em;	line-height: 1.6;	}
	.guide_detail_area  a	{	color: #1a4d80;	text-decoration: underline;	}
	.guide_detail_area  a:hover	{	text-decoration: none;	}

	.guide_detail_area  .guide_detail_mb0	{	margin-bottom:0 !important;	}
	.guide_detail_area  .guide_detail_cap	{	color: #666;	font-size: 1.1em;	font-size: 1.0em\9;	line-height: 1.6;	}
	.guide_detail_area  ol li	{	list-style: none;	}
	.guide_detail_img	{	margin: 30px 0;	text-align: center;	}

/* ------------------------------------------- */
/* OnlineSite*/
/* ------------------------------------------- */
.guide_browser_table	{	margin-bottom: 15px;	}
.guide_browser_table td	{	vertical-align: top;	padding: 5px 0;	font-size: 1.3em;	}
