@charset "utf-8";

#item_wrapper	{
	position:relative;
	padding:10px 0 0 0;
}

#item_title		{
	font-size:1.8em;
	padding:0 0 20px 0;
}

	#form_pulldown	{
		display:block;
		width:200px;
		height:30px;
	}
	#form_reset {
		border:1px solid #dddddd;
		border-radius: 3px;
		padding:5px;
		background-color:#eeeeee;
	}

#cddvd_search	{
	position:relative;
}

#cddvd_search_input		{
	width:205px;
	height:30px;
	border:1px solid #cccccc;
	position:relative;
	float:left;
}
#cddvd_search_submit_cover	{
	position:relative;
	top:0;
	left:0;
	width:50px;
	height:30px;
	overflow:hidden;
	display:block;
}

#cddvd_search_submit		{
	cursor:pointer;
	width:50px;
	height:60px;
	position:absolute;
	top:0;
	left:0;
	float:left;
	background:url(/common/img/list/form_search_bt.gif);
}
}
#cddvd_search_submit:hover	{
	position:absolute;
	top:-30px;
	left:0;
}

#cddvd_search_input_cover	{
	position:absolute;
	top:5px;
	left:10px;
	background:url(/common/img/list/search_icon.gif) left center no-repeat;
	color:#CCCCCC;
	padding:3px 0 0 22px;
	font-size:0.9em;
	font-weight:normal;
}
/*
<form method="GET" action="">
	<input type="text" id="cddvd_search_input" />
	<span id="cddvd_search_submit_cover">
		<input type="submit" id="cddvd_search_submit" value="" />
	</span>
</form>
<span id="cddvd_search_input_bg">アーティスト名、タイトル等</span>
*/


#cddvd_search_title			{
	display:inline-block;
	font-size:0.8em;
}
#cddvd_search_title	form	{
	display:inline-block;
	padding: 0 0 0 5px;
}
#cddvd_search_select		{
	width:180px;
	height:30px;
	border:1px solid #cccccc;
	background-color:#ffffff;
	font-size:1.0em;
}
/*
<span class="cddvd_search_title">ジャンル
	<form method="GET" action="">
		<select id="cddvd_search_select">
			<option value="all">すべて</option>
			<option value="item1">ジャンル1</option>
			<option value="item2">ジャンル2</option>
		</select>
	</form>
</span>
*/




/*
<form action="" method="GET">
	<div class="blockarea_table">
		<div class="blockarea_table_title">絞り込み条件</div>
		<div class="blockarea_table_cell"><label><input type="radio" value="none" name="filter" checked="checked"/>指定無し</label></div>
		<div class="blockarea_table_cell"><label><input type="radio" value="area" name="filter" />エリア</label></div>
		<div class="blockarea_table_cell"><label><input type="radio" value="artist" name="filter" />アーティスト</label></div>
		<div class="blockarea_table_cell">
			<select id="pulldown">
				<option>-</option>
			</select>
		</div>
		<div class="blockarea_table_cell"><input type="reset" value="条件をリセット" /></div>
	</div>
</form>
*/



/*
<div class="blockarea_wrapper">
	<div class="blockarea_wrapper_left">94件中 1-20件を表示</div>
	<div class="blockarea_wrapper_right">
		<div class="blockarea_wrapper_table">
			<div class="blockarea_wrapper_table_navi"><a href="javascript:void(0);"><img src="/common/img/block/bt_prev.gif" /> 前の20件</a></div>
			<div class="blockarea_wrapper_table_cell"><a href="">1</a></div>
			<div class="blockarea_wrapper_table_cell"><a href="">2</a></div>
			<div class="blockarea_wrapper_table_cell"><a href="">3</a></div>
			<div class="blockarea_wrapper_table_cell"><a href="">4</a></div>
			<div class="blockarea_wrapper_table_cell"><a href="">5</a></div>
			<div class="blockarea_wrapper_table_navi"><a href="javascript:void(0);">次の20件 <img src="/common/img/block/bt_next.gif" /></a></div>
		</div>
	</div>
</div>
<div class="blockarea_wrapper">
	aaaaa
</div>
*/



/* ------------------------------------------- *

#item_title		{
padding:0 0 20px 0;
}

/* ------------------------------------------- *

#item_mainarea	{
padding:30px 30px 40px 30px;
background-color:#FFFFFF;
}
#item_mainarea:after	{
clear:both;
display: block;
height: 1px;
content:".";
visibility:hidden;
}
#item_mainarea_wrapper	{
padding: 35px 0 40px 0;
}
#item_mainarea_tab	{
width: 100%;
border-bottom: 3px solid #244b74;
list-style: none;
display:inline-block;
}
#item_mainarea_tab li	{
overflow:hidden;
vertical-align: middle;
display:table-cell;
height:48px;
}
#item_mainarea_tab li span	{
position:relative;
top:0;
left:0;
height:48px;
overflow:hidden;
display:block;
}
#item_mainarea_tab_ticket	{	width: 301px;	}
#item_mainarea_tab_info		{	width: 301px;	}
#item_mainarea_tab_goods	{	width: 298px;	}
#item_mainarea_tab_area		{	width: 450px;	}
#item_mainarea_tab_artist	{	width: 450px;	}

#item_mainarea_tab a		{
position:absolute;
top:0;
left:0;
}
#item_mainarea_tab a:hover	{
position:absolute;
top:-48px;
left:0;
}
.item_mainarea_tab_here		{
position:absolute;
top:-48px !important;
left:0;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- *


#item_mainarea_contents	{
padding: 1px 0;
border-bottom: 3px solid #244b74;
}
.item_mainarea_table	{
width: 900px;
display: none;
padding: 20px 0;
border-top: 1px solid #c3ae83;
border-bottom: 1px solid #c3ae83;
}
.item_mainarea_table:after	{
clear:both;
display: block;
height: 1px;
content:".";
visibility:hidden;
}

.item_mainarea_table_list	{
width: 935px;
padding: 0 0 10px 0;
}
.item_mainarea_table_list:after	{
clear:both;
display: block;
height: 1px;
content:".";
visibility:hidden;
}

/* ------------------------------------------- *

.item_mainarea_table_index	{
padding:0 0 20px 0;
}
.item_mainarea_table_index_bg	{
padding:15px 0;
text-align:center;
background-color:#edeff2;
color:#999999;
}
.item_mainarea_table_index_char	{
padding: 0 5px;
font-size:1.4em;	
line-height: 1.4em;
font-family: Georgia, serif;
font-weight: bold;
font-style:italic;
}
.item_mainarea_table_index_char	a	{
color:#0b3764;
}
.item_mainarea_table_index_char	a:hover	{
color:#c3ae83;
}
.item_mainarea_table_index_area	{
padding: 0 5px;
font-size:1.4em;	
line-height: 1.4em;
font-family: Georgia, serif;
font-weight: bold;
}
.item_mainarea_table_index_area	a	{
color:#0b3764;
}
.item_mainarea_table_index_area	a:hover	{
color:#c3ae83;
}
/* ------------------------------------------- *

.item_mainarea_table_title	{
padding:0 0 0px 0;
}

.item_mainarea_table_title_block	{
clear: both;
display:inline-block;
vertical-align: middle;
height:30px;
padding:0 0 20px 15px;
font-size:2.0em;	
line-height:1.4em;
font-family:Georgia, serif;
font-weight:bold;
color:#0b3764;
background: url(/common/img/list/panel_left_border.gif) left top no-repeat;
}

.item_mainarea_table_title_state	{
font-size:1.2em;
color:#333333;	
padding:0 0 20px 0;
}


/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- *

.area_panel		{	float:left;	width:310px;	}
.artist_panel	{	float:left;	width:465px;	}


.panel_ticket	{	
background: url(/common/img/list/panel_top_border.gif) left top repeat-x;
position:relative;	
}
.panel_bg	{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
opacity:0;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
background-color:#f7f7f7;
background-image:url(/common/img/list/panel_top_border.gif);
background-position:left top;
background-repeat:repeat-x;
}
.panel_image	{
position:relative;	
float:left;	
}
.panel_image_date	{	
text-align:center;	
width:60px;		
font-size:1em;	
letter-spacing: -0.5px;	
line-height:1.25em;	
}
.panel_info	{
position:relative;	
float:right;	
}
.panel_title	{
}
.panel_name		{
}
.panel_price	{
list-style-position:outside;
list-style:none;
padding: 0 0 10px 0;
}
.panel_price li	{
padding:0 0 5px 0;
font-size:1.0em;	
line-height:1.25em;
vertical-align:bottom;
}
.panel_price_member		{
color:#000000;	
}
.panel_price_jam		{	
color:#c19741;
}
.panel_price_bold		{	
font-weight:bold;	
font-size:1.2em;	
}
.panel_text	{
font-size:1.2em;	
line-height:1.5em;
font-weight:bold;
color:#000000;	
padding:0 0 15px 0;
}
.panel_date	{
position: relative;
}
.panel_date_list	{
position: relative;
list-style-position:outside;
list-style:none;
display:table;
width:100%;	
}
.panel_date_list li	{
padding: 0px 0px 5px 0px;	
}
.panel_date_time	{
position: relative;
}
.panel_date_place	{
display: table-cell;
width:90px;
font-size:1.2em;	
}
.panel_date_facility	{
display: table-cell;
width:auto;
font-size:1.2em;	
}
.panel_link	{
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
background-color: #FFFFFF;
opacity: 0;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}


/* ------------------------------------------- *

.area_panel		.panel_ticket		{	width:280px;	}
.area_panel		.panel_image		{	width:80px;				padding:10px 0 0 0;		}
.area_panel		.panel_image img	{	width:60px;				padding: 0 0 5px 0;		}
.area_panel		.panel_info			{	width:200px;			padding:10px 0 0 0;		}
.area_panel 	.panel_title		{	font-size:1.4em;		line-height:1.25em;	font-weight:bold;	color:#0b3764;	padding: 0 0 5px 0;		font-family:Georgia, serif;	font-style:italic;	}
.area_panel 	.panel_name			{	font-size:1.0em;		line-height:1.5em;	font-weight:normal;	color:#000000;	padding: 0 0 8px 0;		}
.area_panel 	.panel_price		{	padding: 0 0 25px 0;	}
.area_panel		.panel_date			{	clear:both;				padding:15px 0 8px 0;	font-size:1.4em;	color:#333333;	border-bottom:1px solid #999999;	}
.area_panel 	.panel_date_list	{	padding: 8px 0 0 0;		border-bottom:1px solid #cccccc;	}
.area_panel 	.panel_date_time	{	font-size:1.4em;		padding:15px 0px 5px 0px;	display:block;		border-bottom:1px solid #cccccc;	}

.artist_panel	.panel_ticket		{	width:435px;			}
.artist_panel	.panel_image		{	width:120px;			padding:25px 0 0 0;		}
.artist_panel	.panel_image img	{	width:100px;			padding: 0 0 20px 0;	}
.artist_panel	.panel_info			{	width:315px;			padding:25px 0 0 0;		}
.artist_panel 	.panel_title		{	font-size:1.0em;		line-height:1.5em;	font-weight:normal;	color:#000000;	padding: 0 0 15px 0;	}
.artist_panel 	.panel_name			{	font-size:1.8em;		line-height:1.5em;	font-weight:bold;	color:#0b3764;	padding: 0 0 4px 0;		font-family:Georgia, serif;	font-style:italic;	}
.artist_panel 	.panel_price		{	padding: 0 0 10px 0;	}
.artist_panel	.panel_date			{	clear: both;			padding:0 0 8px 0;		font-size:0.9em;	color:#333333;	}
.artist_panel 	.panel_date_list	{	padding: 15px 0 0 0;	border-top:1px solid #cccccc;		}
.artist_panel 	.panel_date_time 	{	font-size:1.2em;		display:table-cell;			width:120px;		}



/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */