@charset "utf-8";

/* ------------------------------------------- */

.none_padding			{	padding-bottom:0 !important;	}

/* ------------------------------------------- */

#login_title_block		{	padding:0 0 20px 0;	}

#login_page_title		{	padding:1px 0;		border-bottom:1px solid #999999;	}
#login_page_title_inner	{	display:table;		width:100%;			border-bottom:1px solid #999999;	}
#login_page_title_main	{	display:table-cell;	text-align:left;	vertical-align:bottom;		padding:0 0 10px 0;			font-size:2.0em;	color:#000000;	}

.login_contents_block	{	padding:0 0 30px 0;	}
.login_contents_title	{	padding:10px;		background-color:#d9d9d9;	text-align:left;	color:#000000;				font-size:1.5em;	}
.login_contents_wrapper	{	padding:20px;		background-color:#ffffff;	text-align:center;	border:1px solid #d9d9d9;	border-top:none;	}

	.login_form				{	display:table;		margin:0 auto;			text-align:left;	}
	.login_form_left		{	display:table-cell;	vertical-align:top;		width:auto;		text-align:left;	font-size:1.2em;	padding:0 10px;	}
	.login_form_center		{	display:table-cell;	vertical-align:top;		width:280px;	text-align:left;	}
	.login_form_right		{	display:table-cell;	vertical-align:bottom;	width:160px;	text-align:left;	}	
	.login_form_area		{	padding:0 10px 20px 10px;		text-align:left;	}
	.login_form_area_title	{	font-size: 1.2em;				float:left;			}
	.login_form_area_small	{	font-size: 1.0em;	}

	#login_form_left_list					{	list-style-position:outside;	list-style:disc;	padding:0 0 5px 0;	}
	#login_form_left_list li a				{	text-decoration:none;			color:#1a4d80;			}
	#login_form_left_list li a:hover		{	text-decoration:underline;		}

	#login_form_area_address				{	clear:both;		width:100%;		height:24px;		border:1px solid #CCC;	display:block;	}
	#login_form_area_password				{	clear:both;		width:100%;		height:24px;		border:1px solid #CCC;	display:block;	}
	#login_form_area_forget					{	float:right;	color:#1a4d80;	font-size:1.0em;	display:inline-block;	text-decoration:none;	padding:2px 0 0 0;	}
	#login_form_area_forget:hover			{	text-decoration:underline;	}
	#login_form_area_checkbox				{	display:block;	width:auto;		font-size:1.2em;	padding:10px 0 10px 0;	}
	#login_form_area_check					{	color:#1a4d80;	text-align:left;font-size:1.0em;	text-decoration:none;	padding:2px 0 0 0;	}
	#login_form_area_check:hover			{	text-decoration:underline;	}
	#login_form_area_submit					{	width:90px;	height:30px;	}
	#login_form_area_submit span			{	position:relative;	top:0;		left:0;		width:170px;	height:30px;	overflow:hidden;	display:block;	}
	#login_form_area_submit input			{	position: absolute;	top:0;		left:0;		}
	#login_form_area_submit input:hover		{	position: absolute;	top:-30px;	left:0;		}

	.login_contents_text					{	padding:0 0 15px 0;		text-align:left;	font-size:1.2em;	}
	.login_contents_entry_list				{	padding:0 0 0 0; 		position:relative;	list-style:none;	margin:0 auto;		}
	.login_contents_entry_list li			{	display:inline-block;	position:relative;	width:220px;		text-align:center;	vertical-align:top;	}
	.login_contents_entry_list span			{	display:block;			position:relative;	width:210px;		height:50px;		margin:0 auto;	overflow:hidden;		}
	.login_contents_entry_list span a		{	position:absolute;		top:0;	left:0;	}
	.login_contents_entry_list span a:hover	{	top:-50px;	}
	.login_contents_entry_list p			{	padding:5px 0 0 0;		text-align:center;	font-size:1.1em;	}

	.login_block_text						{	font-size: 1.2em;	padding:0 0 5px 0;	}

	.login_init_table						{	display:table;			width:100%;		}
	.login_init_table_left					{	display:table-cell;		vertical-align:top;		width:auto;		text-align:left;	font-size:1.2em;	line-height:1.5em;	padding:0 10px 0 0;	}
	.login_init_table_left p				{	padding:0 0 5px 0;			}
	.login_init_table_left a				{	text-decoration:none;		font-size:0.9em;	}
	.login_init_table_left a:hover			{	text-decoration:underline;	}
	.login_init_table_right					{	display:table-cell;		vertical-align:top;		width:450px;	text-align:right;	list-style:none;	}
	.login_init_table_right	li 				{	display:inline-block;	vertical-align:top;		width:auto;		padding:0 0 0 10px;	}
	.login_init_table_right	li span			{	display:block;			width:210px;			height:50px;	position:relative;	overflow:hidden;	}
	.login_init_table_right	li span a		{	position:absolute;		top:0;	left:0;			}
	.login_init_table_right li span a:hover	{	top:-50px;				}
	.login_init_table_right	li p			{	display:block;			width:210px;	padding:10px 0;		text-align:center;		font-size:1.1em;	line-height:1.5em;	}
	.login_init_table_right li a			{	text-decoration:none;	color:#1a4d80;			}
	.login_init_table_right li a:hover		{	text-decoration:underline;	}

				

				<div class="login_init_table">
					<p class="login_init_table_left">当サイトをはじめてご利用の方、またはJAM SESSION会員でID（メールアドレス）とパスワードをお持ちでない方はこちらから会員登録をしてください。</p>
					<ul class="login_init_table_right">
						<li>
							<span><a href="javascript:void(0);" onclick="window.open('/entry/web/form.shtml', '_brank');"><img src="/common/img/cart/bt_entry_new.gif" /></a></span>
						</li>
						<li>
							<span><a href="javascript:void(0);" onclick="window.open('/entry/jam/form.shtml', '_brank');"><img src="/common/img/cart/bt_entry_jam.gif" /></a></span>
						</li>
					</ul>
				</div>