@charset "utf-8";

.none_padding			{	padding-bottom:0 !important;	}

#mypage_wrapper			{
	position:relative;	
	width:960px;
	margin:0 auto;
}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#mypage_title			{
		display:table;
	}
	#mypage_title_main		{
		display:table-cell;
		padding:30px 20px 15px 0;
		vertical-align:text-bottom;
		font-size:2.0em;
		font-weight:bold;
	}
	#mypage_title_sub		{
		display:table-cell;
		padding:30px 0 15px 0;
		vertical-align:text-bottom;
		font-size:1.2em;
	}
	#mypage_title_sub span	{
		font-weight:bold;
	}
	#mypage_title_sub a		{
		color:#1a4d80;
		text-decoration:underline;
	}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#mymenu_block			{
		padding:0 0 20px 0;
	}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		#mymenu_header			{
			background-color:#4e6f90;
			padding:10px;
			font-size:1.6em;
			font-weight:normal;
			color:#ffffff;
		}
		
		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */
		
		#mymenu_header_block	{
			background-color:#ffffff;
			border-top:1px solid #d9d9d9;
			border-left:1px solid #d9d9d9;
			border-bottom:1px solid #d9d9d9;
			display:table;
			width:100%;
		}
		.mymenu_header_block_cell	{
			display:table-cell;
			width:25%;
			border-right:1px solid #d9d9d9;
			padding:20px;
		}
		.mymenu_header_icon		{
			display:table;
			width:100%;
			margin:0 0 10px 0;
		}
		.mymenu_header_icon	dt	{
			display:table-cell;
			vertical-align:middle;
			width:50px;
			height:40px;
		}
		.mymenu_header_icon	dd	{
			display:table-cell;
			vertical-align:middle;
			width:auto;
			height:40px;
			font-size:1.2em;
			line-height:1.25em;
		}
		.mymenu_header_list		{
			list-style:none;
			border-top:1px solid #d9d9d9;
			padding:10px 0 0 0;
		}
		.mymenu_header_list li			{
			font-size:1.2em;
			padding:5px 0 0 0;
		}
		.mymenu_header_list li a		{
			color:#1a4d80;
			text-decoration:none;
		}
		.mymenu_header_list li a:hover	{
			color:#1a4d80;
			text-decoration:underline;
		}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */
		
		#mypage_table			{
			display:table;
			width:100%;
		}

			/* ------------------------------------------- */
			/* ------------------------------------------- */
			/* ------------------------------------------- */

			#mypage_sidenavi		{
				display:table-cell;
				vertical-align:top;
				padding:0 20px 0 0;
				width:260px;
			}
			#mymenu_sidenavi_header	{
				padding:1px 0;
				border-bottom:1px solid #bfbfbf;
				border-top:1px solid #bfbfbf;
			}
			#mymenu_sidenavi_header a	{
				display:block;
				padding:15px 0 10px 0;
				border-bottom:1px solid #bfbfbf;
				border-top:1px solid #bfbfbf;
				font-size:1.3em;
				line-height:1.0em;
				color:#1a4d80;
				text-decoration:none;
			}
			#mymenu_sidenavi_header a:hover		{
				text-decoration:underline;
			}

			#mymenu_sidenavi_inner		{
				padding:20px 0;
			}
			.mymenu_sidenavi_inner_list		{
				padding:0 0 25px 0;
			}
			.mymenu_sidenavi_inner_list dt	{
				padding:0 0 10px 0;
				font-size:1.3em;
				line-height:1.0em;
				font-weight:bold;
			}
			.mymenu_sidenavi_inner_list dd	{
				padding:0 0 3px 0;
				font-size:1.2em;
				line-height:1.5em;
				letter-spacing:-0.05em;
			}
			.mymenu_sidenavi_inner_list dd a		{
				color:#1a4d80;
				text-decoration:none;
			}
			.mymenu_sidenavi_inner_list dd a:hover	{
				text-decoration:underline;
			}

			/* ------------------------------------------- */
			/* ------------------------------------------- */
			/* ------------------------------------------- */
			
			#mymenu_contents				{
				display:table-cell;
				vertical-align:top;
				width:auto;
			}

			#mymenu_contents_inner			{
				padding:20px;
				background-color:#ffffff;
				border:1px solid #bfbfbf;
			}

			.mypage_form_block				{	position:relative;	padding:0 0 10px 0;	}
			.mypage_form_text				{	padding:15px 10px 0 10px;	}
			.mypage_form_text span			{	color:#CC0000;		font-weight:bold;	}

			/* ------------------------------------------- */
			/* ------------------------------------------- */
			/* ------------------------------------------- */

			.mypage_confirm_block			{	border-top:1px solid #d9d9d9;		border-left:1px solid #d9d9d9;	}
			.mypage_confirm_table			{	font-size:1.2em;		display:table;			width:100%;	}
			.mypage_confirm_cell_1			{	font-weight:bold;		text-align:center;	}
			.mypage_confirm_cell_1			{	display:table-cell;		width:25%;	padding:10px;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	background-color:#f7f7f7;	}
			.mypage_confirm_cell_2			{	display:table-cell;		width:25%;	padding:10px;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	background-color:#ffffff;	}
			.mypage_confirm_cell_3			{	display:table-cell;		width:auto;	padding:10px;	border-bottom:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	background-color:#ffffff;	}
			.mypage_confirm_cell_3 a		{	display:inline-block;	padding:0 20px 0 12px;		line-height:1.0em;	background:url(/common/img/mypage/table_link_icon.gif) left center no-repeat;	color:#1a4d80;	text-decoration:none;	}
			.mypage_confirm_cell_3 a:hover	{	text-decoration:underline;	}


			/* ------------------------------------------- */
			/* ------------------------------------------- */
			/* ------------------------------------------- */

			.mypage_form_reserved_box		{	border-radius:10px;	border:1px solid #f1cf93;	background-color:#fffced;	text-align:center;	padding:20px;	}
			#mypage_form_reserved_back		{	display:inline-block;	position:relative;		overflow:hidden;	width:120px;	height:50px;	}
			#mypage_form_reserved_cancel	{	display:inline-block;	position:relative;		overflow:hidden;	width:200px;	height:50px;	}
			#mypage_form_reserved_back		{	display:inline-block;	position:relative;		overflow:hidden;	width:120px;	height:50px;	}

			.mypage_form_cenceled_box			{	text-align:center;		padding:20px 0 0 0;	}
			#mypage_form_cenceled_back			{	display:inline-block;	position:relative;		overflow:hidden;	width:150px;	height:34px;	}

			.mypage_form_gototop_box			{	text-align:center;	padding:20px 0 0 0;	}
			#mypage_form_gototop_back			{	display:inline-block;	position:relative;		overflow:hidden;	width:150px;	height:34px;	}
			#mypage_form_gototop_back a			{	position:absolute;		top:0;		left:0;	}
			#mypage_form_gototop_back a:hover	{	top:-34px;	}

			#mypage_form_reserved_back a				{	position:absolute;	top:0;		left:0;	}
			#mypage_form_reserved_back a:hover			{	position:absolute;	top:-50px;	left:0;	}
			#mypage_form_reserved_cancel input			{	position:absolute;	top:0;		left:0;	}
			#mypage_form_reserved_cancel input:hover	{	position:absolute;	top:-50px;	left:0;	}
			#mypage_form_cenceled_back a				{	position:absolute;	top:0;		left:0;	}
			#mypage_form_cenceled_back a:hover			{	position:absolute;	top:-34px;	left:0;	}

			.mypage_form_item_contact_box				{	border-radius:10px;	border:1px solid #f1cf93;	background-color:#fffced;	text-align:center;	padding:20px;	}
			#mypage_form_item_contact_bt				{	text-align:center;	padding:0 0 0 0;		}
			#mypage_form_item_contact_bt_none			{	display:inline-block;	position:relative;		overflow:hidden;	width:200px;	height:50px;	margin:0 auto;	}
			#mypage_form_item_contact_bt_active			{	display:inline-block;	position:relative;		overflow:hidden;	width:200px;	height:50px;	margin:0 auto;	}

			#mypage_form_item_contact_back				{	display:inline-block;	position:relative;		overflow:hidden;	width:120px;	height:50px;	}
			#mypage_form_item_contact_back a			{	position:absolute;	top:0;		left:0;	}
			#mypage_form_item_contact_back a:hover		{	position:absolute;	top:-50px;	left:0;	}

			#mypage_form_item_contact_send				{	display:inline-block;	position:relative;		overflow:hidden;	width:200px;	height:50px;	}
			#mypage_form_item_contact_send input		{	position:absolute;	top:0;		left:0;	}
			#mypage_form_item_contact_send input:hover	{	position:absolute;	top:-50px;	left:0;	}



			/* ------------------------------------------- */
			/* ------------------------------------------- */
			/* ------------------------------------------- */

			.mypage_form_label				{	padding:20px 10px 10px 10px;	font-size:1.2em;	font-weight:bold;	}
			.mypage_form_select				{	display:inline-block; 	border:1px solid #d9d9d9;	margin:0 10px;		background-color:#ffffff;	}

			#mypage_form_items				{	padding:10px 0 0 0;			}
			#mypage_form_title				{	display:inline-block;		padding:15px 10px 5px 5px;		font-size:1.2em;	font-weight:bold;	}
			#mypage_form_year				{	display:inline-block;		padding:5px 0;		}
			.mypage_form_item				{	padding:0 0 20px 0;			}
			.mypage_form_item_title			{	padding:10px;				border:1px solid #d9d9d9;	border-bottom:none;	background-color:#f7f7f7;	font-weight:bold;	font-size:1.4em;	}
			.mypage_form_item_title span	{	margin:0 0 0 15px;			padding:0 0 0 15px;			border-left:2px solid #d9d9d9; }
			.mypage_form_item_text			{	padding:20px 20px 0 20px;	border:1px solid #d9d9d9;	}
			.mypage_form_item_table			{	display:table;				width:100%;		font-size:1.2em;		}
			.mypage_form_item_image			{	display:table-cell;			width:130px;	vertical-align:top;		padding:0 0 20px 0;	}
			.mypage_form_item_image	img		{	width:110px;	}
			.mypage_form_item_info			{	display:table-cell;			width:auto;		vertical-align:top;		padding:0 0 10px 0;	}
			.mypage_form_item_list			{	display:table;				width:100%;			}
			.mypage_form_item_list dt		{	display:table-cell;			width:90px;		vertical-align:top;		padding:0 0 5px 0;	}
			.mypage_form_item_list dd		{	display:table-cell;			width:auto;		vertical-align:top;		padding:0 0 5px 0;	}

			.mypage_form_item_func			{	text-align:left;			padding:5px 0;		}
			.mypage_form_item_func a		{	display:inline-block;		padding:0 10px 0 12px;		line-height:1.0em;	background:url(/common/img/mypage/table_link_icon.gif) left center no-repeat;	color:#1a4d80;	text-decoration:none;	}
			.mypage_form_item_func a:hover	{	text-decoration:underline;	}

			.mypage_form_item_line			{	height:1px;		padding:0 0 20px 0;		border-top:1px solid #d9d9d9;	}
			
			/* ------------------------------------------- */
			/* ------------------------------------------- */
			/* ------------------------------------------- */

#mypage_address_float				{	z-index:7000;		display:none;	}
#mypage_card_float					{	z-index:8000;		display:none;	}

.mypage_floating					{	position:absolute;	top:0;	left:0;		width:100%;		height:100%;	opacity:0.0;	filter:alpha(opacity=0);	-ms-filter:"alpha(opacity=0)";		}
.mypage_floating_bg					{	position:absolute;	top:0;	left:0;		width:100%;		height:100%;	opacity:0.5;	filter:alpha(opacity=50);	-ms-filter:"alpha(opacity=50)";		background-color:#000000;	}
.mypage_floating_wrapper			{	position:absolute;	top:0;	left:50%;	width:710px;	height:auto;	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	margin:0 0 0 -355px;		}
.mypage_floating_wrapper_bg			{	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	background-color:#ffffff;	}
.mypage_floating_wrapper_bg *		{	opacity:1.0;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
.mypage_floating_wrapper_box		{	position:relative;	width:670px;	height:auto;	margin:0 auto;	padding:20px 0;	}

.mypage_floating_close				{	position:relative;	width:100%;		height:30px;	}
.mypage_floating_close a			{	color:#1a4d80;	font-size:1.2em;	width:60px;	height:20px;	display:block;	position:absolute;	top:0;	right:0;	overflow:hidden;	text-align:left;	padding:2px 0 0 0;	}
.mypage_floating_close a img		{	position:absolute;	top:0;		right:0;	}
.mypage_floating_close a:hover img	{	top:-20px;	}
.mypage_floating_close a:hover 		{	text-decoration:underline;	}

