@charset "utf-8";
/* ------------------------------------------- */
/* /note/index */
/* ------------------------------------------- */

#note_wrapper	{	position:relative;	}
#note_wrapper .blockarea_contents {	height: auto;	margin-bottom: 0px;		border-right: solid 1px #ccc;	border-bottom: solid 1px #ccc;}

#note_title	{	font-size:1.8em;	font-weight: bold;	padding:10px 0 20px 0;	}

.note_list {	*zoom: 1;	padding: 30px 20px 0 20px;	}
.note_list:after {	content: ".";	display: block;	clear: both;	height: 0;	visibility: hidden;	overflow: hidden;	}

.note_area_01 {	margin-bottom: 20px;	}
	.note_area_01 .note_list li {	list-style-type: none;	border-bottom: solid 1px #d9d9d9;	padding: 0 10px 15px 10px;	margin-bottom: 15px;		font-size: 1.3em;	line-height: 1.6;	}
	.note_area_01 .note_list li.last {	border: none;	}


.note_area_02 .note_list dt {	width: 180px;	float:left;	padding: 30px 0 0px 10px;	border-top: solid 1px #d9d9d9;	font-weight: bold;	font-size: 1.3em;	}
.note_area_02 .note_list dd {	width: 738px;	padding: 30px 10px 30px 0;	border-top: solid 1px #d9d9d9;	float:left;	font-size: 1.3em;	line-height: 1.6;	}
.note_area_02	.note_browser_table td {	vertical-align: top;	padding: 5px 0;	}

.note_bdr {	content:"";	display: block;	margin:0 20px 30px 20px;	border-bottom: solid 1px #d9d9d9;	}

