@charset "utf-8";
/* ------------------------------------------- */
/* Shoplaw */
/* ------------------------------------------- */

#shoplaw_wrapper	{	position:relative;	}
#shoplaw_wrapper .blockarea_wrapper	{	border-right: solid 1px #ccc;	border-bottom: solid 1px #ccc;	}
#shoplaw_title	{	font-size:1.8em;	font-weight: bold;	padding:10px 0 20px 0;	}

/* ------------------------------------------- */
/* index */
/* ------------------------------------------- */
.shoplaw_area	{	margin-bottom: 15px;		padding:30px 20px;	*zoom: 1;	}
.shoplaw_area:after	{	content: ".";	display: block;	clear: both;	height: 0;	visibility: hidden;	overflow: hidden;	}

	.shoplaw_area dt	{	width: 180px;	float:left;	padding: 30px 0 0 10px;	border-top: solid 1px #d9d9d9;	font-weight: bold;	font-size: 1.3em;	}
	.shoplaw_area dd	{	width: 738px;	padding: 30px 0;	border-top: solid 1px #d9d9d9;	float:left;	font-size: 1.3em;	line-height: 1.6;	}

		.shoplaw_area	p {	margin-bottom: 1em;	}
		.shoplaw_area  .shoplaw_cnt_mb0	{	margin-bottom: 0px;	}
		.shoplaw_area .shoplaw_link	{	color: #1a4d80;	text-decoration: underline;	}
		.shoplaw_area .shoplaw_link:hover	{	text-decoration: none;	}
		.shoplaw_area .shoplaw_cap	{	color: #666;	font-size: 0.85em;	line-height: 1.6;	}