@charset "utf-8";

#panel	{
	background-color:#dfe1e4;
	position:relative;
	z-index:7000;
	clear:both;
	padding:15px 0 0 0;
}

	#panel_wrapper	{
		position:relative;	
		width:960px;
		height:355px;
		margin:0 auto;
	}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#panel_login_form	{
		position:absolute;
		top:0;
		left:0;
		display:inline-block;
		width:240px;
		height:338px;
		border:1px solid #CCCCCC;
		background-color:#f5f5f5;
	}

			/* ------------------------------------------- */
			.panel_login_form_area_block	{
				display:table;
				width:100%;
				margin:0 0 10px 0;
			}
			/* ------------------------------------------- */

		#panel_login_form_area_01	{
			position:relative;
			padding: 12px 15px 2px 15px;
			border-bottom:1px solid #CCCCCC;
		}

			/* ------------------------------------------- */
			.panel_login_form_area_input_title	{
				font-size: 1.2em;
				font-weight: bold;	
			}
			.panel_login_form_area_input_small	{
				font-size: 1.0em;
			}
			#panel_login_form_area_name	{
				width:100%;
				height:24px;
				border:1px solid #CCC;
				display:block;
			}
			#panel_login_form_area_pass	{
				width:100%;
				height:24px;
				border:1px solid #CCC;
				display:block;
			}
			#panel_login_form_area_forget	{
				color:#1a4d80;
				font-size:1.0em;
				display:inline-block;
				text-decoration:none;
				padding:2px 0 0 0;
			}
			#panel_login_form_area_forget:hover	{
				text-decoration:underline;
			}
			/* ------------------------------------------- */
			#panel_login_form_area_check	{
				display: table-cell;
				vertical-align: middle;
				width:auto;
				font-size:1.05em;
			}
			#panel_login_form_area_submit	{
				display: table-cell;
				vertical-align: middle;
				width:90px;
				height:30px;
			}
			#panel_login_form_area_submit span	{
				position:relative;
				top:0;
				left:0;
				width:90px;
				height:30px;
				overflow:hidden;
				display:block;
			}
			#panel_login_form_area_submit input	{
				position: absolute;
				top:0;
				left:0;
			}
			#panel_login_form_area_submit input:hover	{
				position: absolute;
				top:-30px;
				left:0;
			}
			/* ------------------------------------------- */
			/*
			<div id="panel_login_form_area_01">
				<form id="panel_login_form_area_input" method="POST" action="">
					<div class="panel_login_form_area_block_1">
						<span class="panel_login_form_area_input_title">ID</span>
						<span class="panel_login_form_area_input_small">(メールアドレス)</span>
						<input id="panel_login_form_area_name" type="text">
					</div>
					<div class="panel_login_form_area_block_1">
						<span class="panel_login_form_area_input_title">パスワード</span>
						<input id="panel_login_form_area_pass" type="password"> 
						<a id="panel_login_form_area_forget" href="/login/check.html">パスワードをお忘れの方</a>
					</div>
					<div class="panel_login_form_area_block_1">
						<label id="panel_login_form_area_check">
							<input id="panel_login_form_area_box" type="checkbox">&nbsp;次回から入力を省略
						</label>
						<div id="panel_login_form_area_submit">
							<span><input type="image" src="/common/img/top/bt_login.gif" /></span>
						</div>
					</div>
				</form>
			</div>
			*/
			/* ------------------------------------------- */

		#panel_login_form_area_02	{
			position:relative;
			padding:12px 15px 2px 15px;
		}	

			/* ------------------------------------------- */
			#panel_login_form_area_goto_entry	{
				display:inline-block;
				position:relative;
				width:210px;
				height:50px;
				overflow:hidden;
			}
			#panel_login_form_area_goto_entry a	{
				position: absolute;
				top:0;
				left:0;
			}
			#panel_login_form_area_goto_entry a:hover	{
				position: absolute;
				top:-50px;
				left:0;
			}
			/* ------------------------------------------- */
			/*
			<div id="panel_login_form_area_02">
				<div class="panel_login_form_area_block_2">
					<p id="panel_login_form_area_goto_entry">
						<a href=""><img src="/common/img/top/bt_entry.gif" /></a>
					</p>
				</div>
			</div>
			*/
			/* ------------------------------------------- */

		#panel_login_form_area_03	{
			position:relative;
			padding: 0px 15px 0px 15px;
		}

			/* ------------------------------------------- */
			#panel_login_form_area_goto_jamsession	{
				display:inline-block;
				position:relative;
				width:210px;
				height:50px;
				overflow:hidden;
			}
			#panel_login_form_area_goto_jamsession a	{
				position: absolute;
				top:0;
				left:0;
			}
			#panel_login_form_area_goto_jamsession a:hover	{
				position: absolute;
				top:-50px;
				left:0;
			}
			#panel_login_form_area_about_jamsession	{
				color:#1a4d80;
				font-size:1.1em;
				display:block;
				text-align:center;
				padding:8px 0 0 0;
				text-decoration:none;
			}
			#panel_login_form_area_about_jamsession:hover	{
				text-decoration:underline;
			}
			/* ------------------------------------------- */
			/*
			<div id="panel_login_form_area_03">
				<div class="panel_login_form_area_block">
					<p id="panel_login_form_area_goto_jamsession">
						<a href=""><img src="/common/img/top/bt_jamsession.gif" /></a>
					</p>
					<a id="panel_login_form_area_about_jamsession" href="">JAM SESSION会員とは？</a>
				</div>
			</div>
			*/
			/* ------------------------------------------- */

		#panel_login_form_area_04	{
			position:relative;
			padding: 10px 10px 0px 10px;
			border-bottom:1px solid #CCCCCC;
		}
			#panel_login_form_area_table	{
				display:table;
				width:100%;
				height:50px;
			}
				#panel_login_form_area_table_state_web	{
					display:table-cell;
					width:50px;
					background-color:#828b9a;
					text-align:center;
					vertical-align:middle;
					font-size:0.8em;
					line-height:1.25em;
					color:#ffffff;
					border-radius:5px;
				}
				#panel_login_form_area_table_name_web		{
					display:table-cell;
					width:auto;
					vertical-align:middle;
					padding:0 0 0 10px;
					font-size:1.0em;
					line-height:1.5em;
				}
				#panel_login_form_area_table_name_web_bold	{
					font-weight:bold;
					font-size:1.2em;
				}
				/* ------------------------------------------- */
				/*
				<div id="panel_login_form_area_04">
					<div id="panel_login_form_area_table">
						<div id="panel_login_form_area_table_state">一般<br />会員</div>
						<div id="panel_login_form_area_table_name_web">
							<p><span id="panel_login_form_area_table_name_bold">田中太郎</span>さん、</p>
							<p>こんにちは。</p>
						</div>
					</div>
				</div>
				*/
				/* ------------------------------------------- */

		#panel_login_form_area_05	{
			position:relative;
			padding:8px 10px 5px 10px;
		}	
			#panel_login_form_area_webmember	{
				position:relative;
				top:0;
				left:0;
				width:220px;
				height:244px;
				background:url(/common/img/top/jamsession_intro.gif) top left no-repeat;
			}
				#panel_login_form_area_webmember_info	{
					position:absolute;
					width:100%;
					top:157px;
					left:0;
					text-align:center;
					color:#ffffff;
					font-size:1.1em;
				}
				#panel_login_form_area_webmember_info a	{
					color:#ffffff;
					text-decoration:none;
				}
				#panel_login_form_area_webmember_info a:hover	{
					text-decoration:underline;
				}

				#panel_login_form_area_webmember_bt	{
					position:absolute;
					width:200px;
					height:50px;
					top:184px;
					left:10px;
					overflow:hidden;
				}
				#panel_login_form_area_webmember_bt a	{
					position:absolute;
					top:0px;
				}
				#panel_login_form_area_webmember_bt a:hover	{
					top:-50px;
				}

				/* ------------------------------------------- */
				/*
				<div id="panel_login_form_area_05">
					<div class="panel_login_form_area_block">
						<div id="panel_login_form_area_webmember">
							<div id="panel_login_form_area_webmember_info"><a href="">会員についてさらに詳しく</a></div>
							<div id="panel_login_form_area_webmember_bt"><a href=""><img src="/common/img/top/jamsession_entry.gif" /></a></div>
						</div>
					</div>
				<div>
				*/
				/* ------------------------------------------- */
		
		#panel_login_form_bg	{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background-color:#f8f2e2
		}	
		/* ------------------------------------------- */
		/*
		<div id="panel_login_form_bg">&nbsp;</div>
		*/
		/* ------------------------------------------- */

		#panel_login_form_area_06	{
			position:relative;
			padding:10px 10px 0px 10px;
			border-bottom:1px solid #CCCCCC;
		}			
			#panel_login_form_area_table_state_jam	{
				display:table-cell;
				width:50px;
				background-color:#a9913b;
				text-align:center;
				vertical-align:middle;
				font-size:0.8em;
				line-height:1.25em;
				color:#ffffff;
				border-radius:5px;
			}
			#panel_login_form_area_table_name_jam		{
				display:table-cell;
				width:auto;
				vertical-align:middle;
				padding:0 0 0 10px;
				font-size:1.0em;
				line-height:1.5em;
			}

			.panel_login_form_area_table_name_jam_bold	{
				font-weight:bold;
				font-size:1.2em;
			}

			/* ------------------------------------------- */
			/*
			<div id="panel_login_form_area_06">
				<div class="panel_login_form_area_block">
					<div id="panel_login_form_area_table">
						<div id="panel_login_form_area_table_state_jam">JAM<br />SESSION<br />会員</div>
						<div id="panel_login_form_area_table_name">
							<p><span id="panel_login_form_area_table_name_jam_bold">田中太郎</span>さん、</p>
							<p>こんにちは。</p>
						</div>
					</div>
				</div>
			</div>
			*/
			/* ------------------------------------------- */

		#panel_login_form_area_07	{
			position:relative;
			padding:5px 10px 5px 10px;
			border-bottom:1px solid #CCCCCC;
		}			
			#panel_login_form_area_table	{
				display: table;
				width:100%;
			}
			#panel_login_form_area_table_txt	{
				display:table-cell;
				width:auto;
				text-align:left;
				vertical-align:middle;
				font-size:1.0em;
				line-height:1.5em;
				padding:0 10px 0 0;
			}
				#panel_login_form_area_table_txt a	{
					padding:0 2px;
					color:#1a4d80;
					text-decoration:none;
				}
				#panel_login_form_area_table_txt a:hover	{
					text-decoration:underline;
				}


			#panel_login_form_area_table_img		{
				display:table-cell;
				width:60px;
				vertical-align:middle;
				line-height:1.0em;
			}
			#panel_login_form_area_table_img img	{
				vertical-align:middle;
			}
			/* ------------------------------------------- */
			/*
			<div id="panel_login_form_area_07">
				<div class="panel_login_form_area_block">
					<div id="panel_login_form_area_table">
						<div id="panel_login_form_area_table_txt">
							<p>会員有効期限(更新は<a href="">こちら</a>)</p>
							<p><span id="panel_login_form_area_table_name_bold">2015 / 12</span></p>
						</div>
						<div id="panel_login_form_area_table_img"><img src="/common/img/top/jamsession_card.jpg" /></div>
					</div>
				</div>
			</div>
			*/
			/* ------------------------------------------- */

		#panel_login_form_area_08	{
			position:relative;
			padding:10px 0 0 0;
			text-align:center;
		}	
			/* ------------------------------------------- */
			/*
			<div id="panel_login_form_area_08">
				<div class="panel_login_form_area_block"><img src="/common/img/top/jamsession_banner.jpg" /></div>
			</div>
			*/
			/* ------------------------------------------- */



	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#panel_mainbanner	{
		position:absolute;
		top:0;
		left:259px;
		width:482px;
		height:338px;
		border:1px solid #CCCCCC;
		background-color:#f5f5f5;
	}
		#panel_mainbanner_area	{
			position:relative;
			top:0;
			left:0;
			width:480px;
			height:270px;
			overflow:hidden;
			border-bottom:1px solid #CCCCCC;
		}
			.panel_mainbanner_area_img	{
				position:absolute;
				top:0;
				left:0;
				display:none;
				opacity:0;
				filter:alpha(opacity=0);
				-ms-filter:"alpha(opacity=0)";
			}
				.panel_mainbanner_area_img img	{
					width:480px;
				}
				/* ------------------------------------------- */
				/*
				<div id="panel_mainbanner_area">
					<h2 class="panel_mainbanner_area_img"><a href=""><img src="/img/banner_1.jpg" /></a></h2>
					<h2 class="panel_mainbanner_area_img"><a href=""><img src="/img/banner_2.jpg" /></a></h2>
					<h2 class="panel_mainbanner_area_img"><a href=""><img src="/img/banner_3.jpg" /></a></h2>
					<h2 class="panel_mainbanner_area_img"><a href=""><img src="/img/banner_1.jpg" /></a></h2>
					<h2 class="panel_mainbanner_area_img"><a href=""><img src="/img/banner_2.jpg" /></a></h2>
				</div>
				*/
				/* ------------------------------------------- */

		#panel_mainbanner_control_left	{
			position:absolute;
			top:115px;
			left:0px;
		}
		#panel_mainbanner_control_right	{
			position:absolute;
			top:115px;
			right:0px;
		}
		/*
		<div id="panel_mainbanner_control_left"><a href="javascript:void(0);"><img src="/img/main/bt_panel_left.gif" /></a></div>
		<div id="panel_mainbanner_control_right"><a href="javascript:void(0);"><img src="/img/main/bt_panel_right.gif" /></a></div>
		*/


		#panel_mainbanner_control	{
			position:relative;
			top:10px;
			left:20px;
		}
			.panel_mainbanner_control_img	{
				position:relative;
				display:inline-block;
				text-align:left;
				width:87px;
				height:45px;
			}
				.panel_mainbanner_control_img img	{
					position:relative;
					width:80px;
				}
				.panel_mainbanner_control_img a	{
					display:inline-block;
					background:url(/common/img/top/focus_panel.gif) top left no-repeat;
					position:absolute;
					top:0;
					left:0;
					width:80px;
					height:45px;
					opacity:0;
					filter:alpha(opacity=0);
					-ms-filter:"alpha(opacity=0)";
				}
				/* ------------------------------------------- */
				/*
				<div id="panel_mainbanner_control">
					<p class="panel_mainbanner_control_img"><img src="/img/banner_1.jpg" /><a href="javascript:void(0);">&nbsp;</a></p>
					<p class="panel_mainbanner_control_img"><img src="/img/banner_2.jpg" /><a href="javascript:void(0);">&nbsp;</a></p>
					<p class="panel_mainbanner_control_img"><img src="/img/banner_3.jpg" /><a href="javascript:void(0);">&nbsp;</a></p>
					<p class="panel_mainbanner_control_img"><img src="/img/banner_1.jpg" /><a href="javascript:void(0);">&nbsp;</a></p>
					<p class="panel_mainbanner_control_img"><img src="/img/banner_2.jpg" /><a href="javascript:void(0);">&nbsp;</a></p>
				</div>
				*/
				/* ------------------------------------------- */

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#panel_subbanner	{
		position:absolute;
		top:0;
		left:760px;
		width:200px;
		height:335px;
	}
		.panel_subbanner_block	{
			padding: 0 0 6px 0;
		}

		.panel_subbanner_block a	{
			opacity:1;
			filter:alpha(opacity=100);
			-ms-filter:"alpha(opacity=100)";
		}
		.panel_subbanner_block a:hover	{
			opacity:0.75;
			filter:alpha(opacity=75);
			-ms-filter:"alpha(opacity=75)";
		}

		/* ------------------------------------------- */
		/*
		<div id="panel_subbanner">
			<p class="panel_subbanner_block"><a href=""><img src="/img/sub/banner_1.jpg" /></a></p>
			<p class="panel_subbanner_block"><a href=""><img src="/img/sub/banner_2.jpg" /></a></p>
			<p class="panel_subbanner_block"><a href=""><img src="/img/sub/banner_3.jpg" /></a></p>
			<p class="panel_subbanner_block"><a href=""><img src="/img/sub/banner_4.jpg" /></a></p>
		</div>
		*/
		/* ------------------------------------------- */


	#top_information	{
		display:table;
		width:100%;
		margin:0 0 20px 0;
	}
	#top_information_title	{
		width:120px;
		text-align:center;
		vertical-align:top;
		display:table-cell;
		padding:15px 0;
		background-color:#cc3333;
		border:1px solid #cc3333;
		color:#ffffff;
		font-size:1.2em;
	}
	#top_information_text	{
		width:auto;
		text-align:left;
		vertical-align:top;
		padding:15px;
		display:table-cell;
		background-color:#fff5eb;
		border:1px solid #cc3333;
		color:#000000;
		font-size:1.2em;
	}


		/* ------------------------------------------- */
		/*
		<div id="top_information">
			<div id="top_information_title">重要なお知らせ</div>
			<div id="top_information_text">
				<p><a href="">XXXXXXXXXXXXの公演は急遽中止になりました。払い戻し等の詳細についてはこちらからご確認下さい。（00/00）</a></p>
			</div>
		</div>
		*/
		/* ------------------------------------------- */

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#top_wrapper	{
	width:970px;
}


