@charset "utf-8";

*{
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	box-sizing:border-box;
	border-collapse:collapse;
	zoom:1;
}

body {
	color:#000000;
	font-size:10px;
	line-height:1.75em;
	font-family: "メイリオ", "MS Pゴシック", sans-serif;
	background-color:#e1e1e1;
	position:relative;
}

#mini {
	background-color:#ffffff !important;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.wrapper	{
	width:960px;
	margin: 0 auto;
	position:relative;
}

.wrapper_mini	{
	padding:30px 0;
	width:800px;
	margin: 0 auto;
	position:relative;
}

.pagetop	{
	clear:both;
	position:relative;
	padding:10px 0;
	text-align:right;
}

.pagetop a	{
	color:#6f7072;
}

.pagetop a:hover	{
	color:#bca474;
}

.text_underline	{
	text-decoration: underline;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#container	{
	position:relative;
	clear:both;
	padding:0 0 0 0;
	z-index:1000;
}
#container:after	{
	clear:both;
	display:block;
	height:1px;
	content:".";
	visibility:hidden;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#breadlist_wrapper	{
	position:relative;
	clear:both;
	padding:4px 0;
	font-size:1.1em;
}
#breadlist_wrapper span {
	padding:0 7px 0 0;
	display:inline-block;
}
#breadlist_wrapper span:after {
	padding:0 0 0 10px;
	content:">";
}
#breadlist_wrapper span a {
	display:inline-block;
	text-decoration:none;
}
#breadlist_wrapper span a:hover {
	text-decoration:underline;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.blockarea {
	width:961px;
	padding:0 0 20px 0;
}
.blockarea:after {
	clear:both;
	display:block;
	height:1px;
	content:".";
	visibility:hidden;
}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	.blockarea_wrapper	{
		border-top:1px solid #cccccc;
		border-left:1px solid #cccccc;
		background-color:#ffffff;
	}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */
		.blockarea_header		{	display:table;		width:100%;		vertical-align:middle;	border-bottom:1px solid #cccccc;	border-right:1px solid #cccccc;	background-color:#f7f7f7;	}
		.blockarea_title		{	display:table-cell;	width:auto;		vertical-align:middle;	padding:11px 15px;	font-size:1.5em;	font-weight:bold;	text-align:left;	}
		.blockarea_navi			{	display:table-cell;	width:110px;	vertical-align:middle;	padding:11px 0;		font-size:1.1em;	list-style:none;	text-align:center;	border-left:1px solid #cccccc;	border-right:1px solid #cccccc;	}
		.blockarea_navi li 		{	display:inline-block;	padding:0 5px;	}
		.blockarea_navi li img 	{	vertical-align:middle;	}
		.blockarea_list			{	display:table-cell;	width:90px;		vertical-align:middle;	padding:11px 0;		font-size:1.3em;	list-style:none;	text-align:center;	border-right:1px solid #cccccc;	}
		.blockarea_list li 		{	display:inline-block;	padding:0 5px;	}
		.blockarea_list li img 	{	vertical-align:middle;	}

		.blockarea_table				{	display:table;			margin:15px auto;	font-size:1.2em;	}
		.blockarea_table_title			{	display:table-cell;		padding:0px 10px;	font-weight:bold;	border-right: 1px solid #cccccc;	}
		.blockarea_table_cell			{	display:table-cell;		padding:0px 10px;	}
		.blockarea_table_cell input		{	margin:0 3px;	}
		.blockarea_table_cell select 	{	border:1px solid #CCCCCC;	}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

		.blockarea_block					{	display:table;			width:100%;		position:relative;	top:0;	left:0;		}
		.blockarea_block_left				{	display:table-cell;		width:auto;		padding:15px 15px;	font-size:1.2em;	font-weight:bold;	vertical-align:middle;	border-bottom:1px solid #cccccc;	}
		.blockarea_block_right				{	display:table-cell;		width:400px;	padding:15px 15px;	font-size:1.2em;	text-align:right;	vertical-align:middle;	border-bottom:1px solid #cccccc;	border-right:1px solid #cccccc;	}

		.blockarea_block_text				{	padding:0 20px 0 0;		}
		.blockarea_block_text form			{	padding:0 5px;			display:inline-block;	}
		.blockarea_block_text select		{	padding:0;				display:inline-block;	background-color:#ffffff;	border:1px solid #cccccc;	}
		.blockarea_block_table				{	display:inline-table;	}
		.blockarea_block_table a			{	display:table-cell;		vertical-align:middle;	}
		.blockarea_block_table img			{	vertical-align:top;		padding:1px 5px;		}
		.blockarea_block_table_prev			{	display:table-cell;		vertical-align:middle;	padding:0 20px 0 0;	color:#c6d2df;	font-weight:bold;	}
		.blockarea_block_table_prev img		{	opacity:0.25;	filter:alpha(opacity=25);	-ms-filter:"alpha(opacity=25)";		}
		.blockarea_block_table_prev a		{	color:#1a4d80;	}
		.blockarea_block_table_prev a img	{	opacity:1.00;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
		.blockarea_block_table_next			{	display:table-cell;		vertical-align:middle;	padding:0 0 0 20px;	color:#c6d2df;	font-weight:bold;	}
		.blockarea_block_table_next img		{	opacity:0.25;	filter:alpha(opacity=25);	-ms-filter:"alpha(opacity=25)";		}
		.blockarea_block_table_next a		{	color:#1a4d80;	}
		.blockarea_block_table_next a img	{	opacity:1.00;	filter:alpha(opacity=100);	-ms-filter:"alpha(opacity=100)";	}
		.blockarea_block_table_cell			{	display:table-cell;		vertical-align:middle;	padding:0 5px;		color:#000000;	}
		.blockarea_block_table_cell a		{	color:#1a4d80;	}

		/* ------------------------------------------- */
		/* ------------------------------------------- */
		/* ------------------------------------------- */

		.blockarea_search 				{	position:relative;	top:0;	left:0;	width:100%;		height:50px;	background-color:#999999;	}
		.blockarea_search li 			{	position:absolute;	bottom:0;		width:220px;	height:40px;	overflow:hidden;	}
		.blockarea_search li a 			{	position:absolute;	top:-40px;	left:0px;	}
		.blockarea_search li a 			{	top:-40px;			}
		.blockarea_search li a:hover 	{	top:-80px;			}
		.blockarea_search_here	a		{	top:0px !important;	}
		#blockarea_search_area			{	left:15px;			}
		#blockarea_search_artist		{	left:250px;			}

		.blockarea_box	{
			padding:15px;
		}

			.blockarea_box_table	{
				background-color:#e1edfa;
				text-align:center;
				border-radius:5px;
				font-size:1.2em;
				color:#a4a6a8;
			}
	
			.blockarea_box_table_cell	{
				display:inline-block;
				padding:17px 5px;
				font-size:1.1em;
			}
	
			.blockarea_box_table_cell a	{
				color:#1a4d80;
			}


			/*
			<div class="blockarea_box_inner">
				<div class="blockarea_box_table">
					<span class="blockarea_box_table_cell"><a href="#hokkaido">北海道</a></span>/
					<span class="blockarea_box_table_cell"><a href="#tohoku">東北</a></span>/
					<span class="blockarea_box_table_cell"><a href="#kanto-koushinetsu">関東・甲信越</a></span>/
					<span class="blockarea_box_table_cell"><a href="#tokai-hokuriku">東海・北陸</a></span>/
					<span class="blockarea_box_table_cell"><a href="#kinki">近畿</a></span>/
					<span class="blockarea_box_table_cell"><a href="#chugoku">中国</a></span>/
					<span class="blockarea_box_table_cell"><a href="#shikoku">四国</a></span>/
					<span class="blockarea_box_table_cell"><a href="#kyusyu-okinawa">九州・沖縄</a></span>
				</div>
			</div>
			*/


			.blockarea_text_wrap	{
				border-top:1px solid #cccccc;
			}

			.blockarea_contents_page_title	{
				padding:7px 15px;
				background-color:#f7f7f7;
				border-bottom:1px solid #cccccc;
				border-right:1px solid #cccccc;
				font-size:1.5em;
				font-weight:bold;
				color:#000000;
			}

			.blockarea_contents_page_title_small	{
				padding:0 20px;
				font-size:0.75em;
				font-weight:normal;
				color:#666666;
			}

	/* ------------------------------------------- */

	.blockarea_contents	{
		position:relative;
		top:0;
		left:0;
		overflow:hidden;
		height:0;
	}

		.blockarea_contents_slider	{
			position:relative;
			top:0;
			left:0;
		}

		.blockarea_contents_page	{
			float:left;
			width:960px;
			vertical-align:top;
		}

		.blockarea_contents_page_row	{
			display:table;
			width:100%;
			vertical-align:top;
		}

			.blockarea_contents_cell_half	{
				display:table-cell;
				width:479px;
				border-right:1px solid #cccccc;
				border-bottom:1px solid #cccccc;
				text-align:center;
				vertical-align:top;
				padding:15px;
				position:relative;						
			}

			.blockarea_contents_cell_third	{
				display:table-cell;
				width:319px;
				border-right:1px solid #cccccc;
				border-bottom:1px solid #cccccc;
				text-align:center;
				vertical-align:top;
				padding:15px;
				position:relative;
			}

			.blockarea_contents_cell_quarter	{
				display:table-cell;
				width:239px;
				border-right:1px solid #cccccc;
				border-bottom:1px solid #cccccc;
				text-align:center;
				vertical-align:top;
				padding:15px;
				position:relative;
			}
			.blockarea_contents_cell_quarter_rec	{
				display:table-cell;
				width:239px;
				border-right:1px solid #cccccc;
				border-bottom:1px solid #cccccc;
				text-align:center;
				vertical-align:top;
				padding:15px;
				position:relative;
			}
			.blockarea_contents_cell_quarter_cddvd	{
				display:table-cell;
				width:195px;
				border-right:1px solid #cccccc;
				border-bottom:1px solid #cccccc;
				text-align:center;
				vertical-align:top;
				padding:20px 10px 5px 10px;
				position:relative;
				font-size:0.9em;
			}

			.blockarea_contents_cell_auto	{
				display:table-cell;
				width:auto;
				border-right:1px solid #cccccc;
				border-bottom:1px solid #cccccc;
				text-align:center;
				vertical-align:top;
				padding:15px;
				position:relative;
				vertical-align:top;
			}


			.blockarea_localnavi	{
				vertical-align:top;
				width:180px;
				display: table-cell;
				border-right:1px solid #cccccc;
				background-color:#ededed;
			}

			.blockarea_localnavi_inner	{
				padding:0px 10px;
			}
			.blockarea_localnavi_title	{
				width:auto;
				vertical-align:middle;
				font-size:1.5em;
				font-weight:bold;
				text-align:left;
				padding:20px 0;
			}

			.blockarea_localnavi_list		{
				list-style:none;
			}
			.blockarea_localnavi_list li	{
				width:160px;
				display:table;
				vertical-align:middle;
			}
			.blockarea_localnavi_list li a	{
				font-size:1.1em;
				padding:0 0 0 10px;
				height:30px;
				background:none;
				display:table-cell;
				vertical-align:middle;
				background:none;
				color:#1a4d80;
			}
			.blockarea_localnavi_list li a:hover	{
				background:url(/common/img/list/local_navi_hover.gif);
				color:#ffffff;
			}
			.blockarea_localnavi_list li a.blockarea_localnavi_list_here	{
				background:url(/common/img/list/local_navi_hover.gif);
				color:#ffffff;
			}

			/*
			<div class="blockarea_localnavi_inner">
				<h2 class="blockarea_localnavi_title">メディア</h2>
				<ul class="blockarea_localnavi_list">
					<li class="blockarea_localnavi_list_here">すべて</li>
					<li>CD</li>
				</ul>
			</div>
			*/

			.blockarea_localcontent	{
				width:780px;
				display: table-cell;
			}
			.blockarea_localcontent_header	{
				background-color:#f7f7f7;
				padding:0px;
				display:table;
				width:100%;
			}



/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.blockarea_contents	{
	position:relative;
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

	.blockarea_info	{
		display:table-cell;
		width:auto;
		vertical-align:middle;
		padding:13px 0;
		text-align:right;
		font-size:1.05em;
		padding:0 15px;
	}

	.blockarea_info	a {
		padding: 0 18px 0 0;
		background:url(/common/img/block/panel_link_icon.gif) right center no-repeat;
	}


/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */



.item_panel						{
	text-align:left;
	display:table;
	width:100%;
}
.item_panel_pattern_img			{
	vertical-align:top;
	z-index:200;
}
.item_panel_pattern_info		{
	vertical-align:top;
	padding:0;
	font-size:1.0em;
	line-height:1.25em;
	z-index:201;
}

.item_panel_icon				{	list-style:none;			padding:0 0 5px 0;	}
.item_panel_icon li				{	display:inline-block;		padding:6px 6px 4px 6px;	font-size:1.05em;	line-height:1.0em;	}
.item_panel_icon_new			{	background-color:#db2e64;	color:#ffffff;	}
.item_panel_icon_category		{	background-color:#003459;	color:#ffffff;	}
.item_panel_icon_subcategory	{	border:1px solid #cccccc;	}
.item_panel_icon_place			{	border:1px solid #cccccc;	}
.item_panel_info				{	padding:0 0 6px 0;	font-weight:bold;	}
.item_panel_main_title			{	padding:0 0 2px 0;	font-weight:normal;	font-size:1.2em;	line-height:1.25em;	color:#194d7d;	}
.item_panel_sub_title			{	padding:0 0 8px 0;	font-weight:normal;	font-size:1.0em;	line-height:1.25em;	color:#333333;	}
.item_panel_price				{	padding:0 0 8px 0;	list-style:none;	font-size:1.1em;	line-height:1.50em;	}
.item_panel_price_mem			{	color:#333333;		}
.item_panel_price_jam			{	color:#dc6501;		}
.item_panel_price_bold			{	font-weight:bold;	}
.item_panel_price_update		{	font-size:1.1em !important;		color:#cc3333;	padding:0 0 2px 0;	}
.item_panel_price_update span	{	font-weight:bold;	}
.item_panel_price_delete		{	text-decoration:line-through !important;	}
.item_panel_from				{	font-size:1.0em;	line-height:1.25em;	color:#666666;	}
.item_panel_link				{	position:absolute;	top:0;	left:0;	width:100%;	height:100%;	background:#ffffff;	opacity:0.0;	filter:alpha(opacity=0);	-ms-filter:"alpha(opacity=0)";	}

.item_panel_price_jam .item_panel_price_bold	{	font-size:1.1em;	line-height:1.50em;		}
.item_panel_price_jam .item_panel_price_delete	{	font-size:1.1em;	line-height:1.50em;		}


.blockarea_contents_cell_third .cddvd .item_panel_pattern_img					{	display:table-cell;	width:100px;	}
.blockarea_contents_cell_third .cddvd .item_panel_pattern_img img				{	width:90px;	}
.blockarea_contents_cell_third .cddvd .item_panel_pattern_info					{	display:table-cell;	width:auto;		}
.blockarea_contents_cell_third .cddvd .item_panel_price							{	font-size:1.0em;	}
.blockarea_contents_cell_third .ticket_image .item_panel_pattern_img			{	display:block;		text-align:center;	}
.blockarea_contents_cell_third .ticket_image .item_panel_pattern_img img		{	width:289px;		}
.blockarea_contents_cell_third .ticket_image .item_panel_pattern_info			{	display:block;		padding:15px 0 0 0;	}
.blockarea_contents_cell_third .ticket_image .item_panel_price					{	font-size:1.1em;	}

.blockarea_contents_cell_half .ticket_artist .item_panel_pattern_img			{	display:table-cell;	width:125px;	}
.blockarea_contents_cell_half .ticket_artist .item_panel_pattern_img img		{	width:110px;	}
.blockarea_contents_cell_half .ticket_artist .item_panel_pattern_info			{	display:table-cell;	width:auto;		}
.blockarea_contents_cell_half .goods .item_panel_pattern_img					{	display:table-cell;	width:160px;	}
.blockarea_contents_cell_half .goods .item_panel_pattern_img img				{	width:145px;	}
.blockarea_contents_cell_half .goods .item_panel_pattern_info					{	display:table-cell;	width:auto;		}
.blockarea_contents_cell_half .gift .item_panel_pattern_img						{	display:table-cell;	width:160px;	}
.blockarea_contents_cell_half .gift .item_panel_pattern_img img					{	width:145px;	}
.blockarea_contents_cell_half .gift .item_panel_pattern_info					{	display:table-cell;	width:auto;		}
.blockarea_contents_cell_half .cddvd .item_panel_pattern_img					{	display:table-cell;	width:160px;	}
.blockarea_contents_cell_half .cddvd .item_panel_pattern_img img				{	height:145px;	}
.blockarea_contents_cell_half .cddvd .item_panel_pattern_info					{	display:table-cell;	width:auto;		}

.blockarea_contents_cell_quarter .goods .item_panel_pattern_img					{	display:block;	text-align:center;	}
.blockarea_contents_cell_quarter .goods .item_panel_pattern_img img				{	height:170px;	}
.blockarea_contents_cell_quarter .goods .item_panel_pattern_info				{	display:block;	padding:15px 0 0 0;	}
.blockarea_contents_cell_quarter .gift .item_panel_pattern_img					{	display:block;	text-align:center;	}
.blockarea_contents_cell_quarter .gift .item_panel_pattern_img img				{	height:170px;	}
.blockarea_contents_cell_quarter .gift .item_panel_pattern_info					{	display:block;	padding:15px 0 0 0;	}

.blockarea_contents_cell_quarter_rec .cddvd .item_panel_pattern_img				{	display:block;	text-align:center;	}
.blockarea_contents_cell_quarter_rec .cddvd .item_panel_pattern_img img			{	height:145px;	}
.blockarea_contents_cell_quarter_rec .cddvd .item_panel_pattern_info			{	display:block;	padding:15px 0 0 0;	}
.blockarea_contents_cell_quarter_rec .ticket_artist .item_panel_pattern_img		{	display:block;	text-align:center;	}
.blockarea_contents_cell_quarter_rec .ticket_artist .item_panel_pattern_img img	{	height:145px;	}
.blockarea_contents_cell_quarter_rec .ticket_artist .item_panel_pattern_info	{	display:block;	padding:15px 0 0 0;	}
.blockarea_contents_cell_quarter_rec .goods .item_panel_pattern_img				{	display:block;	text-align:center;	}
.blockarea_contents_cell_quarter_rec .goods .item_panel_pattern_img img			{	height:145px;	}
.blockarea_contents_cell_quarter_rec .goods .item_panel_pattern_info			{	display:block;	padding:15px 0 0 0;	}
.blockarea_contents_cell_quarter_rec .gift .item_panel_pattern_img				{	display:block;	text-align:center;	}
.blockarea_contents_cell_quarter_rec .gift .item_panel_pattern_img img			{	height:145px;	}
.blockarea_contents_cell_quarter_rec .gift .item_panel_pattern_info				{	display:block;	padding:15px 0 0 0;	}

.blockarea_contents_cell_quarter_cddvd .cddvd .item_panel_price					{	font-size:1.0em;	}
.blockarea_contents_cell_quarter_cddvd .cddvd .item_panel_pattern_img			{	display:block;	text-align:center;	}
.blockarea_contents_cell_quarter_cddvd .cddvd .item_panel_pattern_img img		{	height:110px;	}
.blockarea_contents_cell_quarter_cddvd .cddvd .item_panel_pattern_info			{	display:block;	padding:15px 0 0 0;	}

.special .item_panel_pattern_img		{	display:block;	text-align:center;	}
.special .item_panel_pattern_img img	{	width:289px;	}


/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#error						{	padding:20px 0 0 0;	}
#error_wrapper				{	padding:0 0 20px 0;	}
#error_block				{	padding:70px 0;			border:1px solid #d3d3d3;	background-color:#ffffff;	text-align:center;	}
#error_block_title			{	padding:0 0 25px 0;		font-size:2.0em;	}
.error_block_text			{	padding:0 0 5px 0;		font-size:1.4em;	color:#000000;	}
.error_block_link			{	padding:10px 0 0 0;		font-size:1.4em;	color:#1a4d80;	}
.error_block_link a			{	color:#1a4d80;			text-decoration:none;	}
.error_block_link a:hover	{	color:#1a4d80;			text-decoration:underline;	}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#banner	{
	padding: 0 0 20px 0;
}

	#banner_wrapper	{
		display:table;
		width:100%;
	}

		#banner_panel_left	{
			display:table-cell;
			text-align:left;
			width:50%;
		}
		#banner_panel_right	{
			display:table-cell;
			text-align:right;
			width:50%;
		}
		#banner_panel_center	{
			display:table-cell;
			width:100%;
		}

	#banner_wrapper a {
		opacity:1;
		filter:alpha(opacity=100);
		-ms-filter:"alpha(opacity=100)";
	}
	#banner_wrapper a:hover {
		opacity:0.75;
		filter:alpha(opacity=75);
		-ms-filter:"alpha(opacity=75)";
	}
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */



#floating	{
	z-index:9000;
	position:fixed;
	top:0;
	left:0;
	display:none;
	opacity:0.0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
}

	#floating_bg	{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background-color:#000000;
		opacity:0.3;
		filter:alpha(opacity=30);
		-ms-filter:"alpha(opacity=30)";
	}

	#floating_wrapper	{
		position:absolute;
		top:50%;
		left:50%;
		opacity:1.0;
		filter:alpha(opacity=100);
		-ms-filter:"alpha(opacity=100)";
	}
	#floating_wrapper *	{
		opacity:1.0;
		filter:alpha(opacity=100);
		-ms-filter:"alpha(opacity=100)";
		zoom:1;
	}

	#floating_box	{
		position:relative;
		background-color:#ffffff;
		margin:-345px 0 0 -355px;
		border-radius:5px;
	}

		#floating_image		{
			position:absolute;
		}
		#floating_image_src		{
			display:table-cell;
			vertical-align:middle;
		}
		#floating_image_src img	{
			display:inline-block;
			vertical-align:middle;
		}
		#floating_thum		{
			position:absolute;
		}
		.floating_thum_block	{
			width:40px;
			height:50px;
			position:relative;
		}
		.floating_thum_block img	{
			width:40px;
			vertical-align:middle;
		}
		.floating_thum_cell		{
			display:table-cell;
			width:40px;
			height:40px;
			vertical-align:middle;
		}


			.floating_thum_focus	{
				background:url(/common/img/detail/focus_panel.gif) top left no-repeat;
				width:40px;
				height:40px;
				position:absolute;
				top:0;
				left:0;
				opacity:0;
				filter:alpha(opacity=0);
				-ms-filter:"alpha(opacity=0)";
				cursor:pointer;
			}
			

	.zoom100 #floating_box				{	margin:-345px 0 0 -355px;	width:710px;	height:690px;	}
	.zoom100 #floating_image			{	top:40px;		left:10px;		}
	.zoom100 #floating_image_src		{	width:640px;	height:640px;	}
	.zoom100 #floating_image_src img	{	width:640px;	}
	.zoom100 #floating_thum				{	top:40px;		right:10px;		}

	.zoom75 #floating_box				{	margin:-259px 0 0 -267px;	width:534px;	height:518px;	}
	.zoom75 #floating_image				{	top:50px;		left:10px;		}
	.zoom75 #floating_image_src			{	width:460px;	height:460px;	}
	.zoom75 #floating_image_src img		{	width:460px;	}
	.zoom75 #floating_thum				{	top:50px;		right:10px;		}



		#floating_bt		{
			position:absolute;
			top:10px;
			right:10px;
		}

			#floating_bt a			{
				color:#1a4d80;
				font-size:1.2em;
				width:60px;
				height:20px;
				display:block;
				position:relative;
				overflow:hidden;
				text-align:left;
				padding:2px 0 0 0;
			}
			#floating_bt a img			{
				position:absolute;
				top:0;
				right:0;
			}
			#floating_bt a:hover img	{
				top:-20px;
			}
			#floating_bt a:hover {
				text-decoration:underline;
			}

