@charset "utf-8";


#footer	{
	position:relative;
	z-index:3000;
	clear:both;
}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#footer_attention	{
		padding:15px 0 5px 0;
		text-align: right;
		color:#999999;
	}

	#footer_wrapper		{
		border-top:1px solid #999999;
		padding:1px 0;
	}

		/* ------------------------------------------- */

		#footer_menu	{
			border-top:1px solid #999999;
			border-bottom:1px solid #999999;
			padding:15px 0;
		}
		#footer_menu_block		{
			position:relative;
			width:100%;
			display:table;
			font-size:1.1em;
		}

		/* ------------------------------------------- */

		#footer_main_menu		{
			list-style:none;
			width:auto;
			display:table-cell;
		}
		#footer_main_menu li	{
			display:inline-block;
			height:18px;
		}
		#footer_main_menu li a	{
			display:inline-block;
			padding:2px 10px;
			border-left:1px solid #999999;
			color:#333333;
			height:18px;	
			text-decoration:none;
		}
		#footer_main_menu li a:hover	{
			text-decoration:underline;
		}
		#footer_main_menu_first	{
			padding: 0 0 0 15px;
		}
		#footer_main_menu_first	a {
			border-left:none !important;
			padding:0 10px 0 25px !important;
			background:url(/common/img/footer/footer_icon_home.gif) left top no-repeat;
		}

		/* ------------------------------------------- */

		#footer_sub_menu		{
			list-style:none;
			width:240px;
			display:table-cell;
			text-align:left;
		}
		#footer_sub_menu li	{
			display:inline-block;
			height:18px;
		}
		#footer_sub_menu li a	{
			display:inline-block;
			padding:2px 10px;
			border-left:1px solid #999999;
			color:#333333;
			height:18px;	
			text-decoration:none;
		}
		#footer_sub_menu li a:hover	{
			text-decoration:underline;
		}
		#footer_sub_menu_first	{
		}
		#footer_sub_menu_first	a {
			border-left:none !important;
		}

		/* ------------------------------------------- */

		#footer_sns_menu		{
			list-style:none;
			width:100px;
			display:table-cell;
			text-align:right;
			padding:0 15px 0 0;
		}
		#footer_sns_menu li	{
			display:inline-block;
			height:18px;
		}
		#footer_sns_menu li a	{
			display:inline-block;
			padding:2px 12px;
			width:18px;
			height:18px;	
			opacity:1;
			filter:alpha(opacity=100);
			-ms-filter:"alpha(opacity=100)";
		}
		#footer_sns_menu li a:hover	{
			opacity:0.75;
			filter:alpha(opacity=75);
			-ms-filter:"alpha(opacity=75)";
		}

		#footer_sns_menu_tw		{	background:url(/common/img/footer/footer_icon_tw.gif) left top no-repeat;	}
		#footer_sns_menu_fb		{	background:url(/common/img/footer/footer_icon_fb.gif) left top no-repeat;	}
		#footer_sns_menu_rss	{	background:url(/common/img/footer/footer_icon_rss.gif) left top no-repeat;	}
					
		/* ------------------------------------------- */

		#footer_banner		{
			position:relative;
			padding:15px 0;
			text-align:center;
		}
		.footer_banner_list	{
			display:inline-block;
			padding: 0 0 10px 0;
			margin:0 auto;
		}
		.footer_banner_item	{
			display:inline-block;
			padding: 0 10px;
			opacity:1;
			filter:alpha(opacity=100);
			-ms-filter:"alpha(opacity=100)";
		}
		.footer_banner_item:hover	{
			display:inline-block;
			padding: 0 10px;
			opacity:0.75;
			filter:alpha(opacity=75);
			-ms-filter:"alpha(opacity=75)";
		}

		/* ------------------------------------------- */

		#footer_copyright	{
			text-align:center;
			padding:0 0 30px 0;
			color:#999999;
		}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#footer_wrapper_mini	{
		border-top:1px solid #999999;
		padding:1px 0;
		position:relative;	
		width:800px;
		margin:0 auto;
	}

		#footer_copyright_mini	{
			border-top:1px solid #999999;
			text-align:center;
			padding:30px 0 30px 0;
			color:#999999;
		}

	/* ------------------------------------------- */
	/* ------------------------------------------- */
	/* ------------------------------------------- */

	#footer_wrapper_medium	{
		border-top:1px solid #999999;
		padding:1px 0;
		position:relative;	
		width:960px;
		margin:0 auto;
	}
		#footer_inner_medium		{
			border-top:1px solid #999999;
			padding:20px 0;
		}
		#footer_func_medium			{
			display:table;
			margin:0 auto;
		}
		#footer_func_medium	li		{
			display:table-cell;
			padding:0 20px;
			border-right:2px solid #999999;
			font-size:1.0em;
			line-height:1.0em;
		}
		#footer_func_medium_last	{
			border-right:none !important;
		}
		#footer_func_medium	li a	{
			color:#666666;
			text-decoration:none;
		}
		#footer_func_medium	li a:hover	{
			color:#666666;
			text-decoration:underline;
		}
		#footer_copyright_medium	{
			text-align:center;
			padding:20px 0 0 0;
			color:#999999;
		}


/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

#pagetop	{
	z-index:7000;
	position:fixed;
	right:0;
	bottom:0;
	width:35px;
	height:55px;
	overflow: hidden;
}

#pagetop a	{
	position:absolute;
	top:0;
	left:0;
}
#pagetop a:hover	{
	top:-55px;
}




