@charset "utf-8";


#header	{
	background-color:#003458;
	position:relative;
	z-index:7000;
	clear:both;
}

	/* -------------------------------------------- */
	/* -------------------------------------------- */
	/* -------------------------------------------- */

	#header_wrapper	{
		position:relative;	
		height:60px;
		width:960px;
		margin:0 auto;
	}

		#header_logo	{
			position:absolute;	
			left:0;
			top:12px;
		}

		#header_user	{
			position:absolute;	
			right:210px;
			top:20px;
			color:#FFFFFF;
			font-size:10px;
			line-height:1.0em;
		}
		#header_user_list	{
			position:relative;
			list-style:none;
			font-size:12px;
			display:table;
			height:20px;	
		}
		#header_user_list li	{
			display:table-cell;
			position:relative;
			display:inline-block;
			text-align:right;
			vertical-align:middle; 	
		}
		#header_user_list_name		{	width:340px;	padding:5px 0 0 0;	}
		#header_user_list_bt		{	width:60px;		}

		#header_user_list_name_bold	{	font-size:1.2em; 	font-weight:bold;			}
		#header_user_list_bt_block	{	position:relative;	width:60px;	height:20px;	}

		#header_func		{
			position:absolute;
			right:0;
			top:13px;
		}
		#header_func_list	{
			list-style:none;
			font-size:10px;
			line-height:1.0em;
		}
		#header_func_list li	{
			padding:0 15px 5px 0;
		}
		#header_func_list a		{
			color:#cdcbcc;
			text-decoration:none;
			padding:2px 0 0 0;
			display:inline-block;
		}

		#header_func_list a:hover {
			color:#bca474;
		}

		#header_func_list_guide		{ }
		#header_func_list_official	{ background:url(/common/img/header/link_icon.gif) top right no-repeat; }


	/* -------------------------------------------- */
	/* -------------------------------------------- */
	/* -------------------------------------------- */

	#header_wrapper_mini	{
		position:relative;	
		height:40px;
		width:800px;
		margin:0 auto;
	}

		#header_logo_mini	{
			position:absolute;	
			left:0;
			top:0;
		}
		
	/* -------------------------------------------- */
	/* -------------------------------------------- */
	/* -------------------------------------------- */

	#header_wrapper_medium	{
		position:relative;	
		height:40px;
		width:960px;
		margin:0 auto;
	}

		#header_logo_medium	{
			position:absolute;	
			left:0;
			top:0;
		}

	/* -------------------------------------------- */
	/* -------------------------------------------- */
	/* -------------------------------------------- */

#header_user_list_menu					{	width:20px;	}
#header_user_list_menu_navi				{	position:relative;	width: 20px;		height: 20px;	overflow: visible;	}
#header_user_list_menu_navi_arrow_df	{	display:block;	}
#header_user_list_menu_navi_arrow_ov	{	position:relative;	z-index:7500;		display:none;	}
#header_user_list_menu_navi_list		{	position:relative;	z-index:7400;		display:none;	width:180px;	}
#header_user_list_menu_navi_list_bg		{	position:absolute;	z-index:7402;		display:block;	width:5px;		height:5px;		background-color:#ffffff;	}
#header_user_list_menu_navi_list_menu	{	position:relative;	z-index:7401;		display:block;	width:180px;	padding:0 10px 10px 10px;	border-radius:5px;	background-color:#ffffff;	box-shadow:0px 0px 5px #666;	}
#header_user_list_menu_navi_list a		{	display:block;		text-align:left;	padding:15px 0 0 0;	color:#1a4d80;	text-decoration:none;	}
#header_user_list_menu_navi_list a:hover{	text-decoration:underline;	}
