@charset "utf-8";


#menu	{
	background:url(/common/img/menu/menu_bg.png) top left repeat-x; 
	position:relative;
	top:-2px;
	z-index:2000;
	width:100%;
	height:44px;
	clear:both;
}

	#menu_wrapper			{
		position:relative;	
		top:0;
		left:0;
		width:960px;
		height:40px;
		margin:0 auto;
	}
	#menu_list				{
		position:absolute;
		z-index:7002;
		top:2px;
		right:0;
		list-style:none;
		display:table;
		width:auto;
		/*
		width:100%;
		*/
		height:40px;
	}
	#menu_wrapper li		{
		position:relative;
		top:0;
		left:0;
		display:table-cell;
		vertical-align:top; 	
		height:40px;
	}

	#menu_wrapper li div 	{
		position:relative;
		top:0;
		left:0;
		height:40px;
		overflow:hidden;
	}
	#menu_home				{	width:40px;	 	}
	#menu_ticket			{	width:180px;	}
	#menu_cddvd				{	width:180px;	}
	#menu_giftcard			{	width:180px;	}
	#menu_goods				{	width:180px;	}
	#menu_cart				{	width:200px;	}

	#menu_wrapper li div a	{
		position: absolute;
		top:0;
	}
	#menu_wrapper li div a:hover	{
		position: absolute;
		top:-40px;
	}

	#menu_cart_num		{
		position:absolute !important;
		top:12px !important;
		left:145px !important;
		display:table;
		vertical-align:middle;
		width:34px;
		height:auto !important;
		display:table-cell;
		color:#ffffff;
		font-weight:bold;
		font-size:1.3em;
		text-align:center;
	}

	.menu_here a 		{
		top:-80px !important;
	}
	.menu_here:hover a	{
		top:-80px !important;
	}
	.menu_here #menu_cart_num 	{
		color:#ffafaf !important;
	}

	#menu_dropdown		{
		position:relative;
		list-style:none;
		z-index:7001;
		display:none;
		top:1px;
		left:220px;
		width:181px;
		border:1px solid #cccccc;
		box-shadow:0 0 5px #999999;
	}
	#menu_dropdown li	{
		display:table;
		width:179px;
		height:34px;
		padding:0;
		margin:0;
		line-height:0%;
	}
	#menu_dropdown li a	{
		color:#1a4d80;
		display:table-cell;
		width:100%;
		height:34px;
		font-size:1.2em;
		padding:0;
		margin:0;
		text-align:center;
		vertical-align:middle;
		background:url(/common/img/menu/menu_dropdown.gif);
	}
	#menu_dropdown li a:hover	{
		color:#3674b2;
		text-decoration:underline;
	}

/*
<div id="menu">
	<div id="menu_wrapper">
		<ul id="menu_list">
			<li><div id="menu_home"><a href="/"><img src="/common/img/menu/menu_home.gif" /></a></div></li>
			<li><div id="menu_ticket" class="menu_here"><a href="/ticket/"><img src="/common/img/menu/menu_ticket.gif" /></a></div></li>
			<li>
				<div id="menu_cddvd"><a href="/cddvd/"><img src="/common/img/menu/menu_cddvd.gif" /></a></div>
				<ul id="menu_dropdown">
					<li><a href="">すべて</a></li>
					<li><a href="">CD</a></li>
					<li><a href="">DVD</a></li>
					<li><a href="">Blue-ray</a></li>
					<li><a href="">VHS</a></li>
					<li><a href="">USB</a></li>
				</ul>
			</li>
			<li>
				<div id="menu_giftcard"><a href="/giftcard/"><img src="/common/img/menu/menu_giftcard.gif" /></a></div>
			</li>
			<li><div id="menu_goods"><a href=""><img src="/common/img/menu/menu_goods.gif" /></a></div></li>
			<li>
				<div id="menu_cart"><a href=""><img src="/common/img/menu/menu_cart.gif" /></a></div>
				<div id="menu_cart_num">0</div>
			</li>
		</ul>
	</div>
</div>*/


