@charset "utf-8";


#item_detail_header					{	padding:0 0 20px 0;		}


	#item_detail_header_title			{	padding:15px 10px;		background-color:#ffffff;			}
	#item_detail_header_title_inner		{	padding:0 0 10px 0;		border-bottom:1px solid #d9d9d9;	}
	#item_detail_header_title_small		{	padding:0 0 5px 0;		font-size:1.0em; font-weight:bold;		color:#666666;	}
	#item_detail_header_title_big		{	padding:0 0 5px 0;		font-size:1.8em; font-weight:bold;		color:#0a2233;	}
	#item_detail_header_title_medium	{	padding:0 0 5px 0;		font-size:1.2em; font-weight:normal;	color:#000000;	}
	#item_detail_header_title_genru		{	padding:0 0 5px 0;		font-size:1.0em; font-weight:normal;	color:#666666;	}

	#item_detail_header_title_icon				{	list-style:none;		padding:0 0 10px 0;		}
	#item_detail_header_title_icon li			{	display:inline-block;	padding:3px 5px;		font-size:0.9em;	line-height:1.00em;	}
	#item_detail_header_title_icon_category		{	border:1px solid #003458;	color:#ffffff;		background-color:#003458;	}
	#item_detail_header_title_icon_subcategory	{	border:1px solid #cccccc;	color:#666666;		}


	/*
	<div id="item_detail_header_title">
		<ul id="item_detail_header_icon">
			<li id="item_detail_header_icon_category">CD</li>
			<li id="item_detail_header_icon_subcategory">アルバム</li>
		</ul>
		<p id="item_detail_header_title_small">2014 00.00（月） 〜 2014 00.00（月）</p>
		<h1 id="item_detail_header_title_big">ハービー・ハンコック</h1>
		<h2 id="item_detail_header_title_medium">One Night Premium Live</h2>
	</div>
	*/

	#item_detail_header_photo					{	width:100%;			padding:5px 0;				background-color:#ffffff;	}
	#item_detail_header_photo_main				{	width:100%;			padding:0 0 5px 0;			}
	.item_detail_header_photo_main_block		{	width:100%;			display:none;	text-align:center;	opacity:0;	}
	.item_detail_header_photo_main_block img	{	height:170px;		}
	#item_detail_header_photo_menu				{	display:table;		margin:0 auto;				}
	.item_detail_header_photo_menu_block		{	display:table-cell;	padding:0 5px;				}
	.item_detail_header_photo_menu_block a		{	display:block;		width:8px;	height:8px;		background-color:#cccccc;	border-radius:4px;	}
	.item_detail_header_photo_menu_block a.now	{	background-color:#999999;	}
	/*
	<div id="item_detail_header_photo">
		<div id="item_detail_header_photo_main">
			<div class="item_detail_header_photo_main_block"><img src="/img/item/000001/img.jpg" /></div>
			<div class="item_detail_header_photo_main_block"><img src="/img/item/000002/img.jpg" /></div>
			<div class="item_detail_header_photo_main_block"><img src="/img/item/000003/img.jpg" /></div>
		</div>
		<div id="item_detail_header_photo_menu">
			<span class="item_detail_header_photo_menu_block"><a href="javascript:void(0);">&nbsp;</a></span>
			<span class="item_detail_header_photo_menu_block"><a href="javascript:void(0);">&nbsp;</a></span>
			<span class="item_detail_header_photo_menu_block"><a href="javascript:void(0);">&nbsp;</a></span>
		</div>
	</div>
	*/	

	#item_detail_header_info				{	background-color:#ffffff;	padding:10px;	}
	#item_detail_header_info_price			{	padding:15px 0 0 0;		list-style:none;	border-top:1px solid #d9d9d9;			}
	#item_detail_header_info_price span		{	padding:0 5px 0 0;		}
	#item_detail_header_info_price_web		{	padding:0 0 5px 0;		font-size:2.0em;	font-weight:bold;		color:#333333;	}
	#item_detail_header_info_price_jam		{	padding:0 0 5px 0;		font-size:2.0em;	font-weight:bold;		color:#d96500;	}
	.item_detail_header_info_price_update	{	padding:0 0 5px 0;		font-size:2.0em;	font-weight:bold;		color:#cc3333;	}
	.item_detail_header_info_price_delete	{	text-decoration:line-through;	}
	.item_detail_header_info_price_text		{	font-size:0.6em;		font-weight:normal;	}
	#item_detail_header_info_price li a		{	padding:2px 15px 2px 0;	font-size:0.5em;	display:inline-block;	color:#1a4d80;	background:url(/sp/common/img/detail/icon_brank.gif) no-repeat right center;	background-size:11px 10px;	}

	#item_detail_header_info_text			{	padding:0 0 2px 0;		font-size:0.9em;	font-weight:normal;		color:#666666;	}
	#item_detail_header_info_area			{	padding:0 0 10px 0;		font-size:1.4em;	font-weight:normal;		color:#cc3333;	}
	#item_detail_header_info_sns			{	width:100%;				}
	#item_detail_header_info_sns_gplus		{	display:inline-block;	vertical-align:top;	max-width:28%;	overflow:hidden;	}
	#item_detail_header_info_sns_fb			{	display:inline-block;	vertical-align:top;	max-width:35%;	overflow:hidden;	padding:1px 0 0 0;}
	#item_detail_header_info_sns_tw			{	display:inline-block;	vertical-align:top;	max-width:33%;	overflow:hidden;	}
	/*
	<div id="item_detail_header_info">
		<ul id="item_detail_header_info_price">
			<li id="item_detail_header_info_price_web"><span class="item_detail_header_info_price_delete">&yen;35,000</span><span class="item_detail_header_info_price_text">(通常価格)</span></li>
			<li class="item_detail_header_info_price_update">&yen;35,000<span class="item_detail_header_info_price_text">(10%off)</span></li>
			<li id="item_detail_header_info_price_jam"><span class="item_detail_header_info_price_delete">&yen;31,500</span><span class="item_detail_header_info_price_text">(JAM SESSION会員価格)</span></li>
			<li class="item_detail_header_info_price_update">&yen;31,500<span class="item_detail_header_info_price_text">(10%off)</span><a href="">JAM SESSION会員価格とは？</a></li>
		</ul>
		<p id="item_detail_header_info_text">※表示価格はすべて税込　※配送手数料は全国一律&yen;500</p>
		<div id="item_detail_header_info_area">自由入力エリア</div>
		<div id="item_detail_header_info_sns">
			<div id="item_detail_header_info_sns_tw"></div>
			<div id="item_detail_header_info_sns_fb"></div>
			<div id="item_detail_header_info_sns_gplus"></div>
		</div>
	</div>
	*/


#item_detail_type				{	padding:10px; 		background-color:#ffffff;		border-top:1px solid #d9d9d9;	border-bottom:1px solid #d9d9d9;	}


	#item_detail_type_inner			{	border-radius:5px;	border:1px solid #003458;		overflow:hidden;	}
	#item_detail_type_inner ul		{	display:table;		width:100%;	}
	#item_detail_type_inner li		{	display:table-cell;	width:50%;	font-size:1.2em;	font-weight:bold;	}
	#item_detail_type_inner a		{	display:block;		background-color:#ffffff;		text-align:center;	padding:5px 0;	color:#003458;		}
	.item_detail_type_inner_here	{	background-color:#003458 !important;		color:#ffffff !important;	}

	/*
	<ul>
		<li><a href="">チケット購入</a></li>
		<li><a href="">公演詳細情報</a></li>
	</ul>
	*/

.item_detail_body				{	display:block;			padding:0 0 20px 0;			}
.item_detail_body_inner			{	display:block;			background-color:#ffffff;	border-bottom:1px solid #d9d9d9;	}

	.item_detail_items_table							{	display:block;			background-color:#ffffff;	}
	.item_detail_items_table_header						{	display:table;			border-bottom:1px solid #d9d9d9;		width:100%;	background-color:#e1edfa;	}
	.item_detail_items_table_header_date				{	display:table-cell;		width:30%;		vertical-align:middle;	padding:8px 0px 8px 10px;	font-size:1.1em;	font-weight:bold;	line-height:1.2em;	}
	.item_detail_items_table_header_seat				{	display:table-cell;		width:auto;		vertical-align:middle;	padding:8px 10px 8px 0px;	font-size:1.4em;	font-weight:bold;	}
	.item_detail_items_table_header_item				{	display:table-cell;		width:auto;		vertical-align:middle;	padding:8px 10px;			font-size:1.4em;	font-weight:bold;	}

	.item_detail_items_table_body						{	display:table;			border-bottom:1px solid #d9d9d9;		width:100%;	list-style:none;			}
	.item_detail_items_table_body_status				{	display:table-cell;		width:30%;		vertical-align:middle;		padding:10px 0px 10px 10px;	font-size:1.1em;	line-height:1.2em;	}
	.item_detail_items_table_body_status_soldout		{	display:inline-block;	background:url(/sp/common/img/detail/icon_soldout.gif) no-repeat left center;	background-size:14px 14px;	padding:0 0 0 18px;	color:#cc3333;	}
	.item_detail_items_table_body_status_stock			{	display:inline-block;	background:url(/sp/common/img/detail/icon_stock.gif) no-repeat left center;		background-size:14px 14px;	padding:0 0 0 18px;	}
	.item_detail_items_table_body_info					{	display:table-cell;		width:auto;		vertical-align:middle;		padding:10px 10px 10px 0px;	font-size:1.1em;	}
	.item_detail_items_table_body_info_price			{	display:block;			padding:0 0 5px 0;	}
	.item_detail_items_table_body_info_price dt			{	display:inline-block;	padding:0 0 3px 0;	font-weight:bold;	font-size:1.7em;	}
	.item_detail_items_table_body_info_price dd			{	display:inline-block;	padding:0 0 3px 0;	font-weight:bold;	font-size:0.9em;	}
	.item_detail_items_table_body_info_price_web		{	color:#000000;			}
	.item_detail_items_table_body_info_price_jam		{	color:#d96500;			}
	
	.item_detail_items_table_body_info_price_delete		{	text-decoration:line-through;	}
	.item_detail_items_table_body_info_price_update		{	color:#cc3333;			}
	.item_detail_items_table_body_info_form				{	display:table;			}
	.item_detail_items_table_body_info_form dt			{	display:table-cell;		vertical-align:middle;	padding:0 10px 0 0;	}
	.item_detail_items_table_body_info_form dd			{	display:table-cell;		vertical-align:middle;	}
	.item_detail_items_table_body_info_form select		{	vertical-align:middle;	height:35px;	background-color:#ffffff;	border:1px solid #d9d9d9;	}
	.item_detail_items_table_body_info_form input		{	vertical-align:middle;	height:35px;	width:140px;				background:url(/sp/common/img/detail/bt_cart.gif) no-repeat left top;	background-size:140px 35px;	}

	/*
	<div class="item_detail_items_table"> 
		<ul class="item_detail_items_table_header">
			<li class="item_detail_items_table_header_date">16:00開場<br>17:00開演</li>
			<li class="item_detail_items_table_header_seat">S席</li>
		</ul>
		<ul class="item_detail_items_table_body">
			<li class="item_detail_items_table_body_status"><span class="item_detail_items_table_body_status_stock">空席あり</span></li>
			<li class="item_detail_items_table_body_info">
				<div class="item_detail_items_table_body_info_price">
					<dl class="item_detail_items_table_body_info_price_web"><dt>&yen;35,000</dt><dd>&nbsp;(通常価格)</dd></dl>
					<dl class="item_detail_items_table_body_info_price_jam"><dt></dt><dd>※JAM SESSION会員割引対象外</dd></dl>
				</div>											
				<form class="item_detail_items_table_body_info_form" method="POST" action="">
					<input type="hidden" name="form_id" value="ticket_0002_item_001" />
					<dl>
						<dt>
							<select name="form_cart">
								<option value="-">-</option>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							</select>
						</dt>
						<dd><input type="submit" value="" /></dd>
					</dl>
				</form>
			</li>
		</ul>
	</div>
	*/

	#item_detail_body_inner_title				{	padding:10px 15px;			line-height:1.5em;			color:#000000;	font-weight:bold;	font-size:1.6em;	}
	#item_detail_body_inner_text				{	padding:0 15px 5px 15px;	line-height:1.5em;			color:#000000;	font-weight:normal;	font-size:1.4em;	}
	.item_detail_body_inner_block				{	padding:20px 10px;			}
	.item_detail_body_inner_block_title			{	padding:8px 10px 7px 10px;	background-color:#f7f7f7;	border-bottom:1px solid #d9d9d9;	border-left:5px solid #003458;	}
	.item_detail_body_inner_block_text			{	padding:10px 5px 0 10px;	line-height:1.5em;			color:#000000;	font-weight:normal;	font-size:1.4em;	}

	.item_detail_body_inner_block_text table	{	padding:0 0 5px 0;	}
	.item_detail_body_inner_block_text td		{	text-align:left;					padding:0 0 5px 0;	}
	.item_detail_body_inner_block_text hr		{	border-bottom:1px solid #d9d9d9;	padding:0 0 5px 0;	margin:0 0 5px 0;	height:1px;		background-color:transparent;	}


	/*
	<div class="item_detail_body_inner">
		<h1 id="item_detail_body_inner_title">新たな試みに挑戦し続けるジャズ界の巨匠。クラブでの1日、1回限りのプレミアム公演。</h1>
		<p  id="item_detail_body_inner_text">2008年にはジョニ・ミッチェルへのオマージュ作品『リヴァー』が最優秀アルバム賞を受賞（ジャズ関連ディスクでは約45年ぶり）したハービー・ハンコック、1ショウのみのクラブ公演が9月に行われる。アコースティック・ジャズの真髄『処女航海』や『スピーク・ライク・ア・チャイルド』、ジャズ・ファンクの先駆『ヘッド・ハンターズ』、ヒップ・ホップをいち早く取り入れた『フューチャー・ショック』等、無数の金字塔を打ち立ててきたカリスマ。これまで14回グラミー賞を獲得し、2011年からはユネスコ大使としてもジャズの普及・啓蒙に力を注いでいる。現在のハービーをクラブで体験できる機会は世界的にも希少、まさに、プレミアムなひとときとなること間違いなしだ。</p>
		<div class="item_detail_body_inner_block">
			<h2 class="item_detail_body_inner_block_title">メンバー</h2>
			<p  class="item_detail_body_inner_block_text">ハービー・ハンコック（ピアノ）, ヴィニー・カリウタ（ドラムス）, ジェイムス・ジナス（ベース）, リオーネル・ルエケ（ギター）</p>
		</div>
		<div class="item_detail_body_inner_block">
			<h2 class="item_detail_body_inner_block_title">見出し</h2>
			<p  class="item_detail_body_inner_block_text">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
		</div>
	</div>
	*/


	.item_detail_banner			{	padding:15px 10px 10px 10px;	border-bottom:1px solid #d9d9d9;	background-color:#ffffff;		}
	.item_detail_banner	a		{	display:block;	}
	.item_detail_banner img		{	width:100%;		}
	/*
	<aside>
		<div class="item_detail_banner">
			<a href=""><img src="/sp/common/img/detail/banner_detail.jpg" /></a>
		</div>
	</aside>
	*/

	/* ---------------------------- */
	/* ---------------------------- */
	/* TICKET */
	/* ---------------------------- */
	/* ---------------------------- */
	#item_detail_ticket_items						{	display:block;			}
	#item_detail_ticket_about						{	display:none;			}

	#item_detail_ticket_items_inner					{	border-bottom:none !important;	}

	.item_detail_ticket_wrap_open					{	display:block;			padding:14px 10px;	background-color:#ffffff;	border-bottom:1px solid #d9d9d9;	}
	.item_detail_ticket_wrap_close					{	display:block;			padding:14px 10px;	background-color:#f7f7f7;	border-bottom:1px solid #d9d9d9;	}
	.item_detail_ticket_list						{	display:table;			width:100%;			}
	.item_detail_ticket_info						{	display:table-cell;		width:auto;			vertical-align:middle;	}
	.item_detail_ticket_info_table					{	display:table;			}
	.item_detail_ticket_info_table_date				{	display:table-cell;		color:#000000;		font-size:1.0em;			font-weight:bold;		padding:0 5px 0 0;	}
	.item_detail_ticket_info_table_venue			{	padding:0;				color:#000000;		font-size:1.0em;			font-weight:normal;		}
	.item_detail_ticket_info_place					{	display:inline-block;	color:#0b3764;		font-size:1.4em;			font-weight:bold;		}
	.item_detail_ticket_info_status_open			{	display:table-cell;		width:75px;			font-size:0.9em; 			font-weight:bold;		text-align:center;	vertical-align:middle;	line-height:1.2em;	color:#666666;	 }
	.item_detail_ticket_info_status_close			{	display:none;			width:75px;			font-size:0.9em;			font-weight:bold;		text-align:center;	vertical-align:middle;	line-height:1.2em;	color:#666666;	 }
	.item_detail_ticket_info_status_reserved		{	display:table-cell;		width:75px;			font-size:0.9em;			font-weight:bold;		text-align:center;	vertical-align:middle;	line-height:1.2em;	color:#cc3333;	 }
	.item_detail_ticket_info_status_open img		{	width:75px;				}
	.item_detail_ticket_info_status_close img		{	width:75px;				}

	.item_detail_ticket_items						{	display:none;			padding:0;			background-color:#ffffff;	border-bottom:1px solid #d9d9d9;	}

	.item_detail_ticket_items_table_body_status		{	display:table-cell;		width:30%;			vertical-align:top;			padding:10px 0px 10px 10px;	font-size:1.1em;	line-height:1.2em;	}
	.item_detail_ticket_items_table_body_info		{	display:table-cell;		width:auto;			vertical-align:top;			padding:10px 10px 10px 0px;	font-size:1.1em;	}
	.item_detail_ticket_items_table_body_info dt	{	display:inline-block;	padding:0 0 3px 0;	font-weight:bold;			font-size:1.7em;	}
	.item_detail_ticket_items_table_body_info dd	{	display:inline-block;	padding:0 0 3px 0;	font-weight:bold;			font-size:0.9em;	}
	.item_detail_ticket_items_table_place			{	display:table;			width:100%;			background-color:#fafafa;	border-bottom:1px solid #d9d9d9;		}
	.item_detail_ticket_items_table_place_info		{	display:table-cell;		width:auto;			vertical-align:middle;		padding:8px 10px;			font-size:1.4em;	font-weight:bold;	}
	.item_detail_ticket_items_table_place_anchor	{	display:table-cell;		width:auto;			vertical-align:middle;		padding:8px 10px;			font-size:1.2em;	}	
	.item_detail_ticket_items_table_place_anchor a	{	padding:2px 0 2px 16px;	color:#0b3764;		font-size:1.0em;			display:inline-block;		background:url(/sp/common/img/detail/icon_place.gif) no-repeat left center;		background-size:11px 14px;		}
	.item_detail_ticket_items_table_list			{	padding:15px;			}
	.item_detail_ticket_items_table_list dl			{	padding:0 0 3px 0;		border-bottom:1px solid #d9d9d9;				}
	.item_detail_ticket_items_table_list dt			{	padding:0 0 2px 0;		color:#666666;		font-size:1.0em;			}
	.item_detail_ticket_items_table_list dd			{	padding:0 0 12px 0;		color:#000000;		font-size:1.3em;			}
	.item_detail_ticket_items_table_list a			{	padding:0 15px 0 0;		color:#1a4d80;		text-decoration:underline;	display:inline-block;		background:url(/sp/common/img/detail/icon_brank.gif) no-repeat right center;	background-size:11px 10px;		}
	.item_detail_ticket_items_table_map				{	padding:0 15px 15px 15px;	}
	.item_detail_ticket_items_table_map img			{	width:100%;	}



	/*
	<div class="item_detail_ticket_wrap">
		<div class="item_detail_ticket_list">
			<div class="item_detail_ticket_info">
				<ul>
					<li class="item_detail_ticket_info_date">2014 8.22(金)</li>
					<li class="item_detail_ticket_info_venue">愛知/名古屋</li>
				</ul>
				<h1 class="item_detail_ticket_info_place">名古屋ブルーノート</h1>
			</div>
			<ul class="item_detail_ticket_status">
				<li>
					<p class="item_detail_ticket_status_comingsoon">発売前</p>
					<p class="item_detail_ticket_status_comingsoon_txt">2014 00.00 発売予定</p>
				</li>
			</ul>
		</div>
	</div>
	<aside>
		<div class="item_detail_ticket_items_table" id="ticket_0001_info"> 
			<ul class="item_detail_ticket_items_table_place">
				<li class="item_detail_ticket_items_table_place_info">会場情報</li>
			</ul>
			<div class="item_detail_ticket_items_table_list">
				<dl>
					<dt>会場名</dt>
					<dd>名古屋ブルーノート</dd>
					<dt>所在地</dt>
					<dd>〒460-0003 愛知県名古屋市中区錦3丁目22-20 ダイエティックサカエ</dd>
					<dt>お問い合わせ</dt>
					<dd>052-961-6311</dd>
					<dt>営業時間</dt>
					<dd>11:00am - 8:00pm ※土日祝は00:00am - 00:00pm</dd>
					<dt>会場URL</dt>
					<dd><a href="http://www.seagaia.co.jp/" target="_brank" class="item_detail_ticket_table_info_list_link">http://www.seagaia.co.jp/</a></dd>
				</dl>
				<div class="item_detail_ticket_items_table_list_map"><img src="/img/artist/000001/img.jpg" /></div>
			</div>
		</div>
	</aside>
	*/


	#item_detail_giftcard				{	background-color:#000000;	padding:0 0 25px 0;		}
	#item_detail_giftcard_image			{	padding:0 0 20px 0;			}
	#item_detail_giftcard_image	img		{	width:100%;					}
	#item_detail_giftcard_message		{	padding:0 10px 10px 10px;	}
	#item_detail_giftcard_message img	{	width:300px;				}
	#item_detail_giftcard_text			{	padding:0 15px;		color:#ffffff;		font-size:1.4em;	line-height:1.5em;	}
	/*
	<div id="item_detail_giftcard">
		<div id="item_detail_giftcard_image">
			<img src="/sp/common/img/detail/giftcard_image.jpg" />
		</div>
		<div id="item_detail_giftcard_message">
			<img src="/sp/common/img/detail/giftcard_title.gif" />
		</div>
		<div id="item_detail_giftcard_text">
			<p>大切な人への感謝の気持ちを込めて、ジャズクラブでのひとときをプレゼントしたい。</p>
			<p>そんな皆様のご要望にお応えして、ブルーノート東京、コットンクラブ、モーション・ブルー・ヨコハマの3店舗にてご利用いただけるGift Cardが誕生いたしました。</p>
			<p>お誕生日、結婚記念日、成人式などの節目や、日頃の感謝の想いを伝えたい時など、ぜひご利用ください。</p>
		</div>
	</div>
	*/

	#item_detail_body_inner_block_black_gift		{	padding:15px;		border-radius:5px;	background-color:#000000;		}
	#item_detail_body_inner_block_title_gift		{	padding:0 0 5px 0;	color:#ebd5d6;		font-size:1.4em;	font-weight:bold;	}
	#item_detail_body_inner_block_text_gift			{	padding:0 0 0 20px;	color:#ffffff;		font-size:1.4em;	line-height:1.5em;	list-style-position:outside;	list-style-type:decimal;	}
	#item_detail_body_inner_block_link_gift			{	padding:10px 0;		text-align:right;	}
	#item_detail_body_inner_block_link_gift	a		{	padding:0;			color:#1a4d80;		text-decoration:underline;		}
	/*
	<div id="item_detail_body_inner_block_black_gift">
		<h2 id="item_detail_body_inner_block_title_gift">[カードのご使用方法]</h2>
		<ul id="item_detail_body_inner_block_text_gift">
			<li>Gift Cardにご希望の金額をチャージして下さい。</li>
			<li>このカードをご使用いただくことによりブルーノート東京、コットンクラブ、モーション・ブルー・ヨコハマの3店舗にて、ミュージックチャージ、ご飲食代などをお支払いいただけます。</li>
		</ul>
	</div>
	<div id="item_detail_body_inner_block_link_gift">
		<a href="/sp/giftcard/policy/">ギフトカード利用約款はこちら</a>
	</div>
	*/


	.item_detail_body_inner_block_text_box			{	padding:5px 0 10px 0;	}
	.item_detail_body_inner_block_text_box h3		{	padding:0 0 5px 0;		color:#000000;		font-size:1.2em;	line-height:1.5em;	font-weight:bold;	}
	.item_detail_body_inner_block_text_box p		{	padding:0 0 5px 0;		color:#000000;		font-size:1.2em;	line-height:1.5em;	font-weight:normal;	}
	.item_detail_body_inner_block_text_box a		{	color:#1a4d80;			text-decoration:underline;	}
	/*
	<div class="item_detail_body_inner_block_text_box">
		<h3>Q4. Gift Cardの残高はどうやって確認することができますか？</h3>
		<p>RECEIPT・・・ギフトカードご利用の際、レシートに残高が記載されます。</p>
		<p>SHOP・・・ギフトカード取扱店の掲示のある店頭にてお尋ねいただければ、残高の確認をいたします。</p>
		<p>WEBSITE・・・<a href="/sp/login/">ログインページ</a>よりご利用残高をご確認いただけます。</p>
	</div>
	*/