@charset "utf-8";

#jam_entry_header					{	background-color:#ffffff;	padding:20px;	 		}
#jam_entry_header_title				{	text-align:center; 			padding:0 0 15px 0;		}
#jam_entry_header_copy				{	text-align:center; 			padding:0 0 15px 0;		font-size:1.6em;	line-height:1.5em;	color:#003458;	font-weight:bold;	}
#jam_entry_header_card				{	text-align:center; 			padding:0 0 10px 0;		}
#jam_entry_header_text				{	text-align:left; 			padding:0 0 15px 0;		font-size:1.3em;	line-height:1.5em;	color:#000000;	}
#jam_entry_header_title img			{	width:238px;	height:57px;	}
#jam_entry_header_card img			{	width:185px;	height:135px;	}
#jam_entry_header_box				{	border:1px solid #b3b3b3;	padding:1px;			}
#jam_entry_header_box_inner			{	border:1px solid #b3b3b3;	padding:10px;			}
#jam_entry_header_box_inner_title	{	text-align:center; 	padding:0 0 10px 0;	font-size:1.4em;	line-height:1.5em;	color:#003458;	font-weight:bold;	}
#jam_entry_header_box_inner_text	{	text-align:left; 	padding:0 5px;		font-size:1.0em;	line-height:1.5em;	color:#666666;	}


/*
<div id="jam_entry_header">
	<h1  id="jam_entry_header_title"><img src="/sp/common/img/entry/jam_entry_header_title.gif" /></h1>
	<p   id="jam_entry_header_copy">ジャズを、音楽を愛する皆様のための<br>ブルーノート東京メンバーズ・クラブ<br>&quot;JAM SESSION&quot;</p>
	<div id="jam_entry_header_card"><img src="/sp/common/img/entry/jam_entry_header_card.jpg" /></div>
	<p   id="jam_entry_header_text">オリジナル・グッズを10〜20%の割引価格でご購入いただけます。<br>また、ブルーノート東京オフィシャルサイトでの公演チケット会員先行予約やミュージック・チャージOFFなど、ブルーノート東京をお楽しみいただくための特典が満載の“JAM SESSION”に、ぜひご入会ください。</p>
	<div id="jam_entry_header_box">
		<div id="jam_entry_header_box_inner">
			<h2  id="jam_entry_header_box_inner_title">入会費：&yen;1,000（税別・初年度のみ）<br>年会費：&yen;3,500（税別）</h2>
			<div id="jam_entry_header_box_inner_text">※新規ご入会のお客様、既にご入会済みのお客様とともにクレジットカード情報の登録が必要となります。</div>
		</div>
	</div>
</div>
*/

#jam_entry_body								{	background-color:#000000;		padding:20px 20px 30px 20px;	color:#ffffff;			}
#jam_entry_body_title						{	font-size:1.8em;	font-weight:bold;		color:#a9903b;	text-align:center;		background:url(/sp/common/img/entry/jam_entry_body_title_bg.gif) repeat-x right center;		vertical-align:middle;	}
#jam_entry_body_title span					{	background-color:#000000;		padding:0 10px;	display:inline-block;	}
#jam_entry_body_list						{	padding:25px 0;		list-style:none;	}
#jam_entry_body_list li						{	background-color:#37352f;		padding:10px 10px 10px 55px;	margin:0 0 5px 0;		list-style:none;	}
#jam_entry_body_list_01						{	background-size:20px 35px; 		background-image:url(/sp/common/img/entry/jam_entry_body_list_01.gif);	background-position:20px center;	background-repeat:no-repeat;	}
#jam_entry_body_list_02						{	background-size:20px 35px; 		background-image:url(/sp/common/img/entry/jam_entry_body_list_02.gif);	background-position:20px center;	background-repeat:no-repeat;	}
#jam_entry_body_list_03						{	background-size:20px 35px; 		background-image:url(/sp/common/img/entry/jam_entry_body_list_03.gif);	background-position:20px center;	background-repeat:no-repeat;	}
.jam_entry_body_list_inner					{	padding:10px 10px 10px 15px;	border-left:1px solid #5f5d59;	}
.jam_entry_body_list_title					{	font-size:1.6em;	font-weight:normal;	color:#f6df92;		line-height:1.5em;		padding:0 0 5px 0;		}
.jam_entry_body_list_title span				{	display:block;		font-size:0.8em;	line-height:1.2em;	}
.jam_entry_body_list_text					{	font-size:1.1em;	font-weight:normal;	color:#ffffff;		line-height:1.5em;		}
#jam_entry_body_subtitle					{	font-size:1.0em;	font-weight:normal;	color:#a9903b;		padding:0 0 20px 0;	}
.jam_entry_body_subtitle_small				{	font-size:1.2em;	line-height:1.5em;	display:block;		text-align:center;		font-weight:normal;	}
.jam_entry_body_subtitle_big				{	font-size:1.5em;	line-height:1.5em;	display:block;		text-align:center;		font-weight:bold;	}
#jam_entry_body_list_blue					{	background-color:#003458;	padding:15px 15px 10px 15px;		}
#jam_entry_body_list_blue_list_01			{	border-bottom:1px solid #5f5d59;		margin:0 0 15px 0;	}
#jam_entry_body_list_blue_list_01 dt 		{	font-size:1.4em;	font-weight:normal;	color:#f6df92;		line-height:1.25em;		padding:0 0 0 50px;	height:40px;	display:table-cell;		vertical-align:middle;		}
#jam_entry_body_list_blue_list_01 dt span	{	display:block;		font-size:0.9em;	line-height:1.5em;	}
#jam_entry_body_list_blue_list_01 dd 		{	font-size:1.0em;	font-weight:normal;	color:#ffffff;		line-height:1.5em;		padding:10px 0 15px 0;		}
#jam_entry_body_list_blue_list_01_01		{	background-size:40px 40px; 		background-image:url(/sp/common/img/entry/jam_entry_body_list_04.gif);	background-position:left top;	background-repeat:no-repeat;	}
#jam_entry_body_list_blue_list_01_02		{	background-size:40px 40px; 		background-image:url(/sp/common/img/entry/jam_entry_body_list_05.gif);	background-position:left top;	background-repeat:no-repeat;	}
#jam_entry_body_list_blue_list_01_03		{	background-size:40px 40px; 		background-image:url(/sp/common/img/entry/jam_entry_body_list_06.gif);	background-position:left top;	background-repeat:no-repeat;	}
.jam_entry_body_list_blue_list_02			{	display:table;			width:100%;		color:#cccccc;		}
.jam_entry_body_list_blue_list_02 dt		{	display:table-cell;		width:30px;		vertical-align:top;	padding:0 0 5px 0;	}
.jam_entry_body_list_blue_list_02 dd		{	display:table-cell;		width:auto;		vertical-align:top;	padding:0 0 5px 0;	}
/*
<div id="jam_entry_body">
	<h1	id="jam_entry_body_title"><span>JAM SESSION会員特典</span></h1>
	<ul id="jam_entry_body_list">
		<li id="jam_entry_body_list_01">
			<div class="jam_entry_body_list_inner">
				<p class="jam_entry_body_list_title"><span>ブルーノート東京オリジナル・グッズ</span>10〜20% OFF</p>
				<p class="jam_entry_body_list_text">オリジナル・グッズを割引価格でご購入いただけます。</p>
			</div>
		</li>
		<li id="jam_entry_body_list_02">
			<div class="jam_entry_body_list_inner">
				<p class="jam_entry_body_list_title">最新情報をいち早くお届け</p>
				<p class="jam_entry_body_list_text">ブルーノート東京の最新情報をPR誌、ダイレクト・メール、メールマガジンなどでいち早くお届けします。</p>
			</div>
		</li>
		<li id="jam_entry_top_image_list_03">
			<div class="jam_entry_body_list_inner">
				<p class="jam_entry_body_list_title">会員限定特別イベントなど</p>
				<p class="jam_entry_body_list_text">その他、JAM SESSION会員限定の特別イベントなどを予定。随時ご案内いたします。</p>
			</div>
		</li>
	</ul>
	<p id="jam_entry_body_subtitle">
		<span class="jam_entry_body_subtitle_small">さらに、JAM SESSION会員の方は、</span>
		<span class="jam_entry_body_subtitle_big">ブルーノート東京オフィシャルサイトで</span>
		<span class="jam_entry_body_subtitle_big">お使いいただける特典が満載！</span>
	</p>
	<div id="jam_entry_body_list_blue">
		<dl id="jam_entry_body_list_blue_list_01">
			<dt id="jam_entry_body_list_blue_list_01_01">JAM SESSION会員先行予約</dt>
			<dd>一般予約受付開始日の一週間前より（一部公演を除く）JAM SESSION会員先行予約受付を開始。※1</dd>
			<dt id="jam_entry_body_list_blue_list_01_02">ミュージック・チャージ10%OFF<span>（¥10,800以下の公演）</span></dt>
			<dd>月曜日から木曜日まで、ミュージック・チャージが10%OFFに。※2</dd>
			<dt id="jam_entry_body_list_blue_list_01_03">招待状プレゼント<span>（ミュージック・チャージ無料）</span></dt>
			<dd>来店ポイントが7ポイント貯まったら、招待状（ミュージック・チャージ無料）をプレゼント！※3</dd>
		</dl>
		<dl id="jam_entry_body_list_blue_list_02">
			<dt>[※1]</dt>
			<dd>●各ステージ、お一人様の予約数はご本人様を含め8名様までとさせていただきます。 ●会員先行予約受付期間中の、各ステージ予約受付数は100名様まで。100名を超えた場合は、一般予約受付開始日に改めてご予約いただきますようお願いいたします。</dd>
			<dt>[※2]</dt>
			<dd>●各ステージのJAM SESSION会員予約枠は100名様まで、100名を超えた場合は一般料金とさせていただきます。 ●ミュージック・チャージ￥10,800以下の公演を割引の対象とさせていただきます。 ●割引の対象となるのは会員ご本人様のみ。お連れ様は一般料金となります。</dd>
			<dt>[※3]</dt>
			<dd>●対象は会員ご本人様のみ。1回のご来店につき１ポイント加算されます。 ●来店回数ポイント（ステージ入場回数）は会員有効期限が切れるまで加算されます。更新後もポイントは継続となります。 ●招待状は使用期限がございます。他の割引特典を利用されてのご来店は、来店ポイントとしてカウントされません。</dd>
		</dl>
	</div>
</div>
*/

.jam_entry_form							{	background-color:#ffffff;	padding:15px;		}


#jam_entry_form_newentry				{	border:1px solid #d9d9d9;	margin:5px 0 0 0;	}
#jam_entry_form_newentry_title			{	padding:5px;				font-size:1.4em;	font-weight:normal;		line-height:1.5em;		color:#ffffff;		background-color:#000000;	text-align:center;	}
#jam_entry_form_newentry_body			{	background-color:#f5f5f5;	padding:15px;		}
#jam_entry_form_newentry_body p			{	padding:0 0 15px 0;			font-size:1.3em;	font-weight:normal;		line-height:1.5em;		}
#jam_entry_form_newentry_body_bt1		{	text-align:center;	}
#jam_entry_form_newentry_body_bt1 img	{	width:260px;		height:50px;	}
#jam_entry_form_newentry_body_bt2		{	text-align:left;	}
#jam_entry_form_newentry_body_bt2 a		{	padding:5px 0 0 0;	font-size:1.2em;	line-height:1.5em;	color:#003458;	text-decoration:underline;	}

/*
<div class="jam_entry_form">
	<div id="jam_entry_form_newentry">
		<h1 id="jam_entry_form_newentry_title">JAM SESSIONに新規入会される方 / 店頭で会員登録され、当サイトを初めてご利用の方</div>
		<div id="jam_entry_form_newentry_body">
			<p>登録はPCメールアドレスをご利用ください。携帯電話、PHSのメールアドレスではご登録いただけません。ご了承ください。</p>
			<div id="jam_entry_form_newentry_body_bt1">
				<a href="/entry/jam/form.html"></a>
			</div>
			<div id="jam_entry_form_newentry_body_bt2">
				<a href="/entry/jam/form.html">店頭で会員登録され、当サイトを初めてご利用の方はこちら</a>
			</div>
		</div>
	</div>
</div>
*/

#jam_entry_form_update					{	border:1px solid #d9d9d9;	margin:5px 0 0 0;	}
#jam_entry_form_update_title			{	padding:5px;				font-size:1.4em;	font-weight:normal;		line-height:1.5em;		color:#ffffff;		background-color:#828b99;	text-align:center;	}
#jam_entry_form_update_body				{	background-color:#f5f5f5;	padding:15px;		}
#jam_entry_form_update_body p			{	padding:0 0 15px 0;			font-size:1.3em;	font-weight:normal;		line-height:1.5em;		}
#jam_entry_form_update_form				{	background-color:#f5f5f5;	padding:0;			}
#jam_entry_form_update_form_address		{	display:block;		background-color:#ffffff;	border:1px solid #d9d9d9;	width:100%;			font-size:1.3em;	padding:5px;	margin:0 0 5px 0;	}
#jam_entry_form_update_form_password	{	display:block;		background-color:#ffffff;	border:1px solid #d9d9d9;	width:100%;			font-size:1.3em;	padding:5px;	margin:0 0 5px 0;	}
#jam_entry_form_update_form_forget		{	display:block;		font-size:1.2em;			text-decoration:underline;	line-height:1.5em;	color:#003458;		margin:0 0 10px 0;	}
#jam_entry_form_update_form_table		{	display:table;		width:100%;					}
#jam_entry_form_update_form_label		{	display:table-cell;	vertical-align:middle;		width:auto;		height:40px;	font-size:1.3em;	}
#jam_entry_form_update_form_input		{	display:table-cell;	vertical-align:middle;		width:105px;	height:40px;		}
#jam_entry_form_update_form_input input	{	width:105px;		height:40px;				}
/*
<div class="jam_entry_form">
	<div id="jam_entry_form_update">
		<h1 id="jam_entry_form_update_title">無料会員から新規入会される方 / 更新のお手続きをされる方</h1>
		<div id="jam_entry_form_update_body">
			<p>ご登録のメールアドレス・パスワードを入力してログインしてください。</p>
			<form id="jam_entry_form_update_form">
				<input id="jam_entry_form_update_form_address" name="address" type="text" placeholder="ID(メールアドレス)" value="">
				<input id="jam_entry_form_update_form_password" name="password" type="text" placeholder="パスワード" value="">
				<a id="jam_entry_form_update_form_forget" href="/sp/login/check.html">パスワードをお忘れの方</a>
				<div id="jam_entry_form_update_form_table">
					<label id="jam_entry_form_update_form_label">
						<input id="jam_entry_form_update_form_check" name="check" type="checkbox">&nbsp;次回から入力を省略
					</label>
					<div id="jam_entry_form_update_form_input">
						<input type="image" src="/sp/common/img/entry/bt_login.gif">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
*/


.jam_entry_block_sublist			{	padding:0 0 5px 0;		list-style:none;	}
.jam_entry_block_sublist_title		{	padding:0 0 5px 15px;	font-size:1.3em;	font-weight:bold;	line-height:1.5em;	color:#000000;	background:url(/sp/common/img/entry/icon_jam_entry_01.gif) left 2px no-repeat;	background-size:10px 10px; 	}
.jam_entry_block_sublist_item_1		{	padding:0 0 3px 25px;	font-size:1.0em;	font-weight:normal;	line-height:1.5em;	color:#000000;	background:url(/sp/common/img/entry/icon_jam_entry_02.gif) 12px 2px no-repeat;	background-size:10px 10px; 	}
.jam_entry_block_sublist_item_2		{	padding:0 0 3px 25px;	font-size:1.3em;	font-weight:normal;	line-height:1.5em;	color:#000000;	background:url(/sp/common/img/entry/icon_jam_entry_03.gif) 12px 3px no-repeat;	background-size:10px 10px; 	}
.jam_entry_block_sublist_item_3		{	padding:0 0 3px 15px;	font-size:1.3em;	font-weight:normal;	line-height:1.5em;	color:#000000;	}
/*
<dl class="jam_entry_block_sublist">
	<dt class="jam_entry_block_sublist_title">入会費／年会費： 入会費 &yen;1,000（税別）／ 年会費 &yen;3,500（税別）</dt>
	<dd class="jam_entry_block_sublist_item_1">次回継続更新時は年会費のみのお支払いとなります。</dd>
	<dd class="jam_entry_block_sublist_item_1">更新手続きは、有効期限日の60日前より受け付けます。</dd>
</dl>
*/