@charset "utf-8";

#main_content {
	margin-bottom: 15px;
	border-bottom: 1px solid #d9d9d9;
	background-color: #ffffff;
}
#main_content .category_title {
	border-top: 1px solid #d9d9d9;
	border-bottom: 3px double #d9d9d9;
	font-size: 1.4em;
}
#main_content .category_title:first-child { border-top: none; }
#main_content .category_title a {
	display: block;
	padding: 12px 10px 10px;
	color: #000000;
}
#main_content .link_list {
	list-style: none;
	padding-left: 40px;
}
#main_content .link_list li { border-top: 1px solid #d9d9d9; }
#main_content .link_list li:first-child { border-top: none; }
#main_content .link_list li a {
	display: block;
	position: relative;
	padding: 15px 30px 12px 0;
	color: #0b3764;
	font-size: 1.3em;
}
#main_content .link_list li a:after {
	content: '';
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	width: 8px;
	height: 13px;
	margin-top: -6px;
	background-image: url(../common/img/block/icon_arrow.gif);
	background-size: 100% auto;
}



#main_content .guide_block { border-top: 1px solid #d9d9d9; }
#main_content .guide_block:first-child { border-top: none; }
#main_content .guide_block_title {
	line-height: 1.4;
	margin-bottom: 15px;
	padding: 12px 10px 10px;
	border-bottom: 3px double #d9d9d9;
	color: #003458;
	font-size: 1.6em;
}
#main_content .guide_block_title > span {
	color: #666666;
	font-size: 0.75em;
	font-weight: normal;
}
#main_content .guide_block_inner { padding: 0 15px 20px; }
#main_content .guide_block_sub_title {
	margin: 0 -5px 10px;
	border-left: 5px solid #003458;
	background-color: #f7f7f7;
	font-size: 1.4em;
}
#main_content .guide_block_sub_title > span {
	display: block;
	padding: 7px 10px 5px 7px;
	border-bottom: 1px solid #d9d9d9;
}
#main_content .guide_block_inner ul { list-style: none; }
#main_content .guide_block_inner a {
	color: #1a4d80;
	text-decoration: underline;
}
#main_content .guide_block_inner .bold { font-weight: bold; }
#main_content .guide_block_inner .text {
	line-height: 1.5;
	font-size: 1.3em;
}
#main_content .guide_block_inner .caption {
	position: relative;
	line-height: 1.5;
	padding-left: 1em;
	color: #666666;
}
#main_content .guide_block_inner .caption:before {
	content: '※';
	position: absolute;
	top: 0;
	left: 0;
}

#main_content .guide_block_inner .mb05 { margin-bottom: 5px; }
#main_content .guide_block_inner .mb15 { margin-bottom: 15px; }