@charset "utf-8";

#item_list_header		{	background-color:#f7f7f7;	border-bottom:1px solid #d9d9d9;	padding:10px 8px;	}
#item_list_tab			{	border-radius:5px;			border:1px solid #003458;	overflow:hidden;	}
#item_list_tab ul		{	display:table;		width:100%;		list-style:none;	}
#item_list_tab li		{	display:table-cell;	width:50%;		text-align:center;	}
#item_list_tab span		{	display:block;		padding:8px 0;	text-align:center; 	font-size:1.2em;	font-weight:bold;	color:#ffffff;	background-color:#003458;	}
#item_list_tab a		{	display:block;		padding:8px 0;	text-align:center; 	font-size:1.2em;	font-weight:bold;	color:#003458;	background-color:#f7f7f7;	}
/*
<div class="item_list_tab">
	<ul>
		<li><a href="">エリアで探す</a></li>
		<li><a href="">アーティスト名で探す</a></li>
	</ul>
</div>
*/


.item_list_box									{	}
.item_list_box_inner							{	border-bottom:1px solid #d9d9d9;	}
.item_list_box_link								{	display:block;				position:relative;			padding:0 10px;	}
.item_list_box_open								{	background-color:#ffffff;	}
.item_list_box_zero								{	background-color:#ffffff;	}
.item_list_box_close							{	background-color:#f7f7f7;	}
.item_link_box_kana								{	background-color:#f7f7f7;	}

.item_list_box_table							{	display:table;				width:100%;		}
.item_list_box_table_region						{	display:table-cell;			width:35%;		padding:15px 0;				vertical-align:middle;	font-size:1.4em;	color:#003458;	font-weight:bold;		}
.item_list_box_table_area						{	display:table-cell;			width:auto;		padding:15px 20px 15px 0;	vertical-align:middle;	font-size:0.9em;	color:#666666;	line-height:1.2em;		}
.item_list_box_table_kana						{	display:table-cell;			width:auto;		padding:10px 0;				vertical-align:middle;	font-size:1.4em;	color:#000000;	font-weight:bold;		}
.item_list_box_items_area						{	background-color:#ffffff;	display:none;	}
.item_list_box_items_kana						{	background-color:#ffffff;	display:block;	}

.item_list_box_zero  .item_list_box_table		{	background:none !important;		}
.item_list_box_close .item_list_box_table		{	background:url(/sp/common/img/list/icon_ticket_items_close.gif) no-repeat right center;		background-size:16px 16px;	}
.item_list_box_open  .item_list_box_table		{	background:url(/sp/common/img/list/icon_ticket_items_open.gif) no-repeat right center;		background-size:16px 16px;	}


.item_list_box_zero .item_list_box_table_region	{	color:#999999 !important;		}

/*
<div class="item_list_box" id="hokkaido">
	<div class="item_list_box_table">
		<span class="item_list_box_table_region">北海道</span>
		<span class="item_list_box_table_area">北海道</span>
	</div>
</div>
*/

#item_list_search_header							{	background-color:#ffffff;		border-bottom:1px solid #d9d9d9;	}
#item_list_search_header a							{	display:block;	color:#000000;	padding:10px 0;	font-size:1.3em;	text-align:center;	font-weight:bold;			}
#item_list_search_header .item_list_search_close	{	background:url(/sp/common/img/list/icon_ticket_items_close.gif) no-repeat 95% center;	background-size:16px 16px;	}
#item_list_search_header .item_list_search_open		{	background:url(/sp/common/img/list/icon_ticket_items_open.gif) no-repeat 95% center;	background-size:16px 16px;	}
#item_list_search_body								{	background-color:#ffffff;		border-bottom:1px solid #d9d9d9;	text-align:center;	padding:10px 0;				}

.item_list_search_body_table						{	display:table;			margin:0 auto;	}

.item_list_search_body_cell							{	display:table-cell;		padding:5px;		font-size:1.5em;	line-height:1.0em;		font-weight:bold;			}
.item_list_search_body_cell a						{	display:block;			padding:10px;		color:#003458;		border-radius:5px;		border:1px solid #c8cacc;	background-color:#f4f4f4;	}
.item_list_search_body_cell span					{	display:block;			padding:10px;		color:#999999;		border-radius:5px;		border:1px solid #f4f4f4;	background-color:#f4f4f4;	}

.item_list_search_body_cell_other					{	display:table-cell;		padding:5px;		font-size:1.5em;	line-height:1.0em;		font-weight:bold;			}
.item_list_search_body_cell_other a					{	display:block;			padding:10px 19px;	color:#003458;		border-radius:5px;		border:1px solid #c8cacc;	background-color:#f4f4f4;	}
.item_list_search_body_cell_other span				{	display:block;			padding:10px 19px;	color:#999999;		border-radius:5px;		border:1px solid #f4f4f4;	background-color:#f4f4f4;	}


/*
<div id="item_list_search">
	<div id="item_list_search_header">
		<a href="javascript:void(0);">読み方で探す</a>
	</div>
	<div id="item_list_search_body">
		<div class="item_list_search_body_table">
			<div class="item_list_search_body_cell"><a href="javascript:void(0);">ア</a></div>
			<div class="item_list_search_body_cell"><a href="javascript:void(0);">カ</a></div>
			<div class="item_list_search_body_cell"><a href="javascript:void(0);">サ</a></div>
			<div class="item_list_search_body_cell"><span>タ</span></div>
			<div class="item_list_search_body_cell"><span>ナ</span></div>
			<div class="item_list_search_body_cell"><a href="javascript:void(0);">ハ</a></div>
		</div>
		<div class="item_list_search_body_table">
			<div class="item_list_search_body_cell"><a href="javascript:void(0);">マ</a></div>
			<div class="item_list_search_body_cell"><a href="javascript:void(0);">ヤ</a></div>
			<div class="item_list_search_body_cell"><a href="javascript:void(0);">ラ</a></div>
			<div class="item_list_search_body_cell"><span>ワ</span></div>
			<div class="item_list_search_body_cell_other"><span>その他</span></div>
		</div>
	</div>
</div>
*/


#item_list_info						{	display:table;			width:100%;						border-bottom:1px solid #d9d9d9;			background-color:#ffffff;	}
#item_list_info_title				{	display:table-cell;		width:auto;	text-align:left;	vertical-align:middle;	padding:5px 10px;	font-size:1.1em;	font-weight:bold;	}
#item_list_info_sort				{	display:table-cell;		width:auto;	text-align:right;	vertical-align:middle;	padding:5px 10px;	font-size:1.1em;	}
#item_list_info_sort_form			{	display:inline-block;	vertical-align:middle;			padding:0 0 0 5px;	}
#item_list_info_sort_form_select	{	display:inline-block;	width:auto;	height:30px;		border:1px solid #d9d9d9;					background-color:#ffffff;	}


/*
<div id="item_list_info">
	<div id="item_list_info_title">120件中 21-40件を表示</div>
	<div id="item_list_info_sort">
		並び順
		<form method="" action="" id="item_list_info_sort_form">
			<select id="item_list_info_sort_form_select" name="sort">
				<option value="">おすすめ順</option>
				<option value="">価格が安い順</option>
				<option value="">価格が高い順</option>
			</select>
		</form>
	</div>
</div>
*/

#item_list_items				{	background-color:#ffffff;	}
/*
<div id="item_list_items">
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_02.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_02.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_02.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_02.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_02.html" --></div>
	
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_03.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_03.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_03.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_03.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_03.html" --></div>
	
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
	<div class="blockarea_contents_cell_block"><!--#include virtual="/sp/common/template/_item/goods_01.html" --></div>
</div>
*/

#item_list_navi				{	display:table;			width:100%;	background-color:#ffffff;	font-size:1.3em;	}
#item_list_navi_left		{	display:table-cell;		width:75px;	vertical-align:middle;		text-align:center;	}
#item_list_navi_circle		{	display:table-cell;		width:auto;	vertical-align:middle;		text-align:center;	list-style:none;	}
#item_list_navi_right		{	display:table-cell;		width:75px;	vertical-align:middle;		text-align:center;	}

#item_list_navi_left a		{	display:block;			vertical-align:middle;	padding:10px;	color:#003458; 	}
#item_list_navi_left img	{	display:inline-block;	vertical-align:middle;	margin:0 5px;	width:9px;	height:14px;	}
#item_list_navi_right a		{	display:block;			vertical-align:middle;	padding:10px;	color:#003458; 	}
#item_list_navi_right img	{	display:inline-block;	vertical-align:middle;	margin:0 5px;	width:9px;	height:14px;	}

#item_list_navi_circle li		{	display:inline-block;	vertical-align:middle;	padding:10px 0;	}
#item_list_navi_circle a		{	display:table-cell;		vertical-align:middle;	width:30px;		height:30px;	color:#003458;	}
#item_list_navi_circle span		{	display:table-cell;		vertical-align:middle;	width:30px;		height:30px;	color:#003458;	background-color:#efefef;	}

/*
<div id="item_list_navi">
	<div id="item_list_navi_left">
		<a href="javascript:void(0);"><img src="/sp/common/img/list/panel_arrow_left.gif" />前へ</a>
	</div>
	<div id="item_list_navi_circle">
		<span><a href="javascript:void(0);">1</a></span>
		<span><a href="javascript:void(0);">2</a></span>
		<span><a href="javascript:void(0);">3</a></span>
		<span><a href="javascript:void(0);">4</a></span>
		<span><a href="javascript:void(0);">...6</a></span>
	</div>
	<div id="item_list_navi_right">
		<a href="javascript:void(0);">次へ<img src="/sp/common/img/list/panel_arrow_right.gif" /></a>
	</div>
</div>
*/


#item_list_search						{	}
#item_list_search_form_media			{	display:table;			width:100%;		background-color:#003458;	color:#ffffff;	font-size:1.2em;	}
#item_list_search_form_keyword			{	display:table;			width:100%;		background-color:#f7f7f7;	color:#000000;	font-size:1.2em;	}
#item_list_search_form_genru			{	display:table;			width:100%;		background-color:#f7f7f7;	color:#000000;	font-size:1.2em;	border-bottom:1px solid #d9d9d9;	}

.item_list_search_form_label			{	display:table-cell;		width:25%;		padding:5px 10px;	vertical-align:middle;	}
.item_list_search_form_parts			{	display:table-cell;		width:auto;		padding:5px 10px;	vertical-align:middle;	}
.item_list_search_form_parts_inner		{	position:relative;		}
.item_list_search_form_parts img		{	position:absolute;		width:18px;		height:18px;	right:6px;		top:6px;		}
.item_list_search_form_parts select		{	display:inline-block;	width:100%;		height:30px;	padding:10px;	color:#000000;	border:1px solid #d9d9d9;	background-color:#ffffff;	}
.item_list_search_form_parts input		{	display:inline-block;	width:100%;		height:30px;	padding:10px;	color:#000000;	border:1px solid #d9d9d9;	background-color:#ffffff;	}

/*
<div id="item_list_search">
	<form method="" action="" id="item_list_search_form_media">
		<div id="item_list_search_form_media">
			<div class="item_list_search_form_label">メディア</div>
			<div class="item_list_search_form_parts">
				<select name="cddvd_search_media">
					<option value="ALL">すべて</option>
					<option value="CD">CD</option>
					<option value="Blue-ray">Blue-ray</option>
					<option value="VHS">VHS</option>
					<option value="USB">USB</option>
				</select>
			</div>
		</div>
	</form>
	<form method="" action="" id="item_list_search_form_other">
		<div id="item_list_search_form_keyword">
			<div class="item_list_search_form_label">メディア</div>
			<div class="item_list_search_form_parts">
				<input name="cddvd_search" type="text" value="" />
			</div>
		</div>
		<div id="item_list_search_form_genru">
			<div class="item_list_search_form_label">ジャンル</div>
			<div class="item_list_search_form_parts">
				<select name="cddvd_search_select">
					<option value="ALL">すべて</option>
					<option value="genru1">ジャンル1</option>
					<option value="genru2">ジャンル2</option>
				</select>
			</div>
		</div>
	</form>
</div>
*/