@charset "utf-8";

.blockarea:last-child { padding-bottom: 0; }

.blockarea_contents {
	width: auto;
	height: auto;
	padding: 15px 15px 0;
	border-bottom: 1px solid #d9d9d9;
}
.blockarea_contents .item_head {
	padding-bottom: 10px;
	font-size: 1.4em;
	font-weight: bold;
}
.blockarea_contents .item_content {
	line-height: 1.5;
	padding-bottom: 25px;
	font-size: 1.3em;
}
.blockarea_contents .item_content > p { padding-bottom: 10px; }
.blockarea_contents .item_content > p:last-child { padding-bottom: 0; }
.blockarea_contents .item_content a {
	color: #1a4d80;
	text-decoration: underline;
}
.blockarea_contents .item_content .bold { font-weight: bold; }


.blockarea_contents .note_list { list-style: none; }
.blockarea_contents .note_list li {
	font-size: 1.3em;
	padding: 20px 0;
	border-top: 1px solid #d9d9d9;
}
.blockarea_contents .note_list li:first-child {
	padding-top: 0;
	border-top: none;
}