@charset "utf-8";

#main_content {
	padding: 15px 15px 0;
	border-bottom: 1px solid #d9d9d9;
	background-color: #ffffff;
}
#main_content .item_head {
	padding-bottom: 10px;
	font-size: 1.4em;
	font-weight: bold;
}
#main_content .item_content {
	line-height: 1.5;
	padding-bottom: 25px;
	font-size: 1.3em;
}
#main_content .item_content > p { padding-bottom: 10px; }
#main_content .item_content > p:last-child { padding-bottom: 0; }
#main_content .item_content a {
	color: #1a4d80;
	text-decoration: underline;
}