@charset "utf-8";

#panel								{	position:relative;		z-index:1;		}


#panel_screen						{	position:relative;		width:100%;		height:auto;	overflow:hidden; 	}
.panel_screen_image					{	position:absolute;		top:0;	left:0;	width:100%;		height:100%;		opacity:0;	display:none;}
.panel_screen_image	img				{	width:100%;		}

#panel_navi							{	position:relative;		width:100%;		height:auto;		background-color:#ffffff;	border-top:1px solid #d9d9d9;	border-bottom:1px solid #d9d9d9;	}
#panel_navi_item					{	display:table;			width:100%;		}
#panel_navi_item_arrow_left			{	display:table-cell;		width:70px;		text-align:center;	vertical-align:middle;	}
#panel_navi_item_arrow_left	a		{	display:block;			width:70px;		padding:8px 0;		}
#panel_navi_item_arrow_left	a img	{	display:inline-block;	width:9px;		height:14px;		vertical-align:middle;	}
#panel_navi_item_arrow_right		{	display:table-cell;		width:70px;		text-align:center;	vertical-align:middle;	}
#panel_navi_item_arrow_right a		{	display:block;			width:70px;		padding:8px 0;		}
#panel_navi_item_arrow_right a img	{	display:inline-block;	width:9px;		height:14px;		vertical-align:middle;	}
#panel_navi_item_circle				{	display:table-cell;		width:auto;		text-align:center;	vertical-align:middle;	background-color:#ffffff;	border-left:1px solid #d9d9d9;	border-right:1px solid #d9d9d9;	}
#panel_navi_item_circle	a			{	display:inline-block;	width:10px;		height:10px;		vertical-align:middle;	background-color:#cccccc;	margin:0 2px;	border-radius:5px;		}
#panel_navi_item_circle	a.now		{	background-color:#999999;	}

#panel_information					{	padding:10px 10px 0 10px;	}
#panel_information_inner			{	border:1px solid #cc3333;	}
#panel_information_title			{	background-color:#cc3333;	text-align:center;	font-size:1.0em;	font-weight:bold;	color:#ffffff;	}
#panel_information_text				{	background-color:#fff5eb;	text-align:left;	font-size:1.0em;	font-weight:bold;	padding:10px;	}

#panel_banner						{	padding:10px 5px;		}
#panel_banner_table					{	display:table;			width:100%;			}
.panel_banner_cell_half				{	display:table-cell;		width:50%;			}
.panel_banner_cell_half a			{	display:block;			text-align:center;	padding:0 5px;	}
.panel_banner_cell_half img			{	width:145px;			height:64px;		}
/*
<div id="panel">
	<div id="panel_screen">
		<div class="panel_screen_image"></div>
		<div class="panel_screen_image"></div>
		<div class="panel_screen_image"></div>
		<div class="panel_screen_image"></div>
		<div class="panel_screen_image"></div>
	</div>
	<div id="panel_navi">
		<div id="panel_navi_item">
			<div id="panel_navi_item_arrow_left">
				<a href="javascript:void(0);"><img src="/sp/common/img/top/panel_arrow_left.gif" /></a>
			</div>
			<div id="panel_navi_item_circle">
				<span><a href="javascript:void(0);">&nbsp;</a></span>
				<span><a href="javascript:void(0);">&nbsp;</a></span>
				<span><a href="javascript:void(0);">&nbsp;</a></span>
				<span><a href="javascript:void(0);">&nbsp;</a></span>
				<span><a href="javascript:void(0);">&nbsp;</a></span>
			</div>
			<div id="panel_navi_item_arrow_right">
				<a href="javascript:void(0);"><img src="/sp/common/img/top/panel_arrow_right.gif" /></a>
			</div>
		</div>
	</div>
	<section>
		<div id="panel_information">
			<div id="panel_information_inner">
				<h1 id="panel_information_title">重要なお知らせ</h1>
				<p id="panel_information_text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
			</div>
		</div>
	</section>
	<div id="panel_banner">
		<div id="panel_banner_table">
			<div class="panel_banner_cell_half"><a href="/sp/giftcard/"><img src="" /></a></div>
			<div class="panel_banner_cell_half"><a href="/sp/guide/"><img src="" /></a></div>
		</div>
	</div>
</div>
*/


