<!-- 000002 ////////////////////////////////////////////////// -->
<div class="item_panel cddvd">
	<div class="item_panel_pattern_img"><img src="/img/item/000004/img.jpg" /></div>
	<div class="item_panel_pattern_info">
		<ul class="item_panel_icon">
			<li class="item_panel_icon_category">CD</li>
			<li class="item_panel_icon_subcategory">アルバム</li>
		</ul>
		<h3 class="item_panel_main_title">今でもあなた今でもあ...</h3>
		<h4 class="item_panel_sub_title">和田アキ子</h4>
		<ul class="item_panel_price">
			<li class="item_panel_price_mem"><span class="item_panel_price_bold">￥1,234</span> (通常価格)</li>
			<li class="item_panel_price_jam"><span class="item_panel_price_bold">￥1,000</span> (JAM SESSION会員価格)</li>
		</ul>
	</div>
	<a class="item_panel_link" href="/cddvd/item-[0000].shtml"></a>
</div>