<!-- 000001 ////////////////////////////////////////////////// -->
<div class="item_panel gift">
	<div class="item_panel_pattern_img"><img src="/img/item/000010/img.jpg" /></div>
	<div class="item_panel_pattern_info">
		<h3 class="item_panel_main_title">カード名カード名カード名カード名</h3>
		<ul class="item_panel_price">
			<li class="item_panel_price_mem"><span class="item_panel_price_bold">￥00,000</span> (通常価格)</li>
			<li class="item_panel_price_jam">※JAM SESSION会員割引対象外</li>
		</ul>
	</div>
	<a class="item_panel_link" href="/giftcard/item-[0000].shtml"></a>
</div>