<!-- 000001 ////////////////////////////////////////////////// -->
<div class="item_panel goods">
	<div class="item_panel_pattern_img"><img src="/img/item/000009/img.jpg" /></div>
	<div class="item_panel_pattern_info">
		<h3 class="item_panel_main_title">オリジナルキャップ</h3>
		<h4 class="item_panel_sub_title">ブルーノート東京</h4>
		<ul class="item_panel_price">
			<li class="item_panel_price_mem"><span class="item_panel_price_bold">￥1,000</span> (通常価格)</li>
			<li class="item_panel_price_jam"><span class="item_panel_price_bold">￥900</span> (JAM SESSION会員価格)</li>
		</ul>
		<p class="item_panel_from">※2014 00.00(月) 発売予定</p>
	</div>
	<a class="item_panel_link" href="/goods/item-[0000].shtml"></a>
</div>