<!-- 000001 ////////////////////////////////////////////////// -->
<div class="item_panel goods">
	<div class="item_panel_pattern_img"><img src="/img/item/000006/img.jpg" /></div>
	<div class="item_panel_pattern_info">
		<ul class="item_panel_icon">
			<li class="item_panel_icon_new">NEW</li>
		</ul>
		<h3 class="item_panel_main_title">オリジナルタオル</h3>
		<h4 class="item_panel_sub_title">ブルーノート東京</h4>
		<ul class="item_panel_price">
			<li class="item_panel_price_mem">
				<span class="item_panel_price_bold item_panel_price_delete">￥8,700〜</span> (通常価格)
				<p class="item_panel_price_update"><span>&rarr;￥7,700〜</span> (10%off)</p>
			</li>
			<li class="item_panel_price_jam">
				<span class="item_panel_price_bold item_panel_price_delete">￥7,700〜</span> (JAM SESSION会員価格)
				<p class="item_panel_price_update"><span>&rarr;￥6,700〜</span> (10%off)</p>
			</li>
		</ul>
	</div>
	<a class="item_panel_link" href="/goods/item-[0000].shtml"></a>
</div>