<div class="mypage_form_item_table">
	<div class="mypage_form_item_image"><img src="/img/item/000004/img.jpg" /></div>
	<div class="mypage_form_item_info">
		<dl class="mypage_form_item_list">
			<dt>伝票番号</dt>
			<dd>: 00000000000000000</dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>商品名</dt>
			<dd>: <a href="">オリジナルTシャツ(ホワイト)</a></dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>価格</dt>
			<dd>: &yen;2,500</dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>数量</dt>
			<dd>: 1</dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>お届け先住所</dt>
			<dd>: 〒123-4567　東京都渋谷区渋谷1-1-1 〇〇マンション123号室</dd>
		</dl>
		<div class="mypage_form_item_func">
			<a href="">配送状況の確認</a>
			<a href="/mypage/historycontact.shtml">注文取消し・返品についてのお問い合わせ</a>
		</div>
	</div>
</div>	