<div class="mypage_form_item_table">
	<div class="mypage_form_item_image"><img src="/img/artist/000001/img.jpg" /></div>
	<div class="mypage_form_item_info">
		<dl class="mypage_form_item_list">
			<dt>伝票番号</dt>
			<dd>: 1111111</dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>商品名</dt>
			<dd>: <a href="">Complete Columbia Collection</a></dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>価格</dt>
			<dd>: &yen;14,668</dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>数量</dt>
			<dd>: 2</dd>
		</dl>
		<dl class="mypage_form_item_list">
			<dt>お届け先住所</dt>
			<dd>: 〒987-6543　神奈川県横浜市西区2-2-2</dd>
		</dl>
		<div class="mypage_form_item_func">
			<a href="">配送状況の確認</a>
			<a href="/mypage/historycontact.shtml">注文取消し・返品についてのお問い合わせ</a>
		</div>
	</div>
</div>	
