<!-- 000001 ////////////////////////////////////////////////// -->
<div class="item_panel ticket_image">
	<div class="item_panel_pattern_img"><img src="/img/item/000002/img.jpg" /></div>
	<div class="item_panel_pattern_info">
		<ul class="item_panel_icon">
			<li class="item_panel_icon_place">東京</li>
		</ul>
		<p class="item_panel_info">2014 00.00(月)</p>
		<h3 class="item_panel_main_title">JUJU</h3>
		<h4 class="item_panel_sub_title">ブルーノート東京 スペシャルライブ</h4>
		<ul class="item_panel_price">
			<li class="item_panel_price_mem"><span class="item_panel_price_bold">￥8,700〜</span> (通常価格)</li>
			<li class="item_panel_price_jam"><span class="item_panel_price_bold">￥7,650〜</span> (JAM SESSION会員価格)</li>
		</ul>
	</div>
	<a class="item_panel_link" href="/ticket/item-[0000].shtml"></a>
</div>