<!-- 000001 ////////////////////////////////////////////////// -->
<div class="item_panel ticket_image">
	<div class="item_panel_pattern_img"><img src="/img/item/000003/img.jpg" /></div>
	<div class="item_panel_pattern_info">
		<ul class="item_panel_icon">
			<li class="item_panel_icon_place">神奈川・愛知</li>
		</ul>
		<p class="item_panel_info">2014 00.00(月)〜2014 00.00(月)</p>
		<h3 class="item_panel_main_title">JAQUES MORELENBAUM, PAULA MORELENBAUM &amp; GORO ITO</h3>
		<h4 class="item_panel_sub_title">JAQUES MORELENBAUM, PAULA MORELENBAUM &amp; GORO ITO JAQUES MORELENBAUM, PAULA MORELENBAUM &amp; GORO ITO</h4>
		<ul class="item_panel_price">
			<li class="item_panel_price_mem"><span class="item_panel_price_bold">￥8,700〜</span> (通常価格)</li>
			<li class="item_panel_price_jam">※JAM SESSION会員割引対象外</li>
		</ul>
	</div>
	<a class="item_panel_link" href="/ticket/item-[0000].shtml"></a>
</div>